<div class="modal-body" style="width: 483px; display: flex; flex-direction: column; height: 99vh;">
    <div style="flex: 1;">
        <div class="headline">Cost Code</div>

        <div class="card mt-1-1">
            <div class="card-body p-2-1">
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label" i18n>Name</label>
                        <input class="form-control" type="text" id="name" required i18n-placeholder
                            placeholder="Enter Name" [(ngModel)]="costcode.txtName"
                            [ngClass]="{'is-invalid':costcodeError.txtName && costcode.txtName.length == 0}" />
                        <div *ngIf="costcodeError.txtName && costcode.txtName.length == 0" class="invalid-feedback"
                            i18n>
                            <i class="fe-alert-triangle invalid-feedback-icon"></i>
                            Name required
                        </div>
                    </div>
                </div>
                <div class="row mt-2-1">
                    <div class="col-md-12">
                        <label class="form-label" i18n>Code</label>
                        <input class="form-control" type="text" id="costCode" required i18n-placeholder [readonly] = "codeEdit"
                            placeholder="ID Cost Code number" [(ngModel)]="costcode.costCode"
                            [ngClass]="{'is-invalid':costcodeError.costCode && costcode.costCode.length == 0}" />
                        <div *ngIf="costcodeError.costCode && costcode.costCode.length == 0" class="invalid-feedback"
                            i18n>
                            <i class="fe-alert-triangle invalid-feedback-icon"></i>
                            Code required
                        </div>
                    </div>
                </div>
                <div class="row mt-2-1">
                    <div class="col-md-12">
                        <label class="form-label" i18n>Category</label>
                        <div class="d-inline-block float-end text-primary line-24 cursor-pointer bold-600"
                            (click)="openAddCategoryModal()"><i class="fe-plus-square"></i> Create New Category
                        </div>
                        <div ngbDropdown class="mt-sm-0 mt-2">
                            <input class="form-select position-relative cursor-default" type="text" id="Class" i18n-placeholder
                                placeholder="Select category" [(ngModel)]="costcode.category" readonly
                                [ngClass]="{'is-invalid':costcodeError.idCategory}" ngbDropdownToggle />

                            <div ngbDropdownMenu aria-labelledby="paymentTerms" style="max-height: 240px;overflow: auto;">
                                <a href="javascript:void(0)" *ngFor="let item of this.costCodeCategoryList"
                                    (click)="SetClass(item)" ngbDropdownItem>{{item.txtName}}</a>
                            </div>
                        </div>
                        <div *ngIf="costcodeError.idCategory" class="mt-1" i18n>
                            <i class="fe-alert-triangle invalid-feedback-icon"></i>
                            Category required
                        </div>
                    </div>
                </div>
                <div class="row mt-2-1">
                    <div class="col-md-12">
                        <label class="form-label" i18n>Description</label>
                        <span class="float-end text-optional">Optional</span>
                        <textarea class="form-control" type="text" id="txtNotes" required i18n-placeholder rows="5"
                            placeholder="" [(ngModel)]="costcode.txtNotes" maxlength="250"></textarea>
                        <div class="mt-1-1 caption400">{{250 - costcode.txtNotes.length}} symbols left</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div style="height: 97px;">
        <div class="row">
            <div class="col-md-12 d-grid">
                <button class="btn btn-primary" (click)="createCostCode()"
                    [disabled]="costcode.txtName.length ==0">{{costcodeButtonText}}</button>
            </div>
        </div>
        <div class="row mt-1-1">
            <div class="col-md-12 d-grid">
                <button class="btn btn-outline-primary" (click)="openCancelCostCode()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-x" (click)="openCancelCostCode()">
    <i class="fe-x"></i>
</div>


<ng-template #addCategoryModal let-modal>
    <app-add-category [modal]="addCategoryModalRef"></app-add-category>
</ng-template>


<ng-template #cancelcostcode let-modal>
    <div class="delete-modal-container">
        <input type="text" style="display: none;" />
        <div class="row">
            <div class="col-md-10">
                <div class="headline-24 text-start">Close without saving</div>
            </div>
            <div class="col-md-2 text-end text-black">
                <i class="fe-x cursor-pointer bold-600" (click)="closeCancelCostCode()"></i>
            </div>
        </div>
        <div class="delete-alert-content text-start">Do you want to close the page? All changes will not be saved.</div>

        <div class="d-flex justify-content-between mt-3">
            <div class="delete-cancel-button mt-0 line-40 cursor-pointer" (click)="cancelCostCode()">
                Cancel
            </div>
            <div>
                <button class="btn btn-outline-primary" (click)="closeCancelCostCode()">Close without saving</button>
                <button class="btn btn-primary ms-3" (click)="SaveCancelCostCode()">Save and Close</button>
            </div>
        </div>
    </div>
</ng-template>
