<div class="row">
    <div class="col-md-6 headline">
        My Company
    </div>
    <div class="col-md-6 text-end">
        <button class="btn btn-primary">Save</button>
        <i class="fe-more-vertical- font-24 ms-2-1"></i>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-5">
        <ul ngbNav #nav2="ngbNav" [(activeId)]="tabs2" class="nav-pills navtab-bg nav-justified">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    Profile
                </a>

            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    Company Details
                </a>

            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>
                    Payment Accounts
                </a>

            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>
                    Cost Codes
                </a>

            </li>
        </ul>
    </div>
</div>
<div class="row mt-40">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    Company Details
                    <a href="mail:">asdf</a>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="firstname" class="form-label" i18n>Tax ID/EIN</label>
                        <input class="form-control mb-1-1" type="text" id="firstname" required i18n-placeholder
                            placeholder="First Name" formControlName="firstname" />
                    </div>
                    <div class="col-md-6">
                        <label for="firstname" class="form-label" i18n>Tax ID/EIN</label>
                        <input class="form-control mb-1-1" type="text" id="firstname" required i18n-placeholder
                            placeholder="First Name" formControlName="firstname" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="firstname" class="form-label" i18n>Tax ID/EIN</label>
                        <select  class="form-select mb-1-1"  i18n-placeholder>
                            <option>ABC</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="firstname" class="form-label" i18n>Payment Terms</label>
                        <input class="form-control mb-1-1" type="text" id="firstname" required i18n-placeholder
                            placeholder="First Name" formControlName="firstname" />

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label for="firstname" class="form-label" i18n>Payment Terms</label>
                        <input class="form-control mb-1-1" type="text" id="firstname" required i18n-placeholder
                            placeholder="First Name" formControlName="firstname" />
                    </div>
                    <div class="col-md-5">
                        <label for="firstname" class="form-label" i18n>Payment Terms</label>
                        <input class="form-control mb-1-1" type="text" id="firstname" required i18n-placeholder
                            placeholder="First Name" formControlName="firstname" />
                    </div>
                    <div class="col-md-2">
                        <label for="firstname" class="form-label" i18n>Payment Terms</label>
                        <input class="form-control mb-1-1" type="text" id="firstname" required i18n-placeholder
                            placeholder="First Name" formControlName="firstname" />
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-5">
                        <label for="firstname" class="form-label" i18n>Payment Terms</label>
                        <input class="form-control mb-1-1" type="text" id="firstname" required i18n-placeholder
                            placeholder="First Name" formControlName="firstname" />
                    </div>
                    <div class="col-md-5">
                        <label for="firstname" class="form-label" i18n>Payment Terms</label>
                        <input class="form-control mb-1-1" type="text" id="firstname" required i18n-placeholder
                            placeholder="First Name" formControlName="firstname" />
                    </div>
                    <div class="col-md-2">
                        <label for="firstname" class="form-label" i18n>Payment Terms</label>
                        <input class="form-control mb-1-1" type="text" id="firstname" required i18n-placeholder
                            placeholder="First Name" formControlName="firstname" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="firstname" class="form-label" i18n>Tax ID/EIN</label>
                        <input class="form-control mb-1-1" type="text" id="firstname" required i18n-placeholder
                            placeholder="First Name" formControlName="firstname" />
                    </div>
                    <div class="col-md-6">
                        <label for="firstname" class="form-label" i18n>Tax ID/EIN</label>
                        <input class="form-control mb-1-1" type="text" id="firstname" required i18n-placeholder
                            placeholder="First Name" formControlName="firstname" />
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
            </div>
        </div>
    </div>
</div>