<app-default-layout>
    <div class="text-center mb-3">
        <h5 i18n>Check your email</h5>
        <p class="Subtitle-3">We have sent a password recover instructions to your email</p>
    </div>
    <div class="mb-3 d-grid text-center auth-button">
        <button class="btn btn-primary mb-2-1" type="submit" i18n>Open Email app</button>
        <span i18n >
            Didn’t recieve the email? Check your spam filter or  
          <a routerLink="../register">Try phone number</a>
        </span>
      </div>
</app-default-layout>