<div class="row mt-2-1">
    <div class="col-md-2 d-flex align-items-center">
        <div class="font-20 bold-600">Roles</div>
    </div>
    <div class="col-md-10 text-end">
        <div class="d-inline-block form-check form-switch line-24  me-2-1">
            <input id="archiveSwitch" type="checkbox" class="form-check-input me-1-1" [(ngModel)]="showArchived" (change)="filterArchivedRoles()" />
            <label for="archiveSwitch" class="form-check-label align-middle subtitle-2-500">Show Archived</label>
        </div>
        <div class="d-inline-block ms-1-1">
            <input class="form-control form-search" type="search" placeholder="Search here" [(ngModel)]="keywords" (ngModelChange)="filterArchivedRoles()" style="padding: 10px 16px 10px 36px;"/>
        </div>
        <!-- end search-->
        <button class="btn btn-primary ms-2-1 btn-text-12" (click)="newRole()" *ngIf="canEdit"
                style="margin-top: -1px;padding: 10px 16px;" [disabled]="newRoleStatus"><i
                class="fe-plus-square me-1-1" style="vertical-align: bottom;"></i>New Role
        </button>
    </div>
</div>
<ngx-simplebar id="simplebar-roles" [options]="scrollOptions" class="mt-2-1" style="height: calc(100vh - 260px);">
    <table class="role-table advanced-table no-border" style="width: max-content;min-width: 100%;">
        <thead>
        <tr>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'txtName' && direction == 'asc','sorting_desc':sortColumn == 'txtName' && direction == 'desc'}"
                (click)="onSort('txtName')" style="width: 130px;">Permissions
            </th>
            <th *ngFor="let role of roles; let i=index;">
                <div *ngIf="!role.isEditing" class="th-header">
                    {{role.txtName}}
                    <div *ngIf="role.access > 2 && !role.active"
                         class="archived-text subtitle-2-600 text-optional ms-1-1">Archived
                    </div>
                    <div ngbDropdown>
                        <button class="ms-1-1" style="padding: 0;border: none;" ngbDropdownToggle>
                            <i class="fe-more-vertical- cursor-pointer"></i>
                        </button>
                        <div ngbDropdownMenu style="padding: 0;" *ngIf="canEdit">
                            <a class="subtitle-2-500" href="javascript:void(0);" (click)="duplicateRole(role)"
                               style="padding: 12px;" ngbDropdownItem>
                                <i class="fe-copy me-1-1"></i>
                                Duplicate
                            </a>
                            <a *ngIf="role.access > 1" class="subtitle-2-500" href="javascript:void(0);"
                               (click)="editRoleName(role)" style="padding: 12px;"
                               ngbDropdownItem>
                                <i class="fe-edit-1 me-1-1"></i>
                                Edit name
                            </a>
                            <a *ngIf="role.access > 2 && role.active" class="subtitle-2-500" href="javascript:void(0);"
                               (click)="toggleRoleArchive(role);" style="padding: 12px;" ngbDropdownItem>
                                <i class="fe-x me-1-1"></i>
                                Archive
                            </a>
                            <a *ngIf="role.access > 2 && !role.active" class="subtitle-2-500" href="javascript:void(0);"
                               (click)="toggleRoleArchive(role)" style="padding: 12px;" ngbDropdownItem>
                                <i class="fe-refresh-ccw me-1-1"></i>
                                Restore
                            </a>
                        </div>
                    </div>
                </div>
                <div *ngIf="role.isEditing">
                    <input class="search-text" placeholder="Role Name" [(ngModel)]="role.txtName"
                           style="width: 140px;border-radius: 8px;padding: 4px 8px;border: 1px solid #E1E6EF;outline: none;"/>
                    <i class="fe-check font-16 ms-1-1" (click)="saveEditRoleName(role)" style="color: #22C55E;"></i>
                    <i class="fe-x font-16 ms-1-1" (click)="role.isEditing=false;role.txtName=initialRoleName;"
                       style="color: #F87171;"></i>
                </div>
            </th>
            <th *ngIf="newRoleStatus" style="width: 216px;">
                <input class="search-text" placeholder="Role Name" [(ngModel)]="roleName"
                       style="width: 140px;border-radius: 8px;padding: 4px 8px;border: 1px solid #E1E6EF;outline: none;"/>
                <i class="fe-check font-16 ms-1-1" (click)="saveRole()" style="color: #22C55E;"></i>
                <i class="fe-x font-16 ms-1-1" (click)="cancelNewRole()" style="color: #F87171;"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let permission of permissions; let i = index">
            <td>{{permission.permissionName}}</td>
            <td *ngFor="let roleaccess of permission.roleaccess; let ii=index;" class="text-center">
                <input class="form-check-input" type="checkbox" [(ngModel)]="roleaccess.access"
                       (change)="togglePermissionRole(permission.permissionId, roleaccess)" [disabled]="roleaccess.idRole==2 || !canEdit"/>
            </td>
            <td *ngIf="newRoleStatus" class="text-center">
                <input class="form-check-input" type="checkbox" [(ngModel)]="permission.access"/>
            </td>
        </tr>
        </tbody>
    </table>
</ngx-simplebar>
<div *ngIf="roles.length==0" class="text-center">
    <div class="Paragraph-1 text-typeblackdeactivated bold-600  mt-40 ">No Roles added yet</div>
    <div class="Paragraph-2 text-typeblackdeactivated mt-1-1">Create new roles in a few clicks
    </div>
    <div class="mt-1-1">
        <button class="btn btn-outline-primary ms-2-1 btn-text-12" (click)="newRole()"><i
                class="fe-plus-square me-1-1" style="vertical-align: bottom;"></i>New Role
        </button>
    </div>
</div>

<!-- #addRoleModal -->
<ng-template #addRoleModal let-modal>
    <app-add-role [params]={rolesParams} [modalRef]={modalRef}></app-add-role>
</ng-template>

<!--#archiveModal-->
<ng-template #archiveModal let-modal>
    <app-confirm-modal [title]="archiveObj.title" [message]="archiveObj.message" [btnConfirm]="archiveObj.btnConfirm"
                       [params]="archiveObj.params" [serviceName]="archiveObj.serviceName"
                       [btnSide]="archiveObj.btnSide" [modalRef]="archiveModalRef"></app-confirm-modal>
</ng-template>
