<div class="orders-dropdown row mt-2-1">
    <div class="col-md-4 flex-row-center">
        <span class="headline-24">{{statusFilter}} {{ statusFilter != 'Active' ? '(' + listStatusCount[statusFilter] + ')' : ''}}</span>
        <div class="d-inline-block dropdown dropdown-40 ms-1-2" ngbDropdown #statusDrop="ngbDropdown">
            <a class="dropdown-outline" href="javascript:void(0)"
               ngbDropdownToggle>
                <span class="text-typeblack80">Status</span>
                <span class="ms-1-1 text-black btn-text-12">{{statusFilter}}</span>
                <i class="fe-chevron-down text-black ms-1-1"></i>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div *ngFor="let status of objectKeys(listStatusCount)" ngbDropdownItem>
                    <div class="form-check">
                        <input id="status_{{status}}" type="checkbox" class="form-check-input"
                               [checked]="statusFilter==status"
                               (change)="statusFilterChange($event, status, 'statusFilter')">
                        
                        <label for="status_{{status}}"
                               class="d-inline-block {{status == 'Active' ? 'NO' : globalFunc.toCamelCase(status.toLowerCase())}}Tag subtitle-2-600 text-optional text-center ms-2-1">{{status}}
                        </label>
                        
                        <label for="status_{{status}}"
                               class="ms-2-1 subtitle-2-400-12 text-optional">{{ status != 'Active' ? listStatusCount[status] : ''}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 d-flex flex-row justify-content-end">
        <!--        <div class="d-inline-block me-2-1 subtitle-2-600 pt-1-1 c-p" style="color: #215EA9;">-->
        <!--            Sort by-->
        <!--            <i class="fe-filter ms-1-1 font-16"></i>-->
        <!--        </div>-->
        <div class="d-inline-block">
            <input class="form-control form-search" type="search" placeholder="Search here" [(ngModel)]="keywords"
                   style="padding: 10px 16px 10px 36px;"/>
        </div>
        <div class="d-flex align-items-center ms-2-1" style="padding-right: 0.25rem;">
            <button class="btn btn-primary btn-text-12" (click)="openPaySelectedModal()" [disabled]="paySelectedBtnStatus()"
                    style="padding: 6px 16px;">
                Pay Selected
            </button>
        </div>
    </div>
</div>
<ngx-simplebar [options]="scrollOptions" class="mt-2-1" style="height: calc(100vh - 265px);">
    <table class="orders-table advanced-table table-height-40" style="width: max-content;min-width: 100%;">
        <thead>
        <tr>
            <th class="row_select"><input class="form-check cursor-pointer" [(ngModel)]="allOrdersChecked" type="checkbox" (change)="toggleAllOrdersChecked()"/></th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'status' && direction == 'asc','sorting_desc':sortColumn == 'status' && direction == 'desc'}"
                (click)="onSort('status')">Status
            </th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'invoicedDate' && direction == 'asc','sorting_desc':sortColumn == 'invoicedDate' && direction == 'desc'}"
                (click)="onSort('invoicedDate')">Date
            </th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'order' && direction == 'asc','sorting_desc':sortColumn == 'order' && direction == 'desc'}"
                (click)="onSort('order')">Order #
            </th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'vendor' && direction == 'asc','sorting_desc':sortColumn == 'vendor' && direction == 'desc'}"
                (click)="onSort('vendor')">Contact
            </th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'invoice' && direction == 'asc','sorting_desc':sortColumn == 'invoice' && direction == 'desc'}"
                (click)="onSort('invoice')">Bill # - Due Date
            </th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'project' && direction == 'asc','sorting_desc':sortColumn == 'project' && direction == 'desc'}"
                (click)="onSort('project')">Project
            </th>
<!--            <th class="sortable"-->
<!--                [ngClass]="{'sorting_asc':sortColumn == 'costCode' && direction == 'asc','sorting_desc':sortColumn == 'costCode' && direction == 'desc'}"-->
<!--                (click)="onSort('costCode')">Cost Code-->
<!--            </th>-->
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'amount' && direction == 'asc','sorting_desc':sortColumn == 'amount' && direction == 'desc'}"
                (click)="onSort('amount')">Amount
            </th>
<!--            <th class="sortable"-->
<!--                [ngClass]="{'sorting_asc':sortColumn == 'approval' && direction == 'asc','sorting_desc':sortColumn == 'approval' && direction == 'desc'}"-->
<!--                (click)="onSort('approval')">Approval-->
<!--            </th>-->
<!--            <th class="sortable"-->
<!--                [ngClass]="{'sorting_asc':sortColumn == 'action' && direction == 'asc','sorting_desc':sortColumn == 'action' && direction == 'desc'}"-->
<!--                (click)="onSort('action')">Action-->
<!--            </th>-->
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr class="c-p" *ngFor="let item of orders | callback: filterTable; let i = index"
            (click)="openDetail(item.id)">
            <td>
                <div (click)="$event.stopPropagation();">
                    <input class="form-check cursor-pointer" [(ngModel)]="item.checked" type="checkbox" (change)="toggleOrderChecked();" [disabled]="item.status == 'Paid'"/>
                </div>
            </td>
            <td>
                <div class="d-inline-block {{globalFunc.toCamelCase(item.status.toLowerCase())}}Tag subtitle-2-600 text-blackprimary-op-50 text-center">{{item.status}}</div>
            </td>
            <td>{{item.invoicedDate | date: 'M/dd/yy'}}</td>
            <td>
                {{item.orderNumber}}
            </td>
            <td>
                {{item.vendorName}}
            </td>
            <td>
                {{item.invoiceNumber ==''?'':item.invoiceNumber + ' - '}} Due {{item.indvoicedueDate | date: 'M/dd'}}
            </td>
            <td>
                {{item.projectName}}
            </td>
            <!--            <td>-->
            <!--                {{item.costCodeName}}-->
            <!--            </td>-->
            <td class="text-end">
                {{item.remainingAmount | currency}}
            </td>
<!--            <td>-->
<!--                <div class="d-flex flex-row">-->
<!--                    <div class="me-1-1">-->
<!--                        <div [ngClass]="bgColors[i % 6]" class=" rounded-circle"-->
<!--                             style="width:32px; height: 32px; padding: 8px;">-->
<!--                            <i class="fe-user text-white  font-16"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column search-text">-->
<!--                        <div class="text-blackprimary text-overflow-ellipsis"-->
<!--                             style="max-width: 120px;">{{item.vendorName}}</div>-->
<!--                        <div class="text-blackprimary-op-50">{{item.vendorType}}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </td>-->
            <td class="text-center">
                <button *ngIf="item.status !== 'Paid'" (click)="$event.stopPropagation();payBill(item);" class="btn btn-primary btn-text-12" style="padding: 6px 27px;">
                    Pay Bill
                </button>
                <button *ngIf="item.status === 'Paid'" class="btn btn-outline-primary btn-text-12"
                        style="padding: 7px 12px;">
                    View Details
                </button>
            </td>
            <td class="text-center">
                <i class="fe-paperclip" (click)="$event.stopPropagation();uploadAttachments(item);"></i>
            </td>
            <td class="text-center">
                <i class="fe-more-vertical- c-p"></i>
            </td>
        </tr>
        </tbody>
        <tbody *ngIf="orders.length == 0 && loading" class="bg-white">
        <tr>
            <td colspan="11">
                <div style="position: relative; height: 400px;">
                    <app-ui-preloader [display]="loading"></app-ui-preloader>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</ngx-simplebar>

<!--uploadAttachment-->
<ng-template #uploadAttachmentModal let-modal>
    <app-upload-attachment [idOrder1]="uploadIdOrder1" [modalRef]="uploadAttachmentRef"></app-upload-attachment>
</ng-template>


<ng-template #payingBillModal let-modal>
    <app-paying-bill [payment]="selectedOrders" [modalRef]="payingBillModalRef"></app-paying-bill>
</ng-template>
