<app-default-layout>
    <div class="text-center mb-3">
        <h5 i18n>Forgot Password?</h5>
        <p class="Subtitle-3">No worries, we'll send you reset instructions</p>
    </div>

    <form [formGroup]="resetPassswordForm" (ngSubmit)="onSubmit()" *ngIf="!successMessage">
        <div class="mb-3">
            <label for="phone" class="form-label" i18n>Phone number</label>

            <input class="form-control" type="text" required i18n-placeholder id="phone"
                placeholder="Enter Phone number" formControlName="phone" prefix="+1" mask="(000)000-0000"
                [ngClass]="{'is-invalid':formSubmitted && formValues['phone'].invalid}" />

            <div *ngIf="formSubmitted && formValues['phone'].invalid " class="invalid-feedback">

                <div *ngIf="formValues['phone'].errors?.['required']" i18n>
                    Phone number is required.
                </div>

            </div>
        </div>

        <div class="mb-3 d-grid text-center auth-button">
            <button class="btn btn-primary mb-2-1" type="submit" i18n>Reset Password</button>
            <span i18n >
                Forgot your phone number? 
              <a routerLink="../recover-password">Try email</a>
            </span>
          </div>

    </form>

</app-default-layout>