<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Basic Example</h4>
                <p class="sub-header">
                    Default progress bar.
                </p>
                <ngb-progressbar [value]="0" class="progress-md mb-3"></ngb-progressbar>
                <ngb-progressbar [value]="50" class="progress-md mb-3"></ngb-progressbar>
                <ngb-progressbar [value]="100" class="progress-md mb-3"></ngb-progressbar>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->

    
</div>
<!-- end row -->
