<app-default-layout>
  <div class="text-center mb-3">
    <h5 i18n>Log in</h5>
    <h6>WELCOME back</h6>
  </div>
  <div style="display: flex" class="mb-3">
    <div class="otherLogin">
      <img src="assets/images/Google.png" alt="" />
      <span class="ms-1-1">Log in with Google</span>
    </div>
    <div class="otherLogin ms-2-1">
      <img src="assets/images/apple.png" alt="" />
      Log in with Apple
    </div>
  </div>
  <div class="lineorline mb-3">
    or
  </div>
  <form name="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <ngb-alert [dismissible]="false" type="danger" *ngIf="error">
      {{ error }}
    </ngb-alert>
    <div class="mb-2-1">
      <label for="emailaddress" class="form-label" i18n>Email</label>
      <input class="form-control" type="email" id="emailaddress" required i18n-placeholder placeholder="Enter Email"
        formControlName="email" [ngClass]="{'is-invalid':formSubmitted && formValues['email'].invalid}" />

      <div *ngIf="formSubmitted && formValues['email'].invalid" class="invalid-feedback">

        <div *ngIf="formValues['email'].errors?.['required']" i18n>
          <i class="fe-alert-triangle invalid-feedback-icon"></i> Please enter email
        </div>
        <div *ngIf="formValues['email'].errors?.['email']" i18n>
          <i class="fe-alert-triangle invalid-feedback-icon"></i> Email must be a valid Email Address
        </div>

      </div>
    </div>

    <div class="mb-3" style="position: relative;">
      <label for="password" class="form-label" i18n>Password</label>
      <label class="float-end"><a routerLink="../recover-password">Forgot Password?</a></label>

      <input class="form-control" type="password" required i18n-placeholder id="password" placeholder="Enter Password"
        formControlName="password" *ngIf="!showPassword"
        [ngClass]="{'is-invalid':formSubmitted && formValues['password'].invalid}" />
      <input class="form-control" type="text" required i18n-placeholder id="password" placeholder="Enter Password"
        formControlName="password" *ngIf="showPassword"
        [ngClass]="{'is-invalid':formSubmitted && formValues['password'].invalid}" />
      <i class="fe-eye-off passwordIcon" *ngIf="!(formSubmitted && formValues['password'].invalid) && !showPassword "
        (click)="inputShowPassword()"></i>
      <i class="fe-eye passwordIcon hide" *ngIf="!(formSubmitted && formValues['password'].invalid)&& showPassword  "
        (click)="inputShowPassword()"></i>
      <div *ngIf="formSubmitted && formValues['password'].invalid " class="invalid-feedback">

        <div *ngIf="formValues['password'].errors?.['required']" i18n>
          <i class="fe-alert-triangle invalid-feedback-icon"></i> Password is required.
        </div>

      </div>
    </div>


    <div class="mb-3 d-grid text-center auth-button">
      <button class="btn btn-primary mb-2-1" type="submit" i18n>Log in</button>
      <span i18n>
        Don't have an account?
        <a routerLink="../register">Sign up</a>
      </span>
    </div>
  </form>

  <ng-template #centeredModal let-modal>
    <div class="modal-header">
        <i class="fe-x swal2-close align-text-bottom "  (click)="modal.dismiss('Cross click')"></i>
    </div>
    <div class="modal-body" style="padding-top: 0;">
        <div class="swal2-alert-title">Two-factor authentication is enabled</div>
        <div class="swal2-alert-content">Enter the 4-digit code sent to you </div>

        <div class="code-input-container" >
            <code-input [initialFocusField]="0" [isCodeHidden]="false" [codeLength]="4"
                (codeChanged)="onCodeChanged($event)" (codeCompleted)="onCodeCompleted($event)">
            </code-input>
        </div>
        <div class="swal2-alert-link">{{paracont}}</div>
    </div>
</ng-template>
</app-default-layout>