<app-default-layout>
    <div class="text-center mb-3">
        <h5 i18n>Forgot Password?</h5>
        <p class="Subtitle-3">No worries, we'll send you reset instructions</p>
    </div>

    <form [formGroup]="resetPassswordForm" (ngSubmit)="onSubmit()" *ngIf="!successMessage">
        <div class="mb-3">
            <label for="emailaddress" class="form-label" i18n>Email address</label>
            <input class="form-control  mb-1-1" type="email" id="emailaddress" required i18n-placeholder
                placeholder="Enter your email" formControlName="email"
                [ngClass]="{'is-invalid': formSubmitted && formValues['email'].invalid}">
                <small *ngIf="!(formSubmitted && formValues['email'].invalid)" id="emailHelp" class="form-text text-muted"> A verification email will be sent to you to verify your address</small>
               
            <div *ngIf="formSubmitted && formValues['email'].invalid" class="invalid-feedback">

                <div *ngIf="formValues['email'].errors?.['required']" i18n>
                    <i class="fe-alert-triangle invalid-feedback-icon"></i> Please enter email
                </div>
                <div *ngIf="formValues['email'].errors?.['email']" i18n>
                    <i class="fe-alert-triangle invalid-feedback-icon"></i> Email must be a valid Email Address
                </div>

            </div>
        </div>

        <div class="mb-3 d-grid text-center auth-button">
            <button class="btn btn-primary mb-2-1" type="submit" i18n>Reset Password</button>
            <span i18n >
                Forgot your email? 
              <a routerLink="../recover-password-phone">Try phone number</a>
            </span>
          </div>

    </form>

</app-default-layout>