<div class="row">
    <div class="col-md-6 headline line-44">
        My Company
    </div>
    <div class="col-md-6 text-end">
        <button *ngIf="tabs == 1" class="btn btn-primary" (click)="saveCompany()">Save</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <ul ngbNav #nav="ngbNav" [(activeId)]="tabs" class="nav-pills navtab-bg">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    Details
                </a>
                <ng-template ngbNavContent>
                    <div class="row mt-2-1">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 headline">
                                            Company Details
                                        </div>
                                        <div class="col-md-6 d-flex flex-row-reverse">

                                            <div class="upload-icon cursor-pointer" (click)="showFileDialog()"
                                                style="opacity: {{company.avatar ? 0 : 1}}">
                                                <i class="fe-upload-cloud font-24"></i>
                                                <input type="file" id="logoFile" #fileInput accept="image/*"
                                                    (change)="onSelected($event)" class="invisible" />
                                            </div>
                                            <div class="me-2 pt-2 upload-text">
                                                <span *ngIf="!company.avatar">upload<br /> your LOGO</span>
                                                <app-avatar *ngIf="company.avatar" [url]="company.avatar"
                                                    [companyName]="company.txtName" [size]="56" alt="user-img"
                                                    class="ms-2"
                                                    style="position: absolute;top: 24px;right: 24px;pointer-events: none;"></app-avatar>
                                            </div>

                                            <div class="d-inline-block dropdown ms-1-1" ngbDropdown>
                                                <span ngbDropdownToggle><i
                                                        class="fe-chevron-down line-56 cursor-pointer"></i></span>
                                                <div class="dropdown-menu" ngbDropdownMenu>
                                                    <div class="cursor-pointer ps-0" ngbDropdownItem
                                                        (click)="showFileDialog()">
                                                        <i class="fe-upload me-1-1"></i>Upload Logo
                                                    </div>
                                                    <div class="text-danger cursor-pointer ps-0" ngbDropdownItem>
                                                        <i class="fe-trash-2 me-1-1"></i> Delete
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row mt-2-1">
                                        <div class="col-md-6">
                                            <label class="form-label" i18n>Company Name</label>
                                            <input class="form-control" type="text" id="companyName" required
                                                i18n-placeholder placeholder="Company Name"
                                                [(ngModel)]="company.txtName" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" i18n>Tax ID/EIN</label>
                                            <input class="form-control" type="text" id="taxId" required i18n-placeholder
                                                placeholder="Tax ID/EIN" [(ngModel)]="company.taxId" />
                                        </div>
                                    </div>
                                    <div class="row mt-2-1">
                                        <div class="col-md-6">
                                            <label class="form-label" i18n>Industry</label>
                                            <input id="txtindustry" type="text"
                                                class="form-control form-select position-relative"
                                                [ngbTypeahead]="searchIndustry" (selectItem)="setIndustry($event)"
                                                [(ngModel)]="company.industry"
                                                (focus)="focus1$.next($any($event).target.value)"
                                                placeholder="Enter the industry or sector in which the company operates" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" i18n>Payment Terms</label>
                                            <div ngbDropdown class="mt-sm-0 mt-2">
                                                <input class="form-select position-relative" type="text"
                                                    id="paymentTerms" i18n-placeholder placeholder="Payment Terms"
                                                    [(ngModel)]="company.paymentTerms" ngbDropdownToggle />

                                                <div ngbDropdownMenu aria-labelledby="paymentTerms">
                                                    <a href="javascript:void(0)"
                                                        *ngFor="let item of this.paymentTermsList"
                                                        (click)="dropdownSelect(item)" ngbDropdownItem>{{item}}</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row mt-2-1">
                                        <div class="col-md-12">
                                            <label class="form-label" i18n>Business Description</label>
                                            <input class="form-control" type="text" id="description" required
                                                i18n-placeholder
                                                placeholder="Enter a brief description or summary of the company's products, services, or activities"
                                                [(ngModel)]="company.description" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row" style="height: 56px;">
                                        <div class="col-md-6 headline">
                                            Company Address
                                        </div>
                                    </div>
                                    <div class="row mt-2-1">

                                        <div class="col-md-9">
                                            <label class="form-label" i18n>Street Address</label>
                                            <input class="form-control" type="text" id="txtAddress" required
                                                i18n-placeholder placeholder="Street Address"
                                                [(ngModel)]="company.txtAddress" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label" i18n>Apt,suite,etc</label>
                                            <input class="form-control" type="text" id="firstname" required
                                                i18n-placeholder placeholder="Apt,suite,etc"
                                                [(ngModel)]="company.suiteNumber" />
                                        </div>
                                    </div>


                                    <div class="row mt-2-1">
                                        <div class="col-md-4">
                                            <label class="form-label" i18n>City</label>
                                            <input class="form-control" type="text" id="txtCity" required
                                                i18n-placeholder placeholder="City" [(ngModel)]="company.txtCity" />
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label" i18n>State</label>
                                            <input id="txtState" type="text" class="form-select position-relative"
                                                [ngbTypeahead]="searchState"
                                                (focus)="focus$.next($any($event).target.value)" placeholder="State"
                                                (click)="click$.next($any($event).target.value)"
                                                #instance="ngbTypeahead" [(ngModel)]="company.txtState" />
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label" i18n>Zip Code</label>
                                            <input class="form-control" type="text" id="txtZipcode" required
                                                i18n-placeholder maxlength="6" placeholder="Zip Code"
                                                [(ngModel)]="company.txtZipcode" />
                                        </div>
                                    </div>

                                    <div class="row mt-2-1">
                                        <div class="col-md-6">
                                            <label class="form-label" i18n>Website <small
                                                    class="text-optional">(optional)</small></label>
                                            <input class="form-control" type="text" id="website" i18n-placeholder
                                                placeholder="Website" [(ngModel)]="company.website" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" i18n>Contact Number <small
                                                    class="text-optional">(optional)</small></label>
                                            <input class="form-control" type="text" id="contactNumber" i18n-placeholder
                                                placeholder="Contact Number" [(ngModel)]="company.contactNumber" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    Cost Codes
                </a>
                <ng-template ngbNavContent>
                    <app-costcode></app-costcode>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>
                    Payment
                </a>
                <ng-template ngbNavContent>
                    <app-payment></app-payment>
                </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>
                    Roles
                </a>
                <ng-template ngbNavContent>
                    <app-roles></app-roles>
                </ng-template>
            </li>
        </ul>
    </div>
    <div [ngbNavOutlet]="nav" class="mb-0 b-0 pt-0"></div>
</div>