<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Rounded Circle</h4>
                <p class="text-muted font-14 mb-4">
                    Using an additional class <code>.rounded-circle</code> in <code>&lt;img&gt;</code> element creates
                    the rounded avatar.
                </p>

                <div class="row">
                    <div class="col-md-4">
                        <img src="assets/images/users/user-7.jpg" alt="image"
                            class="img-fluid avatar-xs rounded-circle" />
                        <p class="mt-1">
                            <code>.avatar-xs .rounded-circle</code>
                        </p>
                    </div>

                    <div class="col-md-4">
                        <img src="assets/images/users/user-8.jpg" alt="image"
                            class="img-fluid avatar-sm rounded-circle" />
                        <p>
                            <code>.avatar-sm .rounded-circle</code>
                        </p>
                    </div>

                    <div class="col-md-4">
                        <img src="assets/images/users/user-9.jpg" alt="image"
                            class="img-fluid avatar-md rounded-circle" />
                        <p class="mb-0">
                            <code>.avatar-md .rounded-circle</code>
                        </p>
                    </div>
                </div> <!-- end row-->

            </div>
        </div>
    </div>
</div>
<!-- end row -->
