<div class="row">
    <div class="col-md-6 headline">
        Orders
    </div>
    <div class="col-md-6 text-end">
        <button class="btn btn-primary" *ngIf="canEdit" (click)="openDetail(0)"
                style="padding: 11px 16px;border-width: 1px;">New Order
        </button>
    </div>
</div>

<div class="orders-dropdown row mt-2-1">
    <div class="col-md-4">
        <div class="d-flex align-items-center">
            <span class="subtitle-2-600-24">{{statusFilter}} ({{ordersStatusCount[statusFilter]}})</span>
            <div class="dropdown-outline ms-1-2" ngbDropdown #statusDrop="ngbDropdown">
                <a href="javascript:void(0)"
                   ngbDropdownToggle>
                    <span class="text-typeblack80">Status</span>
                    <span class="ms-1-1 text-black btn-text-12">{{statusFilter}}</span>
                    <i class="fe-chevron-down text-black ms-1-1"></i></a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <div *ngFor="let status of objectKeys(ordersStatusCount)" ngbDropdownItem>
                        <div class="form-check">
                            <input id="status_{{status}}" type="checkbox" class="form-check-input" [checked]="statusFilter==status" (change)="statusFilterChange($event, status, 'statusFilter')">
                            <label class="form-check-label" for="status_{{status}}">
                                {{status}} ({{ordersStatusCount[status]}})
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 d-flex flex-row justify-content-end">
        
        <div class="dropdown" ngbDropdown #roleDrop="ngbDropdown">
            <a class="dropdown-outline" href="javascript:void(0)" ngbDropdownToggle>
                <i class="fe-user font-16 me-1-1"></i>
                {{roleFilter}}
                <i class="fe-chevron-down font-16 ms-1-1"></i>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div ngbDropdownItem (click)="changeRoleFilter('All')">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheckRoleAll" [checked]="roleFilter=='All'" (change)="statusFilterChange($event, 'All', 'roleFilter')"/>
                        <label class="form-check-label ms-1-1">
                            ALL
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem *ngFor="let item of roles">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck{{item.text}}"
                               [checked]="roleFilter==item.text" (change)="statusFilterChange($event, item.text, 'roleFilter')">
                        <label class="form-check-label ms-1-1" for="dropdownCheck{{item.text}}">
                            {{item.text}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--end filter 1-->
        <div class="dropdown ms-1-1" ngbDropdown>
            <a class="dropdown-outline" href="javascript:void(0)" ngbDropdownToggle>
                <i class="fe-folder font-16 me-1-1"></i>
                Project
                <i class="fe-chevron-down font-16 ms-1-1"></i>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div *ngFor="let level of projectLevels" ngbDropdownItem>
                    <div class="form-check">
                        <input id="{{level}}" type="checkbox" class="form-check-input" [checked]="projectLevelFilter==level" (change)="statusFilterChange($event, level, 'projectLevelFilter')">
                        <label class="form-check-label" for="{{level}}">
                            {{level}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--end filter 2-->
        <div class="dropdown ms-1-1 d-none" ngbDropdown #approvalDrop="ngbDropdown">
            <a class="dropdown-outline" href="javascript:void(0)" ngbDropdownToggle>
                <i class="fe-dollar-sign font-16 me-1-1"></i>
                {{approvalAmountFilter}}
                <i class="fe-chevron-down font-16 ms-1-1"></i>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div ngbDropdownItem (click)="changeapprovalAmountFilter('All');">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheckAmountAll"
                               [checked]="approvalAmountFilter=='All'">
                        <label class="form-check-label ms-1-1" for="dropdownCheckAmountAll">
                            ALL
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem (click)="changeapprovalAmountFilter('1000');">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck1000"
                               [checked]="approvalAmountFilter=='1000'">
                        <label class="form-check-label ms-1-1" for="dropdownCheck1000">
                            $1,000
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem (click)="changeapprovalAmountFilter('2000');">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck2000"
                               [checked]="approvalAmountFilter=='2000'" (change)="changeapprovalAmountFilter('2000');">
                        <label class="form-check-label ms-1-1" for="dropdownCheck2000">
                            $2,000
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem (click)="changeapprovalAmountFilter('5000');">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck5000"
                               [checked]="approvalAmountFilter=='5000'">
                        <label class="form-check-label ms-1-1" for="dropdownCheck5000">
                            $5,000
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem (click)="changeapprovalAmountFilter('7500');">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck7500"
                               [checked]="approvalAmountFilter=='7500'">
                        <label class="form-check-label ms-1-1" for="dropdownCheck7500">
                            $7,500
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem (click)="changeapprovalAmountFilter('10000');">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck10000"
                               [checked]="approvalAmountFilter=='10000'">
                        <label class="form-check-label ms-1-1" for="dropdownCheck10000">
                            $10,000
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--end filter 3-->
        <div class="d-inline-block ms-1-1">
            <input class="form-control form-search" type="search" placeholder="Search here" [(ngModel)]="keywords"
                   style="padding: 10px 16px 10px 36px;"/>
        </div>
        <!-- end search-->
        <div class="d-flex align-items-center ms-2-1">
            <button class="btn btn-primary btn-text-12" [disabled]="true"
                    style="padding: 6px 16px;">
                Pay Selected
            </button>
        </div>
    </div>
</div>
<ngx-simplebar [options]="scrollOptions" class="mt-2-1" style="height: calc(100vh - 200px);">
    <table class="orders-table advanced-table" style="width: max-content;min-width: 100%;">
        <thead>
        <tr>
            <th class="row_select"><input class="form-check" type="checkbox"/></th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'status' && direction == 'asc','sorting_desc':sortColumn == 'status' && direction == 'desc'}"
                (click)="onSort('status')">Status
            </th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'dueDate' && direction == 'asc','sorting_desc':sortColumn == 'dueDate' && direction == 'desc'}"
                (click)="onSort('dueDate')">Due Date
            </th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'order' && direction == 'asc','sorting_desc':sortColumn == 'order' && direction == 'desc'}"
                (click)="onSort('order')">Order #
            </th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'vendor' && direction == 'asc','sorting_desc':sortColumn == 'vendor' && direction == 'desc'}"
                (click)="onSort('vendor')">Vendor
            </th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'invoice' && direction == 'asc','sorting_desc':sortColumn == 'invoice' && direction == 'desc'}"
                (click)="onSort('invoice')">Invoice
            </th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'costCode' && direction == 'asc','sorting_desc':sortColumn == 'costCode' && direction == 'desc'}"
                (click)="onSort('costCode')">Cost Code
            </th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'amount' && direction == 'asc','sorting_desc':sortColumn == 'amount' && direction == 'desc'}"
                (click)="onSort('amount')">Amount
            </th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'project' && direction == 'asc','sorting_desc':sortColumn == 'project' && direction == 'desc'}"
                (click)="onSort('project')">Project
            </th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'approval' && direction == 'asc','sorting_desc':sortColumn == 'approval' && direction == 'desc'}"
                (click)="onSort('approval')">Approval
            </th>
            <th class="sortable"
                [ngClass]="{'sorting_asc':sortColumn == 'action' && direction == 'asc','sorting_desc':sortColumn == 'action' && direction == 'desc'}"
                (click)="onSort('action')">Action
            </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr class="c-p" *ngFor="let item of orders | callback: filterTable; let i = index" (click)="openDetail(item.id)">
            <td><input class="form-check" type="checkbox"/></td>
            <td>
                <img src="assets/images/status-icons/{{item.status.toLowerCase()}}.png">
            </td>
            <td>
                {{'2022-2-18' | date: 'M/dd/yy'}}
            </td>
            <td>
                {{item.orderNumber}}
            </td>
            <td>
                {{item.vendorName}}
            </td>
            <td>
                {{item.invoiceNumber}}
            </td>
            <td>
                {{item.costCodeName}}
            </td>
            <td class="text-end">
                {{item.paidAmount | currency}}
            </td>
            <td>
                {{item.projectName}}
            </td>
            <td>
                <div class="d-flex flex-row">
                    <div class="me-1-1">
                        <div [ngClass]="bgColors[i % 6]" class=" rounded-circle"
                             style="width:32px; height: 32px; padding: 8px;">
                            <i class="fe-user text-white  font-16"></i>
                        </div>
                    </div>
                    <div class="d-flex flex-column search-text">
                        <div class="text-blackprimary text-overflow-ellipsis"
                             style="max-width: 120px;">{{item.vendorName}}</div>
                        <div class="text-blackprimary-op-50">{{item.vendorType}} 1111</div>
                    </div>
                </div>
            </td>
            <td class="text-center">
                <img class="c-p" src="assets/images/status-icons/payBill.png">
            </td>
            <td class="text-center">
                <i class="fe-paperclip"></i>
            </td>
            <td class="text-center">
                <i class="fe-more-vertical- c-p"></i>
            </td>
        </tr>
        </tbody>
        <tbody *ngIf="orders.length == 0" class="bg-white">
        <tr *ngIf="loading">
            <td colspan="13">
                <div style="position: relative; height: 400px;">
                    <app-ui-preloader [display]="loading"></app-ui-preloader>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</ngx-simplebar>


