<div class="row">
    <div class="col-md-6 headline">
        Orders
    </div>
    <div class="col-md-6 text-end">
        <button class="btn btn-primary" *ngIf="canCreate" (click)="openDetail(0)"
                style="padding: 11px 16px;border-width: 1px;">New Order
        </button>
    </div>
</div>


<div class="row mt-1-1 flex-1">
    <div class="col flex-column-1">
        <ul ngbNav #nav2="ngbNav" [(activeId)]="tabs1" class="nav-pills navtab-bg ">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    Sent Orders
                </a>
                <ng-template class="d-flex flex-column" ngbNavContent>
                    <app-order-list [orderType]="'Sent'"></app-order-list>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    Received Orders
                </a>
                <ng-template ngbNavContent class="d-flex flex-column">
                    <app-order-list [orderType]="'Received'"></app-order-list>
                </ng-template>
            </li>
        </ul>
        
        <div [ngbNavOutlet]="nav2" class="mb-0 b-0 pt-0 flex-column-1"></div>
    </div>
</div>




