<div class="modal-body modal-form-control" style="padding: 32px 24px 24px;">
    <div class="headline-24">New Group</div>
    
    
    <div class="card mt-2-1 p-2-1">
        <ngb-alert [dismissible]="false" type="danger" *ngIf="newGroupError">
            {{ newGroupError }}
        </ngb-alert>
        <form [formGroup]="newGroupForm" (ngSubmit)="submitNewGroupForm()">
            <div class="row">
                <div class="col">
                    <label class="form-label" for="name" i18n>Name</label>
                    <input class="form-control"
                           type="text"
                           id="name"
                           formControlName="name"
                           required
                           i18n-placeholder placeholder="Enter a Name"
                           [ngClass]="{'is-invalid':newGroupFormValues['name'].invalid && newGroupFormValues['name'].dirty}"/>
                    <div *ngIf="newGroupFormValues['name'].invalid && newGroupFormValues['name'].dirty">
                        <div *ngIf="newGroupFormValues['name'].errors?.['required']" i18n>
                            <i class="fe-alert-triangle invalid-feedback-icon"></i> Please enter group name
                        </div>
                        <div *ngIf="newGroupFormValues['name'].errors?.['maxlength']" i18n>
                            <i class="fe-alert-triangle invalid-feedback-icon"></i>Name must be exceed 128
                            letters
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="d-grid" style="width: calc(100% - 48px);position: fixed;bottom: 24px;right: 24px;">
                <button class="btn btn-primary mb-1-1" type="submit" [disabled]="newGroupForm.invalid">Create
                </button>
                <button class="btn btn-outline-primary" (click)="modalRef.newGroupModalRef.dismiss()">Cancel</button>
            </div>
        </form>
    </div>
</div>


<div class="modal-x" (click)="modalRef.newGroupModalRef.dismiss()">
    <i class="fe-x"></i>
</div>
