<div class="row" style="padding-top: 4px;padding-bottom: 16px;">
    <div class="col-md-6">
        <div class="headline-28">{{projectList.length > 0 ? 'Projects' : 'No Projects'}}</div>
        <div class="subtitle-2-500"></div>
    </div>
    <div class="col-md-6 text-end">
        <button class="btn btn-primary btn-text-12" (click)="createProject('')" style="padding: 10px 16px;">
            <i class="fe-file-plus font-16 me-1-1"></i>New Project
        </button>
    </div>
</div>

<div *ngIf="!isLoading && projectList.length > 0">
    <div class="row">
        <div class="col col-3" *ngFor="let project of (projectList | callback: filterPinProjectList); let i=index;">
            <div class="card" style="background-color: {{project.color}}26;">
                <div class="card-body">
                    <div>
                        <span class="badge me-1 text-light btn-text-12"
                            style="padding: 2px 6px;background-color: {{project.color}}26;color: {{project.color}} !important;">{{project.groupName}}</span>
                        <div class="float-end" ngbDropdown placement="bottom-end" style="padding-top: 4px;">
                            <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                                <i class="mdi mdi-dots-vertical text-blackprimary"></i>
                            </a>
                            <div ngbDropdownMenu style="padding: 4px 8px;">
                                <a class="subtitle-2-500" href="javascript:void(0);" (click)="openSetColor(project)"
                                    style="padding: 12px 4px;" ngbDropdownItem>
                                    <i class="fe-image me-1-1"></i>
                                    Set color & icon
                                </a>
                                <a class="subtitle-2-500 dropdown-item1" href="javascript:void(0);"
                                    style="padding: 12px 4px;">
                                    <div ngbDropdown placement="end-top">
                                        <div style="width: 100%; color: #202020;" ngbDropdownToggle>
                                            <i class="fe-folder me-1-1"></i>
                                            Move to
                                        </div>
                                        <div *ngIf="companyGroupList.length > 2" ngbDropdownMenu
                                            aria-labelledby="dropdownBasic" class="ms-2-1 mt1-36"
                                            style="padding: 3px 4px;">
                                            <div *ngFor="let group of companyGroupList;">
                                                <a href="javascript:void(0)"
                                                    *ngIf="group.txtName != project.groupName &&  group.txtName != 'All' "
                                                    (click)="projectMoveto(project.id,project.revision,group.id)"
                                                    ngbDropdownItem>{{group.txtName}}
                                                    ({{group.projectcount}})</a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="subtitle-2-500" href="javascript:void(0);" style="padding: 12px 4px;"
                                    ngbDropdownItem>
                                    <i class="fe-plus me-1-1"></i>
                                    Add a new Bill
                                </a>
                                <a *ngIf="project.canDelete" class="subtitle-2-500" href="javascript:void(0);"
                                    style="padding: 12px 4px;color: #EA001E;"
                                    (click)="openProjectDeleteModal(project.id,project.revision,1)" ngbDropdownItem>
                                    <i class="fe-trash-2 me-1-1"></i>
                                    Delete project
                                </a>
                                <a *ngIf="!project.canDelete" class="subtitle-2-500" href="javascript:void(0);"
                                    style="padding: 12px 4px;color: #EA001E;"
                                    (click)="openProjectDeleteModal(project.id,project.revision,0)" ngbDropdownItem>
                                    <i class="fe-archive me-1-1"></i>
                                    Archive project
                                </a>
                            </div>
                        </div>
                        <div class="float-end me-1-1 pe-2" style="padding-top: 2px;">
                            <i class="payaxis-unpin cursor-pointer" style="color:{{project.color}}"
                                (click)="pinProject(project,false)"></i>
                        </div>
                    </div>
                    <div class="d-flex mt-2-1">
                        <div class="me-1-1 flex-shrink-0"
                            style="width: 42px; height: 42px; line-height: 42px; text-align: center; border-radius: 8px; background-color: {{project.color}};">
                            <i class="{{project.icon}} font-26 text-white"></i>
                        </div>
                        <div class="flex-grow-1 overflow-hidden headline-24 cursor-pointer"
                            (click)="navProjectDetail(project.id)">
                            {{project.projectName}}
                        </div>
                    </div>
                    <div class="mt-4-1">
                        <div class="d-flex justify-content-between">
                            <div class="Subtitle-1-400">
                                Budget
                                <i class="fe-info text-optional"></i>
                            </div>
                            <div class="float-end Subtitle-1">
                                {{project.projectBudget | currency}}
                            </div>
                        </div>
                        <div class="progress progress-bar-alt-success progress-md" style="margin-top: 10px; background-color: #ffffff;">
                            <div class="progress-bar bg-success wow" role="progressbar" aria-valuenow="20"
                                aria-valuemin="0" aria-valuemax="100" style="width: 20%; visibility: visible;">
                            </div><!-- /.progress-bar .progress-bar-success -->
                        </div><!-- /.progress .no-rounded -->
                    </div>
                    <div class="d-flex justify-content-between mt-4-1">
                        <div class="avatar-group">
                            <div class="avatar-group-item position-relative" style="z-index: 6;">
                                <img src="assets/images/users/user-6.jpg" class="rounded-circle avatar-sm">
                            </div>
                            <div class="avatar-group-item position-relative" style="z-index: 5;">
                                <img src="assets/images/users/user-5.jpg" class="rounded-circle avatar-sm">
                            </div>
                            <div class="avatar-group-item position-relative" style="z-index: 4;">
                                <img src="assets/images/users/user-4.jpg" class="rounded-circle avatar-sm">
                            </div>
                            <div class="avatar-group-item position-relative" style="z-index: 3;">
                                <img src="assets/images/users/user-2.jpg" class="rounded-circle avatar-sm">
                            </div>
                            <div class="avatar-group-item position-relative" style="z-index: 2;">
                                <div class="rounded-circle avatar-sm label-tips"
                                    style="display: inline-flex;vertical-align: middle;justify-content: center;align-items: center;color: white;background-color: #2B2D30">
                                    +4
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center subtitle-2-500-12 text-optional">
                            Overdue
                            <span class="ms-1 text-center"
                                style="min-width: 20px;height: 20px;border-radius: 10px;background-color: #F87171;color: white;padding: 4px;">4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1-1">
        <div class="col-md-6">
            <div class="d-flex align-items-center">
                <div style="font-size: 20px;font-weight: 600;line-height: 24px;letter-spacing: 0em;text-align: left;">
                    {{getGroupedProjectCount(selectedGroup)}} {{selectedGroup.txtName}} {{selectedGroup.projectcount ==
                    1 ? 'Project' : 'Projects'}}
                </div>


                <div class="filterDropdownMenu d-inline-block dropdown ms-3" ngbDropdown autoClose="outside"
                    #filterDropdownMenu="ngbDropdown">
                    <div class="dropdow-outline c-p search-text" ngbDropdownToggle>
                        <i class="fe-folder me-1-1"></i>
                        {{selectedGroup.txtName}}
                        <i class="fe-chevron-down font-16 ms-1-1"></i>
                    </div>
                    <div id="groupDropdownMenu" class="dropdown-menu" ngbDropdownMenu>
                        <a class="subtitle-2-500 c-p d-flex align-items-center justify-content-between"
                            [ngClass]="{'selected':selectedGroup.id == group.id}"
                            *ngFor="let group of companyGroupList; let i=index;"
                            (click)="filterDropdownMenu.close();selectGroupProject(group);" ngbDropdownItem>
                            <div class="me-2-1" style="padding: 2px 0px;">
                                <input id="commercialCheck_{{i}}" type="checkbox" class="form-check-input c-p"
                                    [(ngModel)]="group.checked">
                                <label class="form-check-label ms-1-1 c-p" for="commercialCheck_{{i}}">
                                    {{group.txtName}} ({{ getGroupedProjectCount(group)}})
                                </label>
                            </div>
                            <div *ngIf="group.id != 'all' && group.id != '0'" class="groupDotsVertical"
                                ngbDropdown>
                                <button class="btn btn-default float-end"
                                    (click)="$event.stopPropagation();selectGroupProject(group);"
                                    style="padding: 2px 3px;border-radius: 4px;background-color:#fff;"
                                    ngbDropdownToggle>
                                    <i class="fe-more-vertical- text-blackprimary"></i>
                                </button>
                                <div class="dropdown-menu" style="padding: 4px;" ngbDropdownMenu>
                                    <a class="subtitle-2-500 c-p d-flex align-items-center"
                                        (click)="filterDropdownMenu.close();newGroup(group);" ngbDropdownItem>
                                        <i class="fe-type me-1-1"></i>
                                        Rename
                                    </a>
                                    <a class="subtitle-2-500 c-p d-flex align-items-center"
                                        (click)="filterDropdownMenu.close();createProject(group)" ngbDropdownItem>
                                        <i class="fe-edit me-1-1"></i>
                                        Add a new Project
                                    </a>
                                    <a class="subtitle-2-500 c-p d-flex align-items-center" style="color: #EA001E;"
                                        (click)="filterDropdownMenu.close();deleteGroup(group, i)" ngbDropdownItem>
                                        <i class="fe-trash-2 me-1-1"></i>
                                        Delete Group
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-end">
            <div class="d-inline-block ms-1-1">
                <input class="form-control form-search" type="search" placeholder="Search here" [(ngModel)]="keywords"
                    style="padding: 10px 16px 10px 36px;" />
            </div>
            <!-- end search-->
            <button class="btn btn-outline-primary ms-1-1 btn-text-12" (click)="newGroup('')"
                style="padding: 7px 16px;"><i class="fe-plus-square me-1-1" style="vertical-align: bottom;"></i>New
                Group
            </button>
        </div>
    </div>
    <div class="row mt-2-1">
        <div class="col col-3" *ngFor="let project of projectList | callback: filterGroupProjectList; let i=index;">
            <div class="card" style="background-color: #ffffff;">
                <div class="card-body">
                    <div>
                        <span class="badge me-1 text-light btn-text-12"
                            style="padding: 2px 6px;background-color: {{project.color}}26;color: {{project.color}} !important;">{{project.groupName}}</span>
                        <div class="float-end" ngbDropdown placement="bottom-end" style="padding-top: 4px;">
                            <a href="javascript:void(0);" class="arrow-none card-drop" ngbDropdownToggle>
                                <i class="mdi mdi-dots-vertical text-blackprimary"></i>
                            </a>
                            <div ngbDropdownMenu style="padding: 4px 8px;">
                                <a class="subtitle-2-500" href="javascript:void(0);" (click)="openSetColor(project)"
                                    style="padding: 12px 4px;" ngbDropdownItem>
                                    <i class="fe-image me-1-1"></i>
                                    Set color & icon
                                </a>
                                <a class="subtitle-2-500 dropdown-item1" href="javascript:void(0);"
                                    style="padding: 12px 4px;">
                                    <div ngbDropdown placement="end-top">
                                        <div style="width: 100%; color: #202020;" ngbDropdownToggle>
                                            <i class="fe-folder me-1-1"></i>
                                            Move to
                                        </div>
                                        <div *ngIf="companyGroupList.length > 2" ngbDropdownMenu
                                            aria-labelledby="dropdownBasic" class="ms-2-1 mt1-36"
                                            style="padding: 3px 4px;">
                                            <div *ngFor="let group of companyGroupList;">
                                                <a href="javascript:void(0)"
                                                    *ngIf="group.txtName != project.groupName &&  group.txtName != 'All'"
                                                    (click)="projectMoveto(project.id,project.revision,group.id)"
                                                    ngbDropdownItem>{{group.txtName}}
                                                    ({{group.projectcount}})</a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="subtitle-2-500" href="javascript:void(0);" style="padding: 12px 4px;"
                                    ngbDropdownItem>
                                    <i class="fe-plus me-1-1"></i>
                                    Add a new Bill
                                </a>
                                <a *ngIf="project.canDelete" class="subtitle-2-500" href="javascript:void(0);"
                                    style="padding: 12px 4px;color: #EA001E;"
                                    (click)="openProjectDeleteModal(project.id,project.revision,1)" ngbDropdownItem>
                                    <i class="fe-trash-2 me-1-1"></i>
                                    Delete project
                                </a>
                                <a *ngIf="!project.canDelete" class="subtitle-2-500" href="javascript:void(0);"
                                    style="padding: 12px 4px;color: #EA001E;"
                                    (click)="openProjectDeleteModal(project.id,project.revision,0)" ngbDropdownItem>
                                    <i class="fe-archive me-1-1"></i>
                                    Archive project
                                </a>
                            </div>
                        </div>
                        <div class="float-end me-1-1 pe-2" style="padding-top: 2px;">
                            <i class="payaxis-pin cursor-pointer" style="color:#D1D8E2"
                                (click)="pinProject(project,true)"></i>
                        </div>
                    </div>
                    <div class="d-flex mt-2-1">
                        <div class="me-1-1 flex-shrink-0"
                            style="width: 42px; height: 42px; line-height: 42px; text-align: center; border-radius: 8px; background-color: {{project.color}}33;">
                            <i class="{{project.icon}} font-26 " style="color: {{project.color}}"></i>
                        </div>
                        <div class="flex-grow-1 overflow-hidden headline-24  cursor-pointer"
                            (click)="navProjectDetail(project.id)">
                            {{project.projectName}}
                        </div>
                    </div>
                    <div class="mt-4-1">
                        <div class="d-flex justify-content-between">
                            <div class="Subtitle-1-400">
                                Budget
                                <i class="fe-info text-optional"></i>
                            </div>
                            <div class="float-end Subtitle-1">
                                {{project.projectBudget | currency}}
                            </div>
                        </div>
                        <div class="progress progress-bar-alt-success progress-md" style="margin-top: 10px;">
                            <div class="progress-bar bg-success wow" role="progressbar" aria-valuenow="20"
                                aria-valuemin="0" aria-valuemax="100" style="width: 20%; visibility: visible;">
                            </div><!-- /.progress-bar .progress-bar-success -->
                        </div><!-- /.progress .no-rounded -->
                    </div>
                    <div class="d-flex justify-content-between mt-4-1">
                        <div class="avatar-group">
                            <div class="avatar-group-item position-relative" style="z-index: 6;">
                                <img src="assets/images/users/user-6.jpg" class="rounded-circle avatar-sm">
                            </div>
                            <div class="avatar-group-item position-relative" style="z-index: 5;">
                                <img src="assets/images/users/user-5.jpg" class="rounded-circle avatar-sm">
                            </div>
                            <div class="avatar-group-item position-relative" style="z-index: 4;">
                                <img src="assets/images/users/user-4.jpg" class="rounded-circle avatar-sm">
                            </div>
                            <div class="avatar-group-item position-relative" style="z-index: 3;">
                                <img src="assets/images/users/user-2.jpg" class="rounded-circle avatar-sm">
                            </div>
                            <div class="avatar-group-item position-relative" style="z-index: 2;">
                                <div class="rounded-circle avatar-sm label-tips"
                                    style="display: inline-flex;vertical-align: middle;justify-content: center;align-items: center;color: white;background-color: #2B2D30">
                                    +4
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center subtitle-2-500-12 text-optional">
                            <!--                            {{project.status}}-->
                            Overdue
                            <span class="ms-1 text-center"
                                style="min-width: 20px;height: 20px;border-radius: 10px;background-color: #F87171;color: white;padding: 4px;">4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoading" class="position-relative" style="height: calc(100vh - 186px);">
    <app-ui-preloader [display]="isLoading"></app-ui-preloader>
</div>

<div *ngIf="!isLoading && projectList.length == 0" class="container p-v-40">
    <div class="row justify-content-md-center">
        <div class="col-md-4 text-center">
            <img src="assets/images/welcome/noprojects.svg">
            <div class="Subtitle-1 text-optional">
                No Projects...
            </div>
        </div>
    </div>
    <ng-template #joinUsModal let-modal>
        <div class="modal-body" style="padding: 40px 30px;" ngbAutofocus>
            <div class="text-center">
                <img src="assets/images/logo_bg.png">
            </div>
            <div class="headline text-center" style="padding-top: 40px;padding-bottom: 16px;" i18n>Great you join
                us!
            </div>
            <div class="text-1 text-center" i18n>
                We will provide you with the main items of the platform for fast and easy start.
            </div>
            <div class="d-grid" style="margin-top: 40px;">
                <button class="btn btn-primary" (click)="goNext()" i18n>Let's go</button>
            </div>
        </div>
    </ng-template>
</div>

<!--#createProjectModal-->
<ng-template #createProjectModal let-modal>
    <app-create-project [createProjectWithGroup]="createProjectWithGroup"
        [modalRef]="modalRef"></app-create-project>
</ng-template>

<!--#newGroupModal-->
<ng-template #newGroupModal let-modal>
    <app-create-group [group]="group" [modalRef]="newGroupModalRef"></app-create-group>
</ng-template>

<!--#selectColor-->
<ng-template #selectColor let-modal>
    <app-set-color [selectColor]="colorSelectItem.color" [selectIcon]="colorSelectItem.icon" [id]="colorSelectItem.id"
        [revision]="colorSelectItem.revision" [modalRef]="colorRef"></app-set-color>
</ng-template>

<!--#deleteModal-->
<ng-template #deleteModal let-modal>
    <app-delete-modal [title]="deleteObj.title" [message]="deleteObj.message" [btnDelete]="deleteObj.btnDelete"
        [modalRef]="deleteModalRef" [serviceName]="deleteObj.serviceName" [serviceNameStr]="deleteObj.serviceNameStr"
        [params]="deleteObj.params"></app-delete-modal>
</ng-template>

<!--#deleteProjectModal-->
<ng-template #deleteProjectModal let-modal>
    <input type="text" style="display: none;" />
    <div class="delete-modal-container">
        <div class="row">
            <div class="col-md-10">
                <div class="headline-24 text-start">{{projectDeleteText.title}}</div>
            </div>
            <div class="col-md-2 text-end text-black">
                <i class="fe-x cursor-pointer bold-600" (click)="modal.dismiss()"></i>
            </div>
        </div>
        <div class="delete-alert-content text-start">
            {{projectDeleteText.message}}
        </div>
        <div class="d-flex justify-content-between mt-3">
            <div class="delete-cancel-button mt-0 line-40 cursor-pointer" (click)="modal.dismiss()">
                Cancel
            </div>
            <div>
                <button class="btn btn-primary ms-2-1"
                    (click)="projectDelete()">{{projectDeleteText.btnDelete}}</button>
            </div>
        </div>
    </div>
</ng-template>
