.p-v-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.avatar-group .avatar-group-item {
  margin: 0 0 0 -12px;
  display: inline-block;
  border: 2px solid var(--ct-card-bg);
  border-radius: 50%;
}

.filterDropdownMenu {
  .dropdow-outline {
    color: #2B52DD;
    padding: 11px 16px;
  }

  .dropdown-menu {
    padding: 0px;

    .dropdown-item {
      padding: 12px;

      &.selected {
        background-color: #73B2FF33;
        border-radius: 0;
        &:nth-child(1){
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        &:last-child{
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }

      .groupDotsVertical {
        width: 25px;
        > button {
          display: none;
        }

        .dropdown-menu {
          margin-left: 47px !important;
          margin-top: -36px !important;
        }
      }

      &:hover, &.selected {
        .groupDotsVertical {
          > button {
            display: block;
          }
        }
      }
    }
  }
}

.progress-bar-alt-success{
  background-color: #E5E7EB;
}
