<app-default-layout>

    <div class="text-center mb-3">
        <h5 i18n>Create an account</h5>
        <h6>WELCOME to the comfort management space </h6>
    </div>
    <div style="display: flex" class="mb-3">
        <div class="otherLogin">
            <img src="assets/images/Google.png" alt="" />
            <span class="ms-1-1">Log in with Google</span>
        </div>
        <div class="otherLogin ms-2-1">
            <img src="assets/images/apple.png" alt="" />
            Log in with Apple
        </div>
    </div>
    <div class="lineorline mb-3">
        or
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <app-ui-preloader [display]="loading"></app-ui-preloader>
        <ngb-alert [dismissible]="false" type="danger" *ngIf="error">
            {{ error }}
        </ngb-alert>
        <div class="mb-2-1">
            <label for="emailaddress" class="form-label" i18n>Email</label>
            <input class="form-control mb-1-1" type="email" id="emailaddress" required i18n-placeholder
                placeholder="Enter Email" formControlName="email"
                [ngClass]="{'is-invalid':formSubmitted && formValues['email'].invalid}" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                else.</small>
            <div *ngIf="formSubmitted && formValues['email'].invalid" class="invalid-feedback">

                <div *ngIf="formValues['email'].errors?.['required']" i18n>
                    Please enter email
                </div>
                <div *ngIf="formValues['email'].errors?.['email']" i18n>
                    Email must be a valid Email Address
                </div>

            </div>
        </div>

        <div class="mb-2-1" style="position: relative;">
            <label for="password" class="form-label" i18n>Password</label>

            <input class="form-control" type="password" required i18n-placeholder id="password"
                placeholder="Enter Password" formControlName="password" *ngIf="!showPassword"
                [ngClass]="{'is-invalid':formSubmitted && formValues['password'].invalid}" />
            <input class="form-control" type="text" required i18n-placeholder id="password"
                placeholder="Enter Password" formControlName="password"  *ngIf="showPassword"
                [ngClass]="{'is-invalid':formSubmitted && formValues['password'].invalid}" />
            <i class="fe-eye-off passwordIcon" *ngIf="!(formSubmitted && formValues['password'].invalid) && !showPassword " (click) = "inputShowPassword()"></i>
            <i class="fe-eye passwordIcon hide" *ngIf="!(formSubmitted && formValues['password'].invalid)&& showPassword  " (click) = "inputShowPassword()"></i>
            <div *ngIf="formSubmitted && formValues['password'].invalid " class="invalid-feedback">

                <div *ngIf="formValues['password'].errors?.['required']" i18n>
                    Password is required.
                </div>

            </div>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input me-1-1" id="checkbox-signup">
                <label class="form-check-label" for="checkbox-signup" i18n>I agree to all the <a
                        href="javascript: void(0);">Terms</a> and <a href="javascript: void(0);">Privacy
                        policy</a></label>
            </div>
        </div>
        <div class="mb-3 d-grid text-center auth-button">
            <button class="btn btn-primary  mb-2-1" type="submit" i18n>Create account</button>

            <span i18n >
                Already have account?
                <a routerLink="../login">Sign In</a>
              </span>
        </div>

    </form>


</app-default-layout>