<div class="row">
    <input type="text" style="display: none;" />
    <div class="col-md-12 d-flex align-items-center">
        <i class="fe-chevron-left"></i>
        <span class="bold-500">All Vendors</span>&nbsp;/&nbsp;<span class="bold-800 text-primary">New Order</span>
    </div>
</div>
<div class="row mt-1-1">
    <div class="col-md-6 d-flex align-items-center" style="padding-top: 2px;padding-bottom: 2px;">
        <span class="headline" style="line-height: 44px;">Order #123&nbsp;</span>
        <div class="d-inline-block ms-1-1 activeTag">
            Active
        </div>
    </div>
    <div class="col-md-6 text-end">

    </div>
</div>
<div class="row mt-1-1 flex-1">
    <div class="col flex-column-1">
        <ul ngbNav #nav2="ngbNav" [(activeId)]="tabs1" class="nav-pills navtab-bg ">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    Details
                </a>
                <ng-template ngbNavContent>
                    <div class="row mt-2-1">
                        <div class="col-md-7">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 headline">
                                            Details
                                        </div>
                                    </div>
                                    <div class="row mt-1-1">
                                        <div class="col-md-4">
                                            <label class="form-label" i18n>Order Number</label>
                                            <input autofocus class="form-control" type="text" id="orderNumber"
                                                [(ngModel)]="order.number" required i18n-placeholder
                                                placeholder="Order Number"
                                                [ngClass]="{'is-invalid':orderError.number}" />
                                            <div *ngIf="orderError.number" class="invalid-feedback">
                                                <div i18n>
                                                    <i class="fe-alert-triangle invalid-feedback-icon"></i> Please enter
                                                    order
                                                    number
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label" i18n>Reason</label>
                                            <div ngbDropdown class="mt-sm-0 mt-2">
                                                <input class="form-select position-relative" type="text" id="reason"
                                                    i18n-placeholder placeholder="Reason" [(ngModel)]="order.reason"
                                                    ngbDropdownToggle />

                                                <div ngbDropdownMenu aria-labelledby="paymentTerms">
                                                    <a href="javascript:void(0)" *ngFor="let item of reasonList"
                                                        ngbDropdownItem>{{item}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Invoiced Date</label>
                                            <input type="date" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row mt-2-1">
                                        <div class="col-md-4">
                                            <label class="form-label" i18n>Payment Terms</label>
                                            <div ngbDropdown class="mt-sm-0 mt-2">
                                                <input class="form-select position-relative" type="text"
                                                    id="paymentTerms" i18n-placeholder placeholder="Payment Terms"
                                                    [(ngModel)]="order.paymentTerms" ngbDropdownToggle />

                                                <div ngbDropdownMenu aria-labelledby="paymentTerms">
                                                    <a href="javascript:void(0)" *ngFor="let item of paymentTermsList"
                                                        ngbDropdownItem>{{item.txtName}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label" i18n>Cost Code</label>
                                            <div class="dropdown" ngbDropdown>
                                                <input class="form-select" type="text" id="vendorcostcodes"
                                                    [(ngModel)]="vendorcostcodesText" required i18n-placeholder
                                                    placeholder="Assign Cost Code" ngbDropdownToggle />
                                                <div style="max-height: 300px; overflow-y: auto;" class="dropdown-menu"
                                                    aria-labelledby="vendorcostcodes" ngbDropdownMenu>
                                                    <div>
                                                        <input auto-complete="off" type="search"
                                                            class="form-control form-search" [(ngModel)]="keywords"
                                                            (keyup)="costCodeFilter()" />
                                                    </div>
                                                    <div *ngFor="let item of costCodeList">
                                                        <div style="color: #215EA9; font-weight: 600; margin-bottom: 8px; margin-top: 8px;"
                                                            *ngIf="item.costcodelist.length>0">
                                                            {{item.txtName}}
                                                        </div>
                                                        <div class="mb-1" *ngFor="let costcode of item.costcodelist">
                                                            <div>
                                                                <input type="checkbox" class="form-check-input"
                                                                    [checked]="setCostCodeSelect(costcode.costCode)"
                                                                    (change)="costCodeSelect($event,costcode)"
                                                                    id="dropdownCheck">
                                                                <label class="form-check-label ms-1-1"
                                                                    for="dropdownCheck">
                                                                    {{costcode.txtName}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label" i18n>Invoice Number</label>
                                            <input class="form-control" type="text" id="invoiceNumber"
                                                [(ngModel)]="order.invoiceNumber" required i18n-placeholder
                                                placeholder="Invoice Number" />
                                        </div>

                                    </div>
                                    <div class="row mt-2-1">
                                        <div class="col-md-8">
                                            <label class="form-label" i18n>Notes & Description</label>
                                            <input class="form-control" type="text" id="notes"
                                                [(ngModel)]="order.invoiceNumber" required i18n-placeholder
                                                placeholder="Notes" />
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label" i18n>Invoice Due Date</label>
                                            <input class="form-control" type="text" id="dueDate"
                                                [(ngModel)]="order.invoiceNumber" required i18n-placeholder
                                                placeholder="Invoice Number" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12 headline">
                                                    Project
                                                </div>
                                            </div>
                                            <div class="row  mt-2-1 mb-2-1">
                                                <div class="col-md-12">
                                                    <div>
                                                        <input class="form-control form-search" type="search"
                                                            placeholder="Find Project" [(ngModel)]="keywords" />

                                                        <div style="border:1px solid #E1E6EF; border-radius: 8px;">
                                                            <div><input auto-complete="off" type="search"
                                                                    style="border:none" class="form-control form-search"
                                                                    [(ngModel)]="keywords" (keyup)="costCodeFilter()"
                                                                    placeholder="Find Project" /></div>
                                                            <div class="padding-16" style="background-color: #F8F9FC;">
                                                                <div class="subtitle-2-400-14 bold-600 mb-1-1"
                                                                    style="color: #215EA9;">Residential</div>
                                                                <div class="row" style="padding: 12px;">
                                                                    <div class="col-md-6 Subtitle-1 text-start">
                                                                        870 New Project Lane
                                                                    </div>
                                                                    <div class="col-md-6 text-end">
                                                                        <div class="avatar-group">
                                                                            <div class="avatar-group-item position-relative"
                                                                                style="z-index: 6;">
                                                                                <img src="assets/images/users/user-6.jpg"
                                                                                    class="rounded-circle avatar-sm">
                                                                            </div>
                                                                            <div class="avatar-group-item position-relative"
                                                                                style="z-index: 5;">
                                                                                <img src="assets/images/users/user-5.jpg"
                                                                                    class="rounded-circle avatar-sm">
                                                                            </div>
                                                                            <div class="avatar-group-item position-relative"
                                                                                style="z-index: 4;">
                                                                                <img src="assets/images/users/user-4.jpg"
                                                                                    class="rounded-circle avatar-sm">
                                                                            </div>
                                                                            <div class="avatar-group-item position-relative"
                                                                                style="z-index: 3;">
                                                                                <img src="assets/images/users/user-2.jpg"
                                                                                    class="rounded-circle avatar-sm">
                                                                            </div>
                                                                            <div class="avatar-group-item position-relative"
                                                                                style="z-index: 2;">
                                                                                <div class="rounded-circle avatar-sm label-tips"
                                                                                    style="display: inline-flex;vertical-align: middle;justify-content: center;align-items: center;color: white;background-color: #2B2D30">
                                                                                    +4
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-2-1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12 headline">
                                                    Vendor
                                                </div>
                                            </div>
                                            <div class="row mt-2-1 mb-2">
                                                <div class="col-md-12">
                                                    <div>
                                                        <input class="form-control form-search" type="search"
                                                            placeholder="Find Vendor" [(ngModel)]="keywords" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 headline">
                                            List Items
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <div class="d-inline-block">
                                                <input class="form-control form-search" type="search"
                                                    placeholder="Search here..." [(ngModel)]="keywords" />
                                            </div>
                                            <button class="btn btn-outline-primary padding-8-16 ms-2-1"
                                                (click)="AddListItem()" style="margin-top: -4px;"><i
                                                    class="fe-plus-square me-1-1"></i>Add
                                                Item</button>
                                        </div>
                                    </div>
                                    <div class="row mt-2-1">
                                        <div class="col-md-12">
                                            <table class="advanced-table">
                                                <thead>
                                                    <tr>
                                                        <th class="row_select"><input class="form-check"
                                                                type="checkbox" /></th>
                                                        <th class="sortable"
                                                            [ngClass]="{'sorting_asc':sortCloumn == 'vendorName' && direction == 'asc','sorting_desc':sortCloumn == 'vendorName' && direction == 'desc'}"
                                                            (click)="onSort('vendorName')">Billable</th>
                                                        <th class="sortable"
                                                            [ngClass]="{'sorting_asc':sortCloumn == 'status' && direction == 'asc','sorting_desc':sortCloumn == 'status' && direction == 'desc'}"
                                                            (click)="onSort('status')">Qty</th>
                                                        <th class="sortable"
                                                            [ngClass]="{'sorting_asc':sortCloumn == 'approvalAmount' && direction == 'asc','sorting_desc':sortCloumn == 'approvalAmount' && direction == 'desc'}"
                                                            (click)="onSort('approvalAmount')">Unit</th>
                                                        <th class="sortable"
                                                            [ngClass]="{'sorting_asc':sortCloumn == 'active' && direction == 'asc','sorting_desc':sortCloumn == 'active' && direction == 'desc'}"
                                                            (click)="onSort('active')">Price</th>
                                                        <th>Amount</th>
                                                        <th>Tax</th>
                                                        <th>Notes</th>
                                                        <th>Last updated</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="!loading">
                                                    <tr class="cursor-pointer"
                                                        *ngFor="let item of order.listItem ; let i = index">
                                                        <td><input class="form-check" type="checkbox" /></td>
                                                        <td>
                                                            <div class="d-flex flex-row bold-600 ">
                                                                {{item.vendorName}}
                                                            </div>
                                                            <input type="text" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <div class="d-inline-block {{item.status}}Tag">
                                                                {{item.status}}</div>
                                                            <input type="text" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <i class="fe-copy"></i><i class="fe-trash-2 ms-1-1"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody *ngIf="loading" class="bg-white">
                                                    <tr>
                                                        <td colspan="7">
                                                            <div style="position: relative; height: 400px;">
                                                                <app-ui-preloader
                                                                    [display]="loading"></app-ui-preloader>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody *ngIf="order.listItem.length==0 && !loading" class="bg-white">
                                                    <tr *ngIf="loading">
                                                        <td colspan="7">
                                                            <div style="position: relative; height: 400px;">
                                                                <app-ui-preloader
                                                                    [display]="loading"></app-ui-preloader>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="!loading && order.listItem.length==0">
                                                        <td colspan="9" class="text-center">
                                                            <div
                                                                class="text-typeblackdeactivated headline-24-400 mt-40">
                                                                No List Items Added Yet</div>

                                                            <div class="mt-2-1"> <button (click)="AddListItem()"
                                                                    class="btn btn-primary ms-2-1 mb-3"><i
                                                                        class="fe-plus-square me-1-1"></i>Add List
                                                                    Item</button></div>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot style="height: 16px;">
                                                    <tr>
                                                        <td colspan="6">&nbsp;</td>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div
                        style="background-color: #2B2D30;margin-left: -24px; margin-right: -24px; color: white; position: fixed; bottom: 0; width: 100%;">
                        <div class="row padding-16-32">
                            <div class="col-md-2">
                                <label class="form-label" i18n>Non Taxable</label>
                                <input autofocus class="form-control"
                                    style="background-color: #3F444D; border:1px solid #3C3C42; color: white;"
                                    type="text" id="orderNumber" required i18n-placeholder value="0.00" />
                            </div>
                            <div class="col-md-2">
                                <label class="form-label" i18n>Taxable</label>
                                <input autofocus class="form-control"
                                    style="background-color: #3F444D; border:1px solid #3C3C42; color: white"
                                    type="text" id="orderNumber" required i18n-placeholder value="0.00" />
                            </div>
                            <div class="col-md-2">
                                <label class="form-label" i18n>Tax 0.00%</label>
                                <input autofocus class="form-control"
                                    style="background-color: #3F444D; border:1px solid #3C3C42; color: white"
                                    type="text" id="orderNumber" required i18n-placeholder value="0.00" />
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    Attachments
                </a>
                <ng-template ngbNavContent class="d-flex flex-column">
                    <app-attachments></app-attachments>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>
                    Activity
                </a>
                <ng-template ngbNavContent class="d-flex flex-column">
                    <app-activity></app-activity>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav2" class="mb-0 b-0 pt-0 flex-column-1"></div>
    </div>
</div>