.avatar-group .avatar-group-item {
    margin: 0px 0px 0px -8px;
}

.DraftTag {
    background-color: #F1F3F9;
    border-radius: 8px;
    padding: 4px 8px;
}

.vendorCostcode {
    background-color: #BFDBFE;
    border: 1px solid #60A5FA;
    display: inline-block;
    border-radius: 8px;
    padding: 0px 8px;
}

.dropdown-item:hover {
    background-color: #F1F3F9;
    border-radius: 8px;
}

.relateItem {
    border: 1px solid #E1E6EF;
    border-radius: 8px;
    padding: 16px;
}

.relateItem:hover {
    background-color: #F1F3F9;
}

input[type='date']{
    position: relative;
}
input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 16;
    padding-left: calc(100% - 40px);
    content: "\e83a";
}