//
// forms.scss
//


.form-control,
.form-select {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    box-shadow: $components-shadow-sm;

    &:hover {
        color: $typeblackprimary;
        border-color: $interactivelighthover;
        background-color: $white;
    }
}


.form-search {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'17'%20height%3D'16'%20viewBox%3D'0%200%2017%2016'%20fill%3D'none'%3E%3Cpath%20fill-rule%3D'evenodd'%20clip-rule%3D'evenodd'%20d%3D'M3.49935%207.33337C3.49935%204.75605%205.58869%202.66671%208.16602%202.66671C10.7433%202.66671%2012.8327%204.75605%2012.8327%207.33337C12.8327%208.59073%2012.3354%209.73194%2011.5268%2010.5711C11.5041%2010.5886%2011.4822%2010.6078%2011.4613%2010.6287C11.4404%2010.6495%2011.4212%2010.6714%2011.4037%2010.6942C10.5646%2011.5028%209.42337%2012%208.16602%2012C5.58869%2012%203.49935%209.9107%203.49935%207.33337ZM11.9111%2012.0213C10.8847%2012.8424%209.58269%2013.3334%208.16602%2013.3334C4.85231%2013.3334%202.16602%2010.6471%202.16602%207.33337C2.16602%204.01967%204.85231%201.33337%208.16602%201.33337C11.4797%201.33337%2014.166%204.01967%2014.166%207.33337C14.166%208.75005%2013.675%2010.0521%2012.8539%2011.0785L15.3041%2013.5287C15.5645%2013.789%2015.5645%2014.2111%2015.3041%2014.4715C15.0438%2014.7318%2014.6216%2014.7318%2014.3613%2014.4715L11.9111%2012.0213Z'%20fill%3D'%23202020'%20fill-opacity%3D'0.8'%2F%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: left 0.9rem center;
    background-size: 16px 16px;
    padding-left: 36px;
}

.form-check-input[type=checkbox]:indeterminate {
    background-color: #2B52DD;
    border-color: #2B52DD;
}


.form-check-input {
    width: 1rem;
    height: 1rem;
}

.form-label {
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    margin-bottom: 6px;
}

// Form-control light
.form-control-light {
    background-color: $input-light-bg !important;
    border-color: $input-light-bg !important;
}


// Form elements (Color and Range)
input.form-control[type="color"],
input.form-control[type="range"] {
    min-height: 39px;
}


.form-control:disabled,
.form-control[readonly] {
    border: 1px solid #D1D8E2;
    background-color: #F1F3F9;
    color: #20202080;

}


.form-check-input:disabled {
    background-color: #F1F3F9;
    border-color: #D1D8E2;
}

.form-check-input:checked:disabled {
    background-color: #D1D8E2;
    border-color: #D1D8E2;
}

// Custom select
.custom-select.is-invalid,
.form-control.is-invalid,
.custom-select:invalid,
.form-control:invalid,
.custom-select.is-valid,
.form-control.is-valid,
.custom-select:valid,
.form-control:valid {
    &:focus {
        box-shadow: none !important;
    }
}

// Comment box
.comment-area-box {
    .form-control {
        border-color: #{map-get($grays, "300")};
        border-radius: $input-border-radius $input-border-radius 0 0;
    }

    .comment-area-btn {
        background-color: #{map-get($grays, "100")};
        padding: 10px;
        border: #{$border-width} solid #{map-get($grays, "300")};
        border-top: none;
        border-radius: 0 0 $input-border-radius $input-border-radius;
    }
}

.form-switch .form-check-input {
    height: 1.5rem;
    width: 3rem;
}

// Search box 
.search-bar {

    .form-control {
        padding-left: 40px;
        padding-right: 20px;
        border-radius: 30px;
    }

    span {
        position: absolute;
        z-index: 10;
        font-size: 16px;
        line-height: $input-height;
        left: 13px;
        top: -2px;
        color: $text-muted;
    }
}

.search-box {
    position: relative;

    .form-control {
        padding-right: 36px;
    }

    .search-icon {
        position: absolute;
        top: 7px;
        right: 12px;
        font-size: 16px;
    }
}

fe-alert-triangle // Show Password

.password-eye {
    &:before {
        font-family: feather !important;
        content: "\e86a";
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        vertical-align: middle;
        line-height: 1.2;
        font-size: 16px;
    }
}

.show-password {
    .password-eye {
        &:before {
            content: "\e86e";
        }
    }
}


.was-validated .form-control:invalid,
.form-control.is-invalid {
    background-image: none;
    border-color: #EA001E;
}

.invalid-feedback-icon {
    color: #DC2626;
    font-size: 16px;
    margin-right: 4px;
}

.invalid-feedback {
    color: #202020;
}

// dark mode
body[data-layout-color="dark"] {
    .comment-area-box {
        .form-control {
            border-color: #{map-get($dark-grays, "300")};
        }

        .comment-area-btn {
            background-color: #{map-get($dark-grays, "100")};
            border: #{$border-width} solid #{map-get($dark-grays, "300")};
        }
    }
}