// 
// nav.scss
//

.nav-tabs,.nav-pills {
    > li {
        > a {
            color: #{map-get($grays, "700")};
            font-weight: $label-font-weight;
        }
    }
}

.nav-pills {
    > a {
        color: #{map-get($grays, "700")};
        font-weight: $label-font-weight;   
        
    }
}

.nav-pills .nav-link{
    border-radius: 0.375rem;
}

.nav-pills .nav-link.active{
    font-weight: 800;
    letter-spacing: 0.1px;
}

.navtab-bg .nav-link
{
    border: 1px solid #E1E6EF;
    color: #202020;
    background-color: #ffffff;
}

.nav-fill, .nav-justified {
    .nav-item {
        .nav-link {
            width: auto;
        }
    }  
} 


//Navtab custom
.navtab-bg {
    .nav-link {
        background-color: $card-cap-bg;
        margin: 0 8px 0px 0px;
        letter-spacing: 0.3px;
    }
}


// Nav bordered

.nav-bordered {
    border-bottom: 2px solid #{rgba(map-get($grays, "600"), 0.2)} !important;
    .nav-item {
        margin-bottom: -1px;
    }

    li {
        a {
            border: 0 !important;
            padding: 10px 20px;
        }
    }

a.active {
    border-bottom: 2px solid $primary !important;
}
}

.tab-content {
    // padding: 20px 0 0 0;
}  


// dark mode
body[data-layout-color="dark"] {
    .nav-tabs,.nav-pills {
        > li {
            > a {
                color: #{map-get($dark-grays, "700")};
            }
        }
    }
    
    .nav-pills {
        > a {
            color: #{map-get($dark-grays, "700")};
        }
    }
    .nav-bordered {
        border-bottom: 2px solid #{rgba(map-get($dark-grays, "600"), 0.2)} !important;
    }
}