<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Display headings</h4>
                <p class="sub-header">
                    Traditional heading elements are designed to work best in the meat of your page content. When you
                    need a heading to
                    stand out, consider using a display heading—a larger, slightly more opinionated heading style.
                </p>

                <h1>Heading 1</h1>
                <p class="text-muted">Suspendisse vel quam malesuada, aliquet sem sit
                    amet, fringilla elit. Morbi
                    tempor tincidunt tempor. Etiam id turpis viverra, vulputate sapien
                    nec,
                    varius sem. Curabitur ullamcorper fringilla eleifend. In ut eros
                    hendrerit
                    est consequat posuere et at velit.</p>

                <div class="clearfix"></div>

                <h1 class="bold-700">Heading 1</h1>
                <p class="text-muted">In nec rhoncus eros. Vestibulum eu mattis nisl.
                    Quisque viverra viverra magna
                    nec pulvinar. Maecenas pellentesque porta augue, consectetur
                    facilisis diam
                    porttitor sed. Suspendisse tempor est sodales augue rutrum
                    tincidunt.
                    Quisque a malesuada purus.</p>

                <div class="clearfix"></div>

                <h2>Heading 2</h2>
                <p class="text-muted">Vestibulum auctor tincidunt semper. Phasellus ut
                    vulputate lacus. Suspendisse
                    ultricies mi eros, sit amet tempor nulla varius sed. Proin nisl
                    nisi,
                    feugiat quis bibendum vitae, dapibus in tellus.</p>

                <div class="clearfix"></div>

                <h2 class="bold-700">Heading 2</h2>
                <p class="text-muted">Nulla et mattis nunc. Curabitur scelerisque
                    commodo condimentum. Mauris
                    blandit, velit a consectetur egestas, diam arcu fermentum justo,
                    eget
                    ultrices arcu eros vel erat.</p>

                <div class="clearfix"></div>

                <h3>Heading 3</h3>
                <p class="text-muted">Vestibulum auctor tincidunt semper. Phasellus ut
                    vulputate lacus. Suspendisse
                    ultricies mi eros, sit amet tempor nulla varius sed. dapibus in tellus.</p>

                <div class="clearfix"></div>

                <h3 class="bold-700">Heading 3</h3>
                <p class="text-muted">Nulla et mattis nunc. Curabitur scelerisque
                    commodo condimentum. Mauris
                    blandit, velit a consectetur egestas.</p>

                <div class="clearfix"></div>
            </div>
        </div> <!-- end card-->

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Headings</h4>
                <p class="sub-header">
                    All HTML headings, <code class="highlighter-rouge">&lt;h1&gt;</code> through
                    <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code>
                    classes are also available, for when you want to match the font styling of a heading
                    but still want your text to be displayed inline.
                </p>

                <h1>This is a Heading 1</h1>
                <p class="text-muted">Suspendisse vel quam malesuada, aliquet sem sit
                    amet, fringilla elit. Morbi
                    tempor tincidunt tempor. Etiam id turpis viverra, vulputate sapien
                    nec,
                    varius sem. Curabitur ullamcorper fringilla eleifend. In ut eros
                    hendrerit
                    est consequat posuere et at velit.</p>

                <div class="clearfix"></div>

                <h2>This is a Heading 2</h2>
                <p class="text-muted">In nec rhoncus eros. Vestibulum eu mattis nisl.
                    Quisque viverra viverra magna
                    nec pulvinar. Maecenas pellentesque porta augue, consectetur
                    facilisis diam
                    porttitor sed. Suspendisse tempor est sodales augue rutrum
                    tincidunt.
                    Quisque a malesuada purus.</p>

                <div class="clearfix"></div>

                <h3>This is a Heading 3</h3>
                <p class="text-muted">Vestibulum auctor tincidunt semper. Phasellus ut
                    vulputate lacus. Suspendisse
                    ultricies mi eros, sit amet tempor nulla varius sed. Proin nisl
                    nisi,
                    feugiat quis bibendum vitae, dapibus in tellus.</p>

                <div class="clearfix"></div>

                <h4>This is a Heading 4</h4>
                <p class="text-muted">Nulla et mattis nunc. Curabitur scelerisque
                    commodo condimentum. Mauris
                    blandit, velit a consectetur egestas, diam arcu fermentum justo,
                    eget
                    ultrices arcu eros vel erat.</p>

                <div class="clearfix"></div>

                <h5>This is a Heading 5</h5>
                <p class="text-muted">Quisque nec turpis at urna dictum luctus.
                    Suspendisse convallis dignissim
                    eros at volutpat. In egestas mattis dui. Aliquam mattis dictum
                    aliquet.
                    Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.
                    Vivamus
                    pretium nec odio cursus elementum. Suspendisse molestie ullamcorper
                    ornare.</p>

                <div class="clearfix"></div>

                <h6>This is a Heading 6</h6>
                <p class="text-muted">Donec ultricies, lacus id tempor condimentum, orci
                    leo faucibus sem, a
                    molestie libero lectus ac justo. ultricies mi eros, sit amet tempor
                    nulla
                    varius sed. Proin nisl nisi, feugiat quis bibendum vitae, dapibus in
                    tellus.</p>
            </div>
        </div> <!-- end card -->

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-6">
                        <p class="Paragraph-1">
                            Paragraph 1  Your awesome text goes here.
                        </p>
                      
                        <p class="Paragraph-2">
                            Paragraph 2 Your title goes here
                        </p>
                        <p class="Paragraph-1 bold-600">
                            subtitle 1  Your awesome text goes here.
                        </p>

                        <p class="Subtitle-2">
                            subtitle 2  Your awesome text goes here.
                        </p>
                        <p class="Paragraph-2 bold-600">
                            Button
                        </p>
                        <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                        <p><del>This line of text is meant to be treated as deleted text.</del></p>
                        <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                        <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
                        <p><u>This line of text will render as underlined</u></p>
                        <p><small>This line of text is meant to be treated as fine print.</small></p>
                        <p><strong>This line rendered as bold text.</strong></p>
                        <p><em>This line rendered as italicized text.</em></p>
                    </div>

                    <div class="col-xl-6 mt-3 mt-xl-0">
                        <h4 class="header-title">Contextual Text Colors</h4>
                        <p class="sub-header">
                            Your awesome text goes here.
                        </p>

                        <p class="text-custom">
                            Etiam porta sem malesuada magna mollis euismod.
                        </p>
                        <p class="text-pink">
                            Donec ullamcorper nulla non metus auctor fringilla.
                        </p>
                        <p class="text-muted">
                            Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
                        </p>
                        <p class="text-primary">
                            Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                        <p class="text-success">
                            Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
                        </p>
                        <p class="text-info">
                            Maecenas sed diam eget risus varius blandit sit amet non magna.
                        </p>
                        <p class="text-warning">
                            Etiam porta sem malesuada magna mollis euismod.
                        </p>
                        <p class="text-danger">
                            Donec ullamcorper nulla non metus auctor fringilla.
                        </p>
                        <p class="text-dark">
                            Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                        <p class="text-purple">
                            Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
                        </p>

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
        </div> <!-- end card -->

    </div> <!-- end col -->

</div>