<div class="row mt-2-1">
    <div class="col-md-4">
        <span class="font-20 bold-600">{{paymentHistoryList.length == 0 ? "No Payment History" : paymentHistoryList.length + " Payment History"}}</span>
        <div class="d-inline-block dropdown dropdown-40 ms-1-1" ngbDropdown>
            <a class="dropdown-outline" href="javascript:void(0)" ngbDropdownToggle>
                <span class="text-typeblack80">Status</span>
                <span class="ms-1-1 text-black btn-text-12">{{statusFilter}}</span>
                <i class="fe-chevron-down text-black ms-1-1"></i>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div *ngFor="let status of objectKeys(listStatusCount)" ngbDropdownItem>
                    <div class="form-check">
                        <input id="status_{{status}}" type="checkbox" class="form-check-input"
                               [checked]="statusFilter==status"
                               (change)="statusFilterChange($event, status, 'statusFilter')">
                        
                        <label for="status_{{status}}" class="d-inline-block {{status == 'Active' ? 'NO' : globalFunc.toCamelCase(status)}}Tag subtitle-2-600 text-optional text-center ms-2-1">{{status}}
                        </label>
                        
                        <label for="status_{{status}}" class="ms-2-1 subtitle-2-400-12 text-optional">{{ status != 'Active' ? listStatusCount[status] : ''}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 d-flex flex-row justify-content-end">
        <div class="d-inline-block ms-1-1" style="min-width: 180px;height: 40px;border: 1px solid #E1E6EF;border-radius: 8px;padding: 11px 16px;">
            <ng-template #t let-date let-focused="focused">
                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                </span>
            </ng-template>
            <div class="d-inline-block" ngbDropdown #pickDatesDrop="ngbDropdown" placement="bottom-end"
                 style="width: 100%;">
                <div id="pickDatesDropBtn2" class="cursor-pointer" ngbDropdownAnchor
                     (click)="pickDatesDrop.toggle()">
                    <i class="fe-calendar me-1-1 text-primary" style="vertical-align: text-top;"></i>
                    <span class="search-text" style="color: #215EA9;">{{selectedDateRange}}</span>
                    <i class="fe-chevron-down font-16 ms-1-1 text-optional" style="float:right;"></i>
                </div>
                <div ngbDropdownMenu aria-labelledby="pickDatesDropBtn2">
                    <ngb-datepicker [dayTemplate]="t"
                                    (dateSelect)="onDateSelection($event)"
                    />
                </div>
            </div>
        </div>
        <div class="d-inline-block ms-1-1">
            <input class="form-control form-search input-height-40" type="search" placeholder="Search here" [(ngModel)]="keywords" style="width:280px;"/>
        </div>
        <div class="d-flex align-items-center ms-2-1">
            <a csvLink [data]="csvData" [ngClass]="{'disabled': filterListSearchWithStatus().length == 0 }" class="btn btn-primary btn-text-12" (click)="exportCsv()" style="padding: 6px 16px;">
                <i class="fe-download me-1-1"></i>
                Download CSV
            </a>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <table class="advanced-table">
            <thead>
            <tr>
                <th>Changes</th>
                <th class="sortable"
                    [ngClass]="{'sorting_asc':sortColumn == 'orderNumber' && direction == 'asc','sorting_desc':sortColumn == 'orderNumber' && direction == 'desc'}"
                    (click)="onSort('orderNumber')">Order #</th>
                <th class="sortable"
                    [ngClass]="{'sorting_asc':sortColumn == 'status' && direction == 'asc','sorting_desc':sortColumn == 'status' && direction == 'desc'}"
                    (click)="onSort('status')">Status</th>
                <th class="sortable"
                    [ngClass]="{'sorting_asc':sortColumn == 'vendorName' && direction == 'asc','sorting_desc':sortColumn == 'vendorName' && direction == 'desc'}"
                    (click)="onSort('vendorName')">Vendor</th>
                <th>Payment Method</th>
                <th>Payment Date</th>
                <th>Additions</th>
                <th class="sortable"
                    [ngClass]="{'sorting_asc':sortColumn == 'amount' && direction == 'asc','sorting_desc':sortColumn == 'amount' && direction == 'desc'}"
                    (click)="onSort('amount')">Amount</th>
                <th>User</th>
                <th>Last updated</th>
            </tr>
            </thead>
            <tbody *ngIf="!loading && paymentHistoryList.length > 0">
            <tr class="cursor-pointer"
                *ngFor="let item of paymentHistoryList | callback:filterTable; let i = index">
                <td>Scheduled</td>
                <td>
                    {{item.orderNumber}}
                </td>
                <td>
                    <div class="d-inline-block {{globalFunc.toCamelCase(item.status)}}Tag subtitle-2-600 text-blackprimary-op-50 text-center">
                        {{item.status}}
                    </div>
                </td>
                <td>
                    {{item.vendorName}}
                </td>
                <td> {{item.payType.length == 0 ? '*' : item.payType}} / {{item.account.length == 0 ? '*' : item.account}}</td>
                <td> {{item.dueDate | date: 'mediumDate'}}</td>
                <td> Sent to Vendor</td>
                <td class="text-end">{{item.amount | currency}}</td>
                <td style="padding: 0 16px;">
                    <div class="d-flex flex-row align-items-center">
                        <div class="me-1-1">
                            <app-avatar [bgColor]="bgColors[i % 6]" [url]="item.senderAvatar" [firstName]="item.senderFirstname" [lastName]="item.senderLastname" color="text-white" [size]="32"
                                        alt="user-img"></app-avatar>
                        </div>
                            <div class="text-overflow-ellipsis search-text"
                                 style="max-width: 120px;">{{item.senderLastname}} {{item.senderFirstname}}
                            </div>
                    </div>
                </td>
                <td>{{item.modifiedDate | date: 'MM/dd/yy HH:mm:ss'  | amTimeAgo}}</td>
            </tr>
            <tr>
                <td class="text-primary text-start btn-text-12" colspan="7" style="color: #2B52DD;">Total</td>
                <td class="text-primary text-end btn-text-12">{{getPaymentAmountSummary() | currency}}</td>
                <td colspan="2"></td>
            </tr>
            </tbody>
            <tbody *ngIf="loading" class="bg-white">
            <tr>
                <td colspan="10">
                    <div style="position: relative; height: 400px;">
                        <app-ui-preloader [display]="loading"></app-ui-preloader>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody *ngIf="paymentHistoryList.length==0 && !loading" class="bg-white" style="height: calc(100vh - 380px)">
            <tr *ngIf="!loading && paymentHistoryList.length==0">
                <td colspan="10" class="text-center" style="vertical-align: baseline;">
                    <div class="Subtitle-1 mt-40 text-optional">No Payment Records added yet</div>
                </td>
            </tr>
            </tbody>
            <tfoot style="height: 16px;">
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>


