.paymentType {
    flex: 1;
    height: 64px;
    padding: 20px 16px;
    border-radius: 8px;
    border: 1px solid #2B52DD33;
    background-color: #ffffff;
    cursor: pointer;
}

.paymentTypeactive {
    border: 1px solid #202020 !important;
}

.paymentListItem {
    flex: 1;
    border: 1px solid #E5E7EB;
    padding: 16px;
    border-radius: 16px;
    cursor: pointer;
}

.paymentListItemActive{
    border: 1px solid #2B52DD;
    background-color: #F8F9FC;
    box-shadow: 0px 20px 25px 0px #0000001A;
}

.rightIcon{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}