<div class="modal-body" style="width: 483px;display: flex; flex-direction: column;">
    <div style="flex: 1;">
        <div class="headline">New Category</div>
        <div class="card mt-1-1">
            <div class="card-body p-2-1">
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label" i18n>Name</label>
                        <input class="form-control" type="text" id="name" required i18n-placeholder
                               placeholder="Enter Name" [(ngModel)]="categoryName"
                               [ngClass]="{'is-invalid':categoryNameError}"/>
                        <div *ngIf="categoryNameError" class="mt-1" i18n>
                            <i class="fe-alert-triangle invalid-feedback-icon"></i>
                            Category name cannot be set to 'Others' or this name exist
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pt-2-1">
                        <label class="form-label" i18n>Category List</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="height: calc(100vh - 362px);overflow-y: auto;">
                        <table class="orders-table advanced-table" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let category of categoryList">
                                <td style="border-left: 1px solid #E1E6EF;border-right: 1px solid #E1E6EF;">{{category.txtName}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 97px;">
        <div class="row">
            <div class="col-md-12 d-grid">
                <button class="btn btn-primary" (click)="createCategory()"
                        [disabled]="categoryName.length ==0">Create
                </button>
            </div>
        </div>
        <div class="row mt-1-1">
            <div class="col-md-12 d-grid">
                <button class="btn btn-outline-primary" (click)="modal.dismiss()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-x" (click)="modal.dismiss()">
    <i class="fe-x"></i>
</div>
