<div class="modal-body modal-form-control createBudgetModal" style="padding: 32px 24px 140px;">
    <div class="headline-24">Budget Allocation</div>
    
    <div class="card mt-2-1 p-2-1">
        <ngb-alert [dismissible]="false" type="danger" *ngIf="error">
            {{ error }}
        </ngb-alert>
        <div class="row">
            <div class="col col-6 position-relative">
                <label class="form-label text-1" i18n style="color:#202020CC;">Allocated Budget</label>
                <div class="headline-24-400"
                     [ngClass]=" allocatedBudget > project.projectBudget ? 'over-budget-text' : 'text-blackprimary'"
                     style="padding: 12px 0px 0px;">{{allocatedBudget | currency}}</div>
                <div *ngIf="allocatedBudget > project.projectBudget" class="subtitle-2-500 position-absolute"
                     style="color:#F87171;">
                    Over budget by {{allocatedBudget - project.projectBudget | currency}}
                </div>
            </div>
            <div class="col col-6 text-end">
                <label class="form-label text-1" for="projectBudget" i18n style="color:#202020CC;">Total Project Budget
                </label>
                <input id="projectBudget"
                       class="form-control"
                       type="text"
                       [(ngModel)]="project.projectBudget"
                       (focus)="setCursorPosition($event, '', project.projectBudget,'')"
                       (blur)="budgetBlur()"
                       (ngModelChange)="budgetChange()"
                       (keydown)="budgetKeydown($event, 10000000)"
                       prefix="$"
                       mask="separator.2"
                       thousandSeparator=","
                       allowNegativeNumbers="false"
                       i18n-placeholder placeholder="0.00"
                       style="font-size: 21.33px;line-height: 24px;font-weight: 400;color: #202020;text-align: right;"
                />
            </div>
        </div>
        <div class="progress progress-sm mt-3-1"
             [ngClass]="{'bg-red-progressbar': allocatedBudget > project.projectBudget}">
            <div class="progress-bar wow"
                 [ngClass]="{'bg-success': project.projectBudget != 0, 'bg-red-progressbar': project.projectBudget == 0}"
                 role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{progressBarPercentage}}%;">
            </div><!-- /.progress-bar .progress-bar-success -->
        </div><!-- /.progress .no-rounded -->
        
        
        <div class="row">
            <div class="col subtitle-2-500 position-absolute pt-1-1" style="color:#F87171;">
                <span *ngIf="allocatedBudget > project.projectBudget">The total percentage for all categories cannot exceed 100%.</span> &nbsp;
            </div>
        </div>
        <table class="advanced-table no-border mt-5-1">
            <thead>
            <tr>
                <th style="width: 30%;">Categories
                </th>
                <th style="width: 30%;">%Amount
                </th>
                <th style="width: 30%;">$Amount
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of budgetAllocation; let i = index">
                <td style="width: 30%;">
                    <div *ngIf="i!=editingCategory" class="td-text text-start" (click)="setEditingCategory(i, 'Name')">
                        {{item.category}}
                    </div>
                    <div *ngIf="i==editingCategory" class="d-inline-block dropdown" ngbDropdown>
                        <button id="categoryDropdownBtn_{{i}}" class="dropdown-outline text-start"
                                (click)="openCategoryDropdownMenu(i)"
                                ngbDropdownToggle>
                            {{item.category}}
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <div *ngFor="let category of categoryList" (click)="selectedCategory(category)"
                                 [disabled]="category.selected" style="cursor: pointer;"
                                 ngbDropdownItem>
                                {{category.txtName}}
                            </div>
                        </div>
                    </div>
                </td>
                <td style="width: 30%;">
                    <div *ngIf="i!=editingCategory" class="td-text" (click)="setEditingCategory(i, 'BP')">
                        {{item.budgetPercentage == '' ? '0%' : item.budgetPercentage + '%'}}
                    </div>
                    <div *ngIf="i==editingCategory">
                        <input id="budgetPercentage_{{i}}"
                               class="form-control"
                               type="text"
                               [(ngModel)]="item.budgetPercentage"
                               (ngModelChange)="budgetPercentageChange(item)"
                               (focus)="setCursorPosition($event, item, item.budgetPercentage, 'budgetPercentage')"
                               (keydown)="budgetKeydown($event, 1000)"
                               mask="separator.3"
                               suffix="%"
                               thousandSeparator=","
                               allowNegativeNumbers="false"
                               i18n-placeholder placeholder="0"
                               [disabled]="project.projectBudget == 0"
                        />
                    </div>
                </td>
                <td style="width: 30%;">
                    <div *ngIf="i!=editingCategory" class="td-text" (click)="setEditingCategory(i, 'BA')">
                        {{item.budgetAmount == '' ? 0 : item.budgetAmount| currency}}
                    </div>
                    <div *ngIf="i==editingCategory">
                        <input id="budgetAmount_{{i}}"
                               class="form-control"
                               type="text"
                               [(ngModel)]="item.budgetAmount"
                               (ngModelChange)="budgetAmountChange(item)"
                               (focus)="setCursorPosition($event, item, item.budgetAmount, 'budgetAmount')"
                               (keydown)="budgetKeydown($event,1000000)"
                               prefix="$"
                               mask="separator.2"
                               thousandSeparator=","
                               allowNegativeNumbers="false"
                               i18n-placeholder placeholder="0"
                        />
                    </div>
                </td>
                <td class="text-end" style="width: 10%;">
                    <i class="fe-trash-2 ms-2-1 font-20" (click)="deleteCategory(i)"
                       style="cursor: pointer;"></i>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <button class="btn btn-link waves-effect" (click)="addCategory()">
                        <i class="fe-plus-square me-1-1"></i>
                        Add Item
                    </button>
                </td>
            </tr>
            </tfoot>
        </table>
    
    
    </div>
    
    
    <div class="d-grid" style="width: calc(100% - 48px);position: fixed;bottom: 24px;right: 24px;">
        <button class="btn btn-primary mb-1-1"
                [disabled]="!(budgetAllocation | checkProjectStatus) || allocatedBudget > project.projectBudget"
                (click)="submitProject()">{{project.id == '' ? 'Create a Project' : 'Save'}}
        </button>
        <button class="btn btn-outline-primary" (click)="closeModal()">
            <i *ngIf="project.id == ''" class="fe-arrow-left ms-1-1"></i>
            {{project.id == '' ? 'Back' : 'Cancel'}}</button>
    </div>
</div>


<div class="modal-x" (click)="closeModal()">
    <i class="fe-x"></i>
</div>
