<app-default-layout>
    <div class="text-center mb-3">
        <h5 i18n>Create new password</h5>
        <p class="Subtitle-3">Add new password and repeat it</p>
    </div>

    <form [formGroup]="setNewPassswordForm" (ngSubmit)="onSubmit()" >
      <app-ui-preloader [display]="loading"></app-ui-preloader>
        <ngb-alert [dismissible]="false" type="danger" *ngIf="error">
            {{ error }}
        </ngb-alert>
      <div class="mb-3">
        <label for="emailaddress" class="form-label" i18n>Verification Number</label>
        <input class="form-control" type="text" id="number" required i18n-placeholder placeholder="Enter Verification Number"
          formControlName="number" [ngClass]="{'is-invalid':formSubmitted && formValues['number'].invalid}" maxlength="4" />
  
        <div *ngIf="formSubmitted && formValues['number'].invalid" class="invalid-feedback">
  
          <div *ngIf="formValues['number'].errors?.['required']" i18n>
            <i class="fe-alert-triangle invalid-feedback-icon"></i> Please enter verification number
          </div>
  
        </div>
      </div>
        <div class="mb-3"  style="position: relative;">
            <label for="password" class="form-label" i18n>New Password</label>
      
            <input class="form-control" type="password" required i18n-placeholder id="password"
                      placeholder="Enter Password" formControlName="password" *ngIf="!showPassword"
                      [ngClass]="{'is-invalid':formSubmitted && formValues['password'].invalid}" />
                  <input class="form-control" type="text" required i18n-placeholder id="password"
                      placeholder="Enter Password" formControlName="password"  *ngIf="showPassword"
                      [ngClass]="{'is-invalid':formSubmitted && formValues['password'].invalid}" />
                  <i class="fe-eye-off passwordIcon" *ngIf="!(formSubmitted && formValues['password'].invalid) && !showPassword " (click) = "inputShowPassword()"></i>
                  <i class="fe-eye passwordIcon hide" *ngIf="!(formSubmitted && formValues['password'].invalid)&& showPassword  " (click) = "inputShowPassword()"></i>
            <div *ngIf="formSubmitted && formValues['password'].invalid " class="invalid-feedback">
      
              <div *ngIf="formValues['password'].errors?.['required']" i18n>
                <i class="fe-alert-triangle invalid-feedback-icon"></i> Password is required.
              </div>
              <div *ngIf="!formValues['password'].errors?.['required'] && formValues['password'].errors?.['strong']" i18n>
                <i class="fe-alert-triangle invalid-feedback-icon"></i> The password needs to include uppercase, lowercase, and numeric characters.
            </div>
            </div>
          </div>

          <div class="mb-3" style="position: relative;">
            <label for="newpassword" class="form-label" i18n>Confirm Password</label>
      
            <input class="form-control" type="password" required i18n-placeholder id="newpassword"
                      placeholder="Enter Password" formControlName="newpassword" *ngIf="!showConfirmPassword"
                      [ngClass]="{'is-invalid':formSubmitted && formValues['newpassword'].invalid}" />
                  <input class="form-control" type="text" required i18n-placeholder id="newpassword"
                      placeholder="Enter Password" formControlName="newpassword"  *ngIf="showConfirmPassword"
                      [ngClass]="{'is-invalid':formSubmitted && formValues['newpassword'].invalid}" />
                  <i class="fe-eye-off passwordIcon" *ngIf="!(formSubmitted && formValues['newpassword'].invalid) && !showConfirmPassword " (click) = "inputShowConfirmPassword()"></i>
                  <i class="fe-eye passwordIcon hide" *ngIf="!(formSubmitted && formValues['newpassword'].invalid)&& showConfirmPassword  " (click) = "inputShowConfirmPassword()"></i>
            <div *ngIf="formSubmitted && formValues['newpassword'].invalid " class="invalid-feedback">
      
              <div *ngIf="formValues['newpassword'].errors?.['required']" i18n>
                <i class="fe-alert-triangle invalid-feedback-icon"></i> Password is required.
              </div>
              <div *ngIf="!formValues['newpassword'].errors?.['required'] && formValues['newpassword'].errors?.['strong']" i18n>
                <i class="fe-alert-triangle invalid-feedback-icon"></i> The password needs to include uppercase, lowercase, and numeric characters.
            </div>
            </div>
          </div>

        <div class="mb-3 d-grid text-center auth-button">
            <button class="btn btn-primary mb-2-1" type="submit" i18n>Reset Password</button>
            <span i18n >
                Forgot your email? 
              <a routerLink="../register">Try phone number</a>
            </span>
          </div>

    </form>
</app-default-layout>

