<div class="row">
    <div class="col-md-6 headline">
        Projects
    </div>
    <div class="col-md-6 text-end">
        <button class="btn btn-outline-primary"><i class="fe-edit me-1-1"></i>Edit</button>
        <button class="btn btn-primary ms-2-1">New Bill<i class="fe-chevron-down ms-1-1"></i></button>
        <i class="fe-more-vertical- font-24 ms-2-1 v-middle"></i>
    </div>
</div>
<div class="container p-v-40">
    <div class="row justify-content-md-center">
        <div class="col-md-4 text-center">
            <img src="assets/images/welcome/noprojects.svg">
            <div class="Subtitle-1 text-optional">
                No Projects...
            </div>
        </div>
    </div>
    <ng-template #joinUsModal let-modal>
        <div class="modal-body" style="padding: 40px 30px;" ngbAutofocus>
            <div class="text-center">
                <img src="assets/images/logo_bg.png">
            </div>
            <div class="headline text-center" style="padding-top: 40px;padding-bottom: 16px;" i18n>Great you join us!
            </div>
            <div class="text-1 text-center" i18n>
                We will provide you with the main items of the platform for fast and easy start.
            </div>
            <div class="d-grid" style="margin-top: 40px;">
                <button class="btn btn-primary" (click)="goNext()" i18n>Let's go</button>
            </div>
        </div>
    </ng-template>
</div>


