<div class="d-flex justify-content-between">
    <div class="flex-grow-1" style="max-width: 40%;">
        <div class="headline font-28 line-32 text-overflow-ellipsis">
            {{project.projectName}}
        </div>
        <div class="subtitle-2-500 text-typeblack80 text-overflow-ellipsis">
            {{project.projectAddress}}
        </div>
        
        <ul ngbNav #nav="ngbNav" [(activeId)]="tabs" class="nav-pills navtab-bg mt-1-1">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    Budget
                </a>
                <ng-template ngbNavContent>
                    <div class="row mt-2-1">
                        <div class="col-md-7">
                            <div class="card">
                                <div class="card-body p-4-1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="subtitle-2-500-16 text-typeblack80">Used</div>
                                            <div class="d-flex align-items-top mt-2-1"><span
                                                    class="subtitle-2-500-24">{{project.projectUsed | currency}}</span>
                                                <span class="subtitle-2-500-16 text-typeblack80 ms-1-1 line-20">{{project.projectBudget == 0 ? '0.00' : (project.projectUsed / project.projectBudget * 100).toFixed(2)}}
                                                    %</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <div class="subtitle-2-500-16 text-typeblack80">Left</div>
                                            <div class="subtitle-2-500-24 mt-2-1"
                                                 [ngClass]="{'text-danger': project.projectBudget < project.projectUsed}">
                                                {{project.projectBudget - project.projectUsed | currency}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div *ngIf="project.projectUsed>project.projectBudget" class="col-md-12">
                                            <ngb-progressbar [value]="project.projectBudget/project.projectUsed*100"
                                                             class="mt-1-1 bg-danger" type="success"
                                                             height="8px"></ngb-progressbar>
                                        </div>
                                        <div *ngIf="!(project.projectUsed>project.projectBudget)" class="col-md-12">
                                            <ngb-progressbar
                                                    [value]="project.projectUsed==0 ? 0 : project.projectUsed/project.projectBudget*100"
                                                    class="mt-1-1" type="success" height="8px"></ngb-progressbar>
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex flex-row mt-3-1" style="border-top:1px solid #E5E7EB">
                                        <div
                                                style="border-right: 1px solid #E5E7EB;flex: 1; height: 56px; margin-top: 24px;">
                                            <div class="subtitle-2-500-16 text-typeblack80">Total</div>
                                            <div class="subtitle-2-500-24 mt-2-1">
                                                {{project.projectBudget | currency}}
                                            </div>
                                        </div>
                                        <div style="flex: 1; height: 56px; margin-top: 24px; padding-left: 24px;">
                                            <div class="subtitle-2-500-16 text-typeblack80">Sq. Ft.</div>
                                            <div class="subtitle-2-500-24 mt-2-1">
                                                <span *ngIf="project.projectSqft == 0">-</span><span
                                                    *ngIf="project.projectSqft>0">{{project.projectSqft | currency
                                                :'':''}}</span>
                                            </div>
                                        </div>
                                        <div
                                                style="border-left: 1px solid #E5E7EB;flex: 1; height: 56px; margin-top: 24px; padding-left: 24px;">
                                            <div class="subtitle-2-500-16 text-typeblack80">Account</div>
                                            <div class="d-flex align-items-center mt-2-1"><span
                                                    class="subtitle-2-500-24">-</span>
                                                <span class="subtitle-2-500-16 text-typeblack80 ms-1 line-20">-</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-6" style="padding-left:4px">
                                    <div class="card mb-2-1">
                                        <div class="card-body" style="padding: 30px 24px;">
                                            <div class="subtitle-2-500-16 text-typeblack80">Owed</div>
                                            <div class="subtitle-2-500-24 mt-2-1">
                                                {{project.owedTotal | currency}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body" style="padding: 30px 24px;">
                                            <div class="subtitle-2-500-16 text-typeblack80">Due in 7 days</div>
                                            <div class="d-flex align-items-center subtitle-2-500-24 mt-2-1">
                                                {{project.duesevenTotal | currency}}
                                                <div *ngIf="project.dueseven > 0"
                                                     class="number-rounded ms-1 bg-yellow">{{project.dueseven}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding-left:4px">
                                    <div class="card mb-2-1">
                                        <div class="card-body" style="padding: 30px 24px;">
                                            <div class="subtitle-2-500-16 text-typeblack80">Overdue</div>
                                            <div class="d-flex align-items-center subtitle-2-500-24 mt-2-1">
                                                {{project.overdueTotal | currency}}
                                                <div *ngIf="project.overdue > 0"
                                                     class="number-rounded ms-1 bg-red">{{project.overdue}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2-1">
                                        <div class="card-body" style="padding: 30px 24px;">
                                            <div class="d-inline-block" ngbDropdown #pickDatesDrop="ngbDropdown"
                                                 placement="bottom-end" style="width: 100%;">
                                                <div id="pickDatesDropBtn1"
                                                     class="subtitle-2-500-16 me-2 cursor-pointer" ngbDropdownAnchor
                                                     (click)="pickDatesDrop.toggle()" style="color: #215EA9;">
                                                    {{selectedDateRange}}
                                                    <i class="fa-caret-down fas ms-1-1" style="color: #215EA9;"></i>
                                                </div>
                                                <div ngbDropdownMenu aria-labelledby="pickDatesDropBtn1">
                                                    <ngb-datepicker [dayTemplate]="t"
                                                                    (dateSelect)="onDateSelection($event)"
                                                    />
                                                </div>
                                            </div>
                                            
                                            <div class="d-flex align-items-center subtitle-2-500-24 mt-2-1">
                                                {{project.duefilterTotal | currency}}
                                                <div *ngIf="project.duefilter > 0"
                                                     class="number-rounded ms-1 bg-blue">{{project.duefilter}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="row mt-3-1">
                        <div class="col-md-6 subtitle-2-600-24 pt-1-1">
                            Budgets
                        </div>
                        <div class="col-md-6 text-end">
                            <div class="d-inline-block">
                                <input class="form-control form-search" type="search" placeholder="Search here"
                                       [(ngModel)]="keywords" style="padding: 10px 1rem 10px 36px;"/>
                            </div>
                            <div class="d-inline-block ms-2-1 me-1-1">
                                <button class="btn btn-primary" (click)="openAddCategoryModal()" style="padding: 6px 16px;" >Add
                                    Category</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="isLoading">
                        <div class="col-md-12 text-center" style="padding-top: 80px;">
                            <app-ui-preloader [display]="isLoading"></app-ui-preloader>
                        </div>
                    </div>
                    
                    <div class="row" *ngIf="budgetList.length == 0 && !isLoading">
                        <div class="col-md-12 text-center" style="padding-top: 80px;">
                            <div class="Subtitle-1 text-typeblackdeactivated">No budget...</div>
                            <div class="text-typeblackdeactivated mt-1-1 ">Get your project on track in a few clicks
                            </div>
                            <div class="mt-1-1">
                                <button class="btn btn-outline-primary" style="padding: 8px 16px;"><i
                                        class="fe-plus me-1-1"></i>Create
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-flex flex-wrap mt-2-1" *ngIf="budgetList.length > 0 && !isLoading">
                        <div class="card budgetItem" *ngFor="let item of budgetList; let i = index"
                             [ngClass]="{'ms-2-1':i % 5 > 0}">
                            <a class="card-body p-2-1" [routerLink]="['/apps/projects/budget-detail']" [queryParams]="{ id: item.idCategory, name: item.category, pid: project.id, pname: project.projectName}" style="color: inherit;">
                                <div class="row">
                                    <div class="col-md-6 Subtitle-1 text-start line-20">{{item.category}}</div>
                                    <div class="col-md-6 d-flex flex-row justify-content-end">
                                        <div class="subtitle-2-400-14"
                                             style="padding-top: 3px;">{{item.budgetAmount | currency}}</div>
                                        <div *ngIf="item.overdue> 0 || item.dueseven> 0 || item.duefilter > 0"
                                             class="number-rounded ms-1" [ngClass]="getBackgroundColor(item)">
                                            {{item.overdue > 0 ? item.overdue : item.dueseven > 0 ? item.dueseven : item.duefilter > 0 ? item.duefilter : ''}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div *ngIf="item.budgetUsed > item.budgetAmount" class="col-md-12">
                                        <ngb-progressbar class="bg-danger mt-1-1" type="success" height="8px"
                                                         [value]="item.budgetAmount/item.budgetUsed*100"></ngb-progressbar>
                                    </div>
                                    <div *ngIf="!(item.budgetUsed > item.budgetAmount)" class="col-md-12">
                                        <ngb-progressbar class="mt-1-1" type="success" height="8px"
                                                         [value]="item.budgetAmount == 0 ? 0 : item.budgetUsed/item.budgetAmount*100"></ngb-progressbar>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="d-inline-flex subtitle-2-500-12">
                                        <span class="text-typeblack80">Used</span>&nbsp;
                                        <span>{{item.budgetUsed | currency}}</span>&nbsp;
                                        <span class="text-typeblackdeactivated">{{item.budgetAmount == 0 ? '0.00' : (item.budgetUsed / item.budgetAmount * 100).toFixed(2)}}
                                            %</span>
                                    </div>
                                    <div class="subtitle-2-500-12 text-end">
                                        <span class="text-typeblack80">Left</span>&nbsp;
                                        <span [ngClass]="{'text-danger': item.budgetAmount < item.budgetUsed}">{{(item.budgetAmount - item.budgetUsed) | currency}}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    Orders
                </a>
                <ng-template ngbNavContent>
                    <app-project-orders [idProject]="project.id"></app-project-orders>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>
                    Vendors
                </a>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>
                    Team
                </a>
                <ng-template ngbNavContent>
                    <app-project-team></app-project-team>
                </ng-template>
            </li>
            <li [ngbNavItem]="5">
                <a ngbNavLink>
                    Payment History
                </a>
                <ng-template ngbNavContent>
                    <app-payment-history></app-payment-history>
                </ng-template>
            </li>
        </ul>
    </div>
    <div class="flex-grow-1 d-flex justify-content-center">
        <div *ngIf="tabs === 2" class="d-flex">
            <div class="card mb-0 me-2-1" style="height: 104px;">
                <div class="card-body padding-24">
                    <div class="subtitle-2-500-16 text-typeblack80">Owed</div>
                    <div class="subtitle-2-500-24 mt-2-1">{{project.owedTotal | currency}}</div>
                </div>
            </div>
            <div class="card mb-0 me-2-1" style="height: 104px;">
                <div class="card-body padding-24">
                    <div class="subtitle-2-500-16 text-typeblack80">Overdue</div>
                    <div class="d-flex align-items-center subtitle-2-500-24 mt-2-1">
                        {{project.overdueTotal | currency}}
                        <div *ngIf="project.overdue > 0" class="number-rounded ms-1 bg-red">{{project.overdue}}</div>
                    </div>
                </div>
            </div>
            <div class="card mb-0 me-2-1" style="height: 104px;">
                <div class="card-body padding-24">
                    <div class="subtitle-2-500-16 text-typeblack80">Due in 7</div>
                    <div class="d-flex align-items-center subtitle-2-500-24 mt-2-1">
                        {{project.duesevenTotal | currency}}
                        <div *ngIf="project.dueseven > 0"
                             class="number-rounded ms-1 bg-yellow">{{project.dueseven}}</div>
                    </div>
                </div>
            </div>
            <div class="card mb-0" style="height: 104px;">
                <div class="card-body padding-24">
                    
                    <div class="d-inline-block" ngbDropdown #pickDatesDrop="ngbDropdown" placement="bottom-end"
                         style="width: 100%;">
                        <div id="pickDatesDropBtn2" class="subtitle-2-500-16 me-2 cursor-pointer" ngbDropdownAnchor
                             (click)="pickDatesDrop.toggle()" style="color: #215EA9;">
                            {{selectedDateRange}}
                            <i class="fa-caret-down fas ms-1-1" style="color: #215EA9;"></i>
                        </div>
                        <div ngbDropdownMenu aria-labelledby="pickDatesDropBtn2">
                            <ngb-datepicker [dayTemplate]="t"
                                            (dateSelect)="onDateSelection($event)"
                            />
                        </div>
                    </div>
                    
                    <div class="d-flex align-items-center subtitle-2-500-24 mt-2-1">
                        {{project.duefilterTotal | currency}}
                        <div *ngIf="project.duefilter > 0"
                             class="number-rounded ms-1 bg-blue">{{project.duefilter}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center text-end line-56">
        <div *ngIf="tabs < 3" class="d-inline-block" ngbDropdown>
            <button class="btn btn-primary ms-2-1" ngbDropdownToggle style="padding: 10px 16px;">New Order<i
                    class="fe-chevron-down ms-1-1"></i></button>
            <div ngbDropdownMenu style="padding: 4px 8px;">
                <a class="subtitle-2-500" href="javascript:void(0);" (click)="createNew()" style="padding: 12px 4px;"
                   ngbDropdownItem>
                    <i class="fe-plus me-1-1"></i>
                    Create New
                </a>
                <a class="subtitle-2-500" href="javascript:void(0);" style="padding: 12px 4px;" ngbDropdownItem>
                    <i class="fe-upload me-1-1"></i>
                    Upload
                </a>
            </div>
        </div>
        <div *ngIf="tabs == 1" class="d-inline-block ms-2-1" ngbDropdown>
            <span ngbDropdownToggle><i class="fe-more-vertical- font-24 cursor-pointer"></i></span>
            <div ngbDropdownMenu style="padding: 4px 8px;" *ngIf="canEdit">
                <a class="subtitle-2-500" href="javascript:void(0);" (click)="editProjectDetails()"
                   style="padding: 12px 4px;" ngbDropdownItem>
                    <i class="fe-edit me-1-1"></i>
                    Edit Project Details
                </a>
                <a class="subtitle-2-500" href="javascript:void(0);" style="padding: 12px 4px;"
                   (click)="editProjectBudget()" ngbDropdownItem>
                    <i class="fe-file-text me-1-1"></i>
                    Edit Project Budget
                </a>
                <a class="subtitle-2-500" href="javascript:void(0);" style="padding: 12px 4px;color: #EA001E;"
                   ngbDropdownItem>
                    <i class="fe-trash-2 me-1-1"></i>
                    Remove project
                </a>
            </div>
        </div>
        <button class="btn btn-primary" *ngIf="tabs == 4 && canInviteMember" (click)="inviteMembers()"><i
                class="fe-plus-square me-1-1"></i>Invite Member
        </button>
    </div>
</div>

<div class="row">
    <div [ngbNavOutlet]="nav" class="mb-0 b-0 pt-0"></div>
</div>

<ng-template #t let-date let-focused="focused">
   <span class="custom-day" [class.focused]="focused"
         [class.range]="isRange(date)"
         [class.faded]="isHovered(date) || isInside(date)"
         (mouseenter)="hoveredDate = date"
         (mouseleave)="hoveredDate = null">
       {{ date.day }}
   </span>
</ng-template>

<!--#editProjectModal-->
<ng-template #editProjectModal let-modal>
    <app-create-project [project]="project" [modalRef]="editProjectModalRef"></app-create-project>
</ng-template>


<!--#editBudgetModal-->
<ng-template #editBudgetModal let-modal>
    <app-create-budget [project]="project" [budgetAllocation]="budgetList"
                       [modalRef]="editBudgetModalRef"></app-create-budget>
</ng-template>

<!--#addcategoryModal-->
<ng-template #addCategoryModal let-modal>
    <div class="modal-body" style="width: 483px;display: flex; flex-direction: column;">
        <div style="flex: 1;">
            <div class="headline">New Category</div>
            <div class="card mt-1-1">
                <div class="card-body p-2-1">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label" i18n>Name</label>
                            <input class="form-control" type="text" id="name" required i18n-placeholder
                                   placeholder="Enter Name" [(ngModel)]="categoryName"
                                   [ngClass]="{'is-invalid':categoryNameError}"/>
                            <div *ngIf="categoryNameError" class="mt-1" i18n>
                                <i class="fe-alert-triangle invalid-feedback-icon"></i>
                                Category name cannot be set to 'Others' or this name exist
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-2-1">
                            <label class="form-label" i18n>Category List</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="orders-table advanced-table" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let category of categoryList">
                                    <td style="border-left: 1px solid #E1E6EF;border-right: 1px solid #E1E6EF;">{{category.txtName}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 97px;">
            <div class="row">
                <div class="col-md-12 d-grid">
                    <button class="btn btn-primary" (click)="createCategory()"
                            [disabled]="categoryName.length ==0">Create
                    </button>
                </div>
            </div>
            <div class="row mt-1-1">
                <div class="col-md-12 d-grid">
                    <button class="btn btn-outline-primary" (click)="modal.dismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-x" (click)="modal.dismiss()">
        <i class="fe-x"></i>
    </div>
</ng-template>
