<div class="delete-modal-container">
    <div class="row">
        <div class="col-md-10">
            <div class="headline-24 text-start">{{title}}</div>
        </div>
        <div class="col-md-2 text-end text-black">
            <i class="fe-x cursor-pointer bold-600" (click)="modalRef.dismiss()"></i>
        </div>
    </div>
    <div class="delete-alert-content text-start">
        {{message}}
    </div>
    <div class="d-flex mt-3 justify-content-{{'' + btnSide ? btnSide : 'between'}}">
        <div class="delete-cancel-button mt-0 line-40 cursor-pointer" (click)="modalRef.dismiss()">
            {{btnCancel ? btnCancel : 'Cancel'}}
        </div>
        <div>
            <button class="btn btn-primary ms-4-1" (click)="delete()">{{btnConfirm ? btnConfirm :'OK'}}</button>
        </div>
    </div>
</div>
