<div class="row">
    <div class="col-md-6 headline">
        Members
    </div>
    <div class="col-md-6 text-end">
        <button class="btn btn-outline-primary" *ngIf="!editFlag " (click)="startEdit()"><i
                class="fe-edit me-1-1"></i>Edit</button>
        <button class="btn btn-primary" *ngIf="editFlag" (click)="saveEdit()">Save</button>
        <button class="btn btn-primary ms-2-1">New Bill<i class="fe-chevron-down ms-1-1"></i></button>
        <i class="fe-more-vertical- font-24 ms-2-1 cursor-pointer" (click)="inviteMembers()"></i>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="dropdown" ngbDropdown #statusDrop="ngbDropdown">
            <a href="javascript:void(0)" class="bold-600 font-20 text-black line-60"
                ngbDropdownToggle>{{statusFilter}}({{showCount}}) <i class=" fe-chevron-down"></i></a>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="statusFilter"
                            [checked]="statusFilter=='All'" (change)="changeStatusFilter('All');">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            All({{allCount}})
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" [checked]="statusFilter=='Active'"
                            (change)="changeStatusFilter('Active');" name="statusFilter">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            Active({{activeCount}})
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" [checked]="statusFilter=='Pending'"
                            (change)="changeStatusFilter('Pending');" name="statusFilter">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            Pending({{pendingCount}})
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 text-end mt-2-1">

        <div class="dropdown" ngbDropdown #roleDrop="ngbDropdown">
            <a class="dropdow-outline" href="javascript:void(0)" ngbDropdownToggle>
                <i class="fe-user font-16 me-1-1"></i>
                {{roleFilter}}
                <i class="fe-chevron-down font-16 ms-1-1"></i>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck" [checked]="roleFilter=='All'"
                            (change)="changeRoleFilter('All');">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            ALL
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem *ngFor="let item of roleItems">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck"
                            [checked]="roleFilter==item.text" (change)="changeRoleFilter(item.text);">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            {{item.text}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--end filter 1-->
        <div class="dropdown ms-1-1" ngbDropdown>
            <a class="dropdow-outline" href="javascript:void(0)" ngbDropdownToggle>
                <i class="fe-folder font-16 me-1-1"></i>
                Project
                <i class="fe-chevron-down font-16 ms-1-1"></i>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            ALL
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            Approval
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            Admin
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            Editor
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            Viewer
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--end filter 2-->
        <div class="dropdown ms-1-1" ngbDropdown #approvalDrop="ngbDropdown">
            <a class="dropdow-outline" href="javascript:void(0)" ngbDropdownToggle>
                <i class="fe-dollar-sign font-16 me-1-1"></i>
                {{approvalAmountFilter}}
                <i class="fe-chevron-down font-16 ms-1-1"></i>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck"
                            [checked]="approvalAmountFilter=='All'" (change)="changeapprovalAmountFilter('All');">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            ALL
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck"
                            [checked]="approvalAmountFilter=='1000'" (change)="changeapprovalAmountFilter('1000');">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            $1,000
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck"
                            [checked]="approvalAmountFilter=='2000'" (change)="changeapprovalAmountFilter('2000');">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            $2,000
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck"
                            [checked]="approvalAmountFilter=='5000'" (change)="changeapprovalAmountFilter('5000');">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            $5,000
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck"
                            [checked]="approvalAmountFilter=='7500'" (change)="changeapprovalAmountFilter('7500');">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            $7,500
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck"
                            [checked]="approvalAmountFilter=='10000'" (change)="changeapprovalAmountFilter('10000');">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            $10,000
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--end filter 3-->
        <div class="d-inline-block ms-1-1">
            <input class="form-control form-search" type="search" placeholder="Search here" [(ngModel)]="keywords"
                (keyup.enter)="searchTable()" />
        </div>
        <!-- end search-->
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <table class="advanced-table">
            <thead>
                <tr>
                    <th class="row_select"><input class="form-check" type="checkbox" /></th>
                    <th class="sortable"
                        [ngClass]="{'sorting_asc':sortCloumn == 'firstName' && direction == 'asc','sorting_desc':sortCloumn == 'firstName' && direction == 'desc'}"
                        (click)="onSort('firstName')">User</th>
                    <th class="sortable"
                        [ngClass]="{'sorting_asc':sortCloumn == 'role' && direction == 'asc','sorting_desc':sortCloumn == 'role' && direction == 'desc'}"
                        (click)="onSort('role')">Role</th>
                    <th class="sortable"
                        [ngClass]="{'sorting_asc':sortCloumn == 'approvalAmount' && direction == 'asc','sorting_desc':sortCloumn == 'approvalAmount' && direction == 'desc'}"
                        (click)="onSort('approvalAmount')">Approval amount</th>
                    <th class="sortable"
                        [ngClass]="{'sorting_asc':sortCloumn == 'active' && direction == 'asc','sorting_desc':sortCloumn == 'active' && direction == 'desc'}"
                        (click)="onSort('active')">Status</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of members; let i = index">
                    <td><input class="form-check" type="checkbox" /></td>
                    <td>
                        <div class="d-flex flex-row">
                            <div class="me-1-1">
                                <app-avatar [bgColor]="bgColors[i % 6]" [url]="item.avatar" [firstName]="item.firstName"
                                    [lastName]="item.lastName" color="text-white" [size]="32" alt="user-img"></app-avatar>
                            </div>
                            <div>
                                <div class="bold-600">{{item.firstName}}&nbsp;{{item.lastName}}</div>
                                <div class="text-typeblackdeactivated">ManagerSales</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <app-dropdowndata *ngIf="editFlag && item.role != 'Owner'" [displayText]="item.role"
                            [data]="roleItems" (selectValue)="editRoleValue(item,$event)"></app-dropdowndata>
                        <span *ngIf="!editFlag || item.role == 'Owner'">{{item.role}}</span>
                    </td>
                    <td>
                        <app-dropdowndata *ngIf="editFlag && item.role != 'Owner'"
                            [displayText]="'$'+ item.approvalAmount" [data]="approvalAmount"
                            (selectValue)="editApprovalAmount(item,$event)"></app-dropdowndata>
                        <span *ngIf="!editFlag || item.role == 'Owner'">${{item.approvalAmount}}</span>
                    </td>
                    <td>{{item.active?'Active':'InActive'}}</td>
                    <td><i class=" fe-trash-2 cursor-pointer" *ngIf="idUser==idUserOwner && item.role != 'Owner'"
                            (click)="deactive(i)"></i></td>
                </tr>
            </tbody>
            <tbody *ngIf="members.length == 0" class="bg-white">
                <tr *ngIf="loading">
                    <td colspan="5">
                        <div style="position: relative; height: 400px;">
                            <app-ui-preloader [display]="loading"></app-ui-preloader>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot style="height: 16px;">
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<ng-template #inviteMember let-modal>
    <div class="modal-body">
        <div class="headline mt-1-1 mb-1-1">Invite Members to [{{companyName}}]</div>

        <div *ngIf="step =='step1'" class="formContainer">
            <div>
                <tag-input [validators]="validators" [addOnBlur]="true" [theme]="'foundation-theme'" [separatorKeys]="[',',' ']" [(ngModel)]='emailList' placeholder = "add email" secondaryPlaceholder="Email, separate with comma" ></tag-input>
            </div>
            <div class="bottomButton">
                <div>
                    <button class="btn btn-primary" [disabled]="emailList.length == 0" (click)="step1()">Next</button>
                </div>
                <div>
                    <button class="btn btn-outline-primary mt-1-1"
                        (click)="cancelModal()">Cancel</button>
                </div>
            </div>
        </div>

        <!--end step 1-->
        <!-- <div *ngIf="step =='step2'" class="formContainer">
            <div class="emaillistInfo">
                <div class="emailItem mt-1-1 ms-1-1 d-inline-block" *ngFor="let item of emailList; let i = index">
                    {{item}}<i class="fe-x ms-1-1 bg-white cursor-pointer rounded-circle" (click)="deleteEmail(i)"></i>
                </div>
            </div>

            <div class="bottomButton">
                <div>
                    <button class="btn btn-primary" [disabled]="emailList.length == 0" (click)="step2()">Next</button>
                </div>
                <div>
                    <button class="btn btn-outline-primary mt-1-1"
                        (click)="step = 'step1' ;modal.dismiss('step2 click')">Cancel</button>
                </div>
            </div>
        </div> -->
        <!--end step 2-->

        <div *ngIf="step =='step3'" class="formContainer">
            <div class="row mt-1-1" *ngFor="let item of userList; let i = index">
                <div class="col-md-1">
                    <div [ngClass]="bgColors[i % 6]" class=" rounded-circle"
                        style="width:32px; height: 32px; padding: 8px;">
                        <i class="fe-user text-white  font-16"></i>
                    </div>
                </div>
                <div class="col-md-4 line-32 overflow-hidden">
                     <span *ngIf="!item.memberyn">{{item.email}}</span>
                     <del *ngIf="item.memberyn">{{item.email}}</del>
                </div>
                <div class="col-md-4 text-end subtitle-2-600 line-32 ">
                    <div *ngIf="!item.memberyn" style="background-color: #F8F9FC;border-radius: 8px;display: inline-block;padding: 0px 8px;">
                        <app-dropdowndata [displayText]="item.approvalAmountText" [data]="approvalAmount"
                            [color]="'text-primary'" (selectValue)="step3Approval(item,$event)"></app-dropdowndata>
                    </div>
                </div>
                <div *ngIf="!item.memberyn" class="col-md-3 text-end subtitle-2-600 line-32">
                    <app-dropdowndata [displayText]="item.role" [data]="roleItems"
                        (selectValue)="step3Role(item,$event)"></app-dropdowndata>
                </div>
            </div>

            <div class="bottomButton">
                <div>
                    <button class="btn btn-primary" (click)="send()">Send Invite</button>
                </div>
                <div>
                    <button class="btn btn-outline-primary mt-1-1"
                        (click)="cancelModal()">Cancel</button>
                </div>
            </div>
        </div>

        <!--end step 3-->
    </div>
</ng-template>

<ng-template #deleteModal let-modal>
    <div class="delete-modal-container">
        <input type="text" style="display: none;" />
        <div class="row">
            <div class="col-md-10">
                <div class="headline-24 text-start">Deactivating the account</div>
            </div>
            <div class="col-md-2 text-end text-black">
                <i class="fe-x cursor-pointer bold-600" (click)="modal.dismiss()"></i>
            </div>
        </div>
        <div class="delete-alert-content text-start">
            Do you want to deactivate <b>{{deleteFirstname}} {{deleteLastname}}</b>?
        </div>
        <div class="d-flex justify-content-end mt-3">
            <div class="delete-cancel-button mt-0 line-40 cursor-pointer" (click)="modal.dismiss()">
                Cancel
            </div>
            <div>
                <button class="btn btn-primary ms-2-1" (click)="deactiveMembers()">Deactivate</button>
            </div>
        </div>
    </div>
</ng-template>