<div class="row">
    <div class="col-md-6 headline">
        Members
    </div>
    <div class="col-md-6 text-end">
        <button class="btn btn-primary" *ngIf="canEdit" (click)="inviteMembers()"><i
                class="fe-plus-square me-1-1"></i>Invite Member</button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="d-inline-block subtitle-2-600-24 line-40">{{showCount}} Users </div>
        <div class="dropdown-outline ms-2-1" ngbDropdown #statusDrop="ngbDropdown">
            <a href="javascript:void(0)"
                ngbDropdownToggle>
               <span class="text-typeblack80">Status</span>
               <span class="ms-1-1 text-black btn-text-12">{{statusFilter}} </span>
                <i class=" fe-chevron-down"></i></a>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div ngbDropdownItem (click)="changeStatusFilter('All')">
                    <div class="form-check cursor-pointer" id="statusAll">
                        <input type="checkbox" class="form-check-input" name="statusFilter"
                            [checked]="statusFilter=='All'">
                        <label class="form-check-label ms-1-1">
                            All({{allCount}})
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem (click)="changeStatusFilter('Active')">
                    <div class="form-check cursor-pointer" id="statusActive">
                        <input type="checkbox" class="form-check-input" [checked]="statusFilter=='Active'"
                            name="statusFilter">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            Active({{activeCount}})
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem (click)="changeStatusFilter('Pending')">
                    <div class="form-check cursor-pointer">
                        <input type="checkbox" class="form-check-input" [checked]="statusFilter=='Pending'"
                            name="statusFilter">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            Pending({{pendingCount}})
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 text-end mt-2-1">

        <div class="dropdown" ngbDropdown #roleDrop="ngbDropdown">
            <a class="dropdown-outline" href="javascript:void(0)" ngbDropdownToggle>
                <i class="fe-user font-16 me-1-1"></i>
                {{roleFilter}}
                <i class="fe-chevron-down font-16 ms-1-1"></i>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div ngbDropdownItem (click)="changeRoleFilter('All')">
                    <div class="form-check" id="roleAll">
                        <input type="checkbox" class="form-check-input"
                            id="dropdownCheckRoleAll" [checked]="roleFilter=='All'" />
                        <label class="form-check-label ms-1-1">
                            ALL
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem *ngFor="let item of roleItems" (click)="changeRoleFilter(item.text);">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck{{item.text}}"
                            [checked]="roleFilter==item.text">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            {{item.text}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--end filter 1-->
        <div class="dropdown ms-1-1" ngbDropdown>
            <a class="dropdown-outline" href="javascript:void(0)" ngbDropdownToggle>
                <i class="fe-folder font-16 me-1-1"></i>
                Project
                <i class="fe-chevron-down font-16 ms-1-1"></i>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            ALL
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            Approval
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            Admin
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            Editor
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            Viewer
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--end filter 2-->
        <div class="dropdown ms-1-1" ngbDropdown #approvalDrop="ngbDropdown">
            <a class="dropdown-outline" href="javascript:void(0)" ngbDropdownToggle>
                <i class="fe-dollar-sign font-16 me-1-1"></i>
                {{approvalAmountFilter}}
                <i class="fe-chevron-down font-16 ms-1-1"></i>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div ngbDropdownItem (click)="changeapprovalAmountFilter('All');">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheckAmountAll"
                            [checked]="approvalAmountFilter=='All'">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            ALL
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem (click)="changeapprovalAmountFilter('1000');">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck1000"
                            [checked]="approvalAmountFilter=='1000'">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            $1,000
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem (click)="changeapprovalAmountFilter('2000');">
                    <div class="form-check" >
                        <input type="checkbox" class="form-check-input" id="dropdownCheck2000"
                            [checked]="approvalAmountFilter=='2000'" (change)="changeapprovalAmountFilter('2000');">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            $2,000
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem (click)="changeapprovalAmountFilter('5000');">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck5000"
                            [checked]="approvalAmountFilter=='5000'">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            $5,000
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem (click)="changeapprovalAmountFilter('7500');">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck7500"
                            [checked]="approvalAmountFilter=='7500'">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            $7,500
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem (click)="changeapprovalAmountFilter('10000');">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck10000"
                            [checked]="approvalAmountFilter=='10000'">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            $10,000
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--end filter 3-->
        <div class="d-inline-block ms-1-1">
            <input class="form-control form-search" type="search" placeholder="Search here" [(ngModel)]="keywords" />
        </div>
        <!-- end search-->
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <table class="advanced-table">
            <thead>
                <tr>
                    <th class="row_select"><input class="form-check" type="checkbox" /></th>
                    <th class="sortable"
                        [ngClass]="{'sorting_asc':sortColumn == 'firstName' && direction == 'asc','sorting_desc':sortColumn == 'firstName' && direction == 'desc'}"
                        (click)="onSort('firstName')">User</th>
                    <th class="sortable"
                        [ngClass]="{'sorting_asc':sortColumn == 'role' && direction == 'asc','sorting_desc':sortColumn == 'role' && direction == 'desc'}"
                        (click)="onSort('role')">Role</th>
                    <th class="sortable"
                        [ngClass]="{'sorting_asc':sortColumn == 'approvalAmount' && direction == 'asc','sorting_desc':sortColumn == 'approvalAmount' && direction == 'desc'}"
                        (click)="onSort('approvalAmount')">Approval amount</th>
                    <th class="sortable"
                        [ngClass]="{'sorting_asc':sortColumn == 'active' && direction == 'asc','sorting_desc':sortColumn == 'active' && direction == 'desc'}"
                        (click)="onSort('active')">Status</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of members | callback: filterTable; let i = index">
                    <td><input class="form-check" type="checkbox" /></td>
                    <td>
                        <div class="d-flex flex-row" *ngIf="item.idUser>0">
                            <div class="me-1-1">
                                <app-avatar [bgColor]="bgColors[i % 6]" [url]="item.avatar" [firstName]="item.firstName"
                                    [lastName]="item.lastName" color="text-white" [size]="32"
                                    alt="user-img"></app-avatar>
                            </div>
                            <div>
                                <div class="bold-600">{{item.firstName}}&nbsp;{{item.lastName}}</div>
                                <div class="text-typeblackdeactivated">ManagerSales</div>
                            </div>
                        </div>
                        <div class="d-flex flex-row" *ngIf="item.idUser == 0">
                            <div class="me-1-1">
                                <div [ngClass]="bgColors[i % 6]" class=" rounded-circle"
                                style="width:32px; height: 32px; padding: 8px;">
                                <i class="fe-user text-white  font-16"></i>
                            </div>
                            </div>
                            <div>
                                <div class="bold-600 line-32">{{item.email}}</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <app-dropdowndata *ngIf="editFlag && item.role != 'Owner' && item.idUser > 0" [displayText]="item.role"
                            [data]="roleItems" (selectValue)="editRoleValue(item,$event)"></app-dropdowndata>
                        <span *ngIf="!editFlag || item.role == 'Owner' || item.idUser == 0">{{item.role}}</span>
                    </td>
                    <td>
                        <app-dropdowndata *ngIf="editFlag && item.role != 'Owner'  && item.idUser > 0"
                            [displayText]="'$'+ item.approvalAmount" [data]="approvalAmount"
                            (selectValue)="editApprovalAmount(item,$event)"></app-dropdowndata>
                        <span *ngIf="!editFlag || item.role == 'Owner' || item.idUser == 0"><span
                                *ngIf="item.approvalAmount>0">{{item.approvalAmount | currency: 'USD' : 'symbol' :
                                '1.0-0' }}</span></span>
                    </td>
                    <td>
                        <span *ngIf="item.idUser>0">{{item.active?'Active':'InActive'}}</span>
                        <img *ngIf="item.idUser == 0" src="/assets/images/status-icons/pending.png" />
                    </td>
                    <td><i class=" fe-trash-2 cursor-pointer"
                            *ngIf="idUser==idUserOwner && item.role != 'Owner' && item.active"
                            (click)="deactive(i)"></i></td>
                </tr>
            </tbody>
            <tbody *ngIf="members.length == 0" class="bg-white">
                <tr *ngIf="loading">
                    <td colspan="6">
                        <div style="position: relative; height: 400px;">
                            <app-ui-preloader [display]="loading"></app-ui-preloader>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot style="height: 16px;">
                <tr>
                    <td colspan="6">&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<ng-template #inviteMember let-modal>
    <div class="modal-body">
        <div class="headline mt-1-1 mb-1-1">Invite Members to [{{companyName}}]</div>

        <div *ngIf="step =='step1'" class="formContainer">
            <div>
                <tag-input [validators]="validators" [addOnBlur]="true" [theme]="'foundation-theme'"
                    [separatorKeys]="[',',' ']" [(ngModel)]='emailList' placeholder="add email"
                    secondaryPlaceholder="Email, separate with comma"></tag-input>
            </div>
            <div class="bottomButton">
                <div>
                    <button class="btn btn-primary" [disabled]="emailList.length == 0" (click)="step1()">Next</button>
                </div>
                <div>
                    <button class="btn btn-outline-primary mt-1-1" (click)="cancelModal()">Cancel</button>
                </div>
            </div>
        </div>

        <!--end step 1-->
        <!-- <div *ngIf="step =='step2'" class="formContainer">
            <div class="emaillistInfo">
                <div class="emailItem mt-1-1 ms-1-1 d-inline-block" *ngFor="let item of emailList; let i = index">
                    {{item}}<i class="fe-x ms-1-1 bg-white cursor-pointer rounded-circle" (click)="deleteEmail(i)"></i>
                </div>
            </div>

            <div class="bottomButton">
                <div>
                    <button class="btn btn-primary" [disabled]="emailList.length == 0" (click)="step2()">Next</button>
                </div>
                <div>
                    <button class="btn btn-outline-primary mt-1-1"
                        (click)="step = 'step1' ;modal.dismiss('step2 click')">Cancel</button>
                </div>
            </div>
        </div> -->
        <!--end step 2-->

        <div *ngIf="step =='step3'" class="formContainer">
            <div class="row mt-1-1" *ngFor="let item of userList; let i = index">
                <div class="col-md-1">
                    <div [ngClass]="bgColors[i % 6]" class=" rounded-circle"
                        style="width:32px; height: 32px; padding: 8px;">
                        <i class="fe-user text-white  font-16"></i>
                    </div>
                </div>
                <div class="col-md-4 line-32 overflow-hidden">
                    <span *ngIf="!item.memberyn">{{item.email}}</span>
                    <del *ngIf="item.memberyn">{{item.email}}</del>
                </div>
                <div class="col-md-3 text-end subtitle-2-600 line-32 ">
                    <div *ngIf="!item.memberyn"
                        style="background-color: #F8F9FC;border-radius: 8px;display: inline-block;padding: 0px 8px;">
                        <app-dropdowndata [displayText]="item.approvalAmountText" [data]="approvalAmount"
                            [color]="'text-primary'" (selectValue)="step3Approval(item,$event)"></app-dropdowndata>
                    </div>
                </div>
                <div *ngIf="!item.memberyn" class="col-md-4 text-end subtitle-2-600 line-32">
                    <app-dropdowndata [displayText]="item.role" [data]="roleItems"
                        (selectValue)="step3Role(item,$event)"></app-dropdowndata>
                </div>
            </div>

            <div class="bottomButton">
                <div>
                    <button class="btn btn-primary" (click)="send()">Send Invite</button>
                </div>
                <div>
                    <button class="btn btn-outline-primary mt-1-1" (click)="cancelModal()">Cancel</button>
                </div>
            </div>
        </div>

        <!--end step 3-->
    </div>
</ng-template>

<ng-template #deleteModal let-modal>
    <div class="delete-modal-container">
        <input type="text" style="display: none;" />
        <div class="row">
            <div class="col-md-10">
                <div class="headline-24 text-start">Deactivating the account</div>
            </div>
            <div class="col-md-2 text-end text-black">
                <i class="fe-x cursor-pointer bold-600" (click)="modal.dismiss()"></i>
            </div>
        </div>
        <div class="delete-alert-content text-start">
            Do you want to deactivate <b>{{deleteFirstname}} {{deleteLastname}}</b>?
        </div>
        <div class="d-flex justify-content-end mt-3">
            <div class="delete-cancel-button mt-0 line-40 cursor-pointer" (click)="modal.dismiss()">
                Cancel
            </div>
            <div>
                <button class="btn btn-primary ms-2-1" (click)="deactiveMembers()">Deactivate</button>
            </div>
        </div>
    </div>
</ng-template>
