
.dropdown{
    display: inline-block;
 }
 .modal-body{
    height: 800px;
    background-color: #F7FAFC;
    padding:24px;
 }
 .swal2-alert-content,.swal2-html-container{
   text-align: left !important;
 }
