<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu" (clickOutside)="hideMenu()" [exclude]="'.open-left'" [excludeBeforeClick]="true">
    <div class="logo-box">
        <div>
            <img class="ms-3 adminIcons mt-3" src="/assets/images/Groups.svg" style="height: 19px;" />
            <img class="ms-3 adminIcon mt-3" src="/assets/images/Group.svg" style="height: 19px;" />
        </div>
    </div>

    <div class="toggleMenuIcon">
        <i (click)="changeLeftSidebarSize('condensed')" *ngIf="leftbarSize != 'condensed'" class="fe-chevron-left"
            style="color: #E5E7EB; font-size: 16px;"></i>
        <i (click)="changeLeftSidebarSize('default')" *ngIf="leftbarSize == 'condensed'" class="fe-chevron-right"
            style="color: #E5E7EB; font-size: 16px;"></i>
    </div>

    <ngx-simplebar class="h-100" style="margin-top:102px">
        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">
                <ng-container *ngFor="let menu of menuItems;let i = index">
                    <li *ngIf="menu.isTitle" class="menu-title" [class.mt-2]="i!==0">
                        {{menu.label}}
                    </li>
                    <ng-container *ngIf="!menu.isTitle">

                        <!-- menu item without any child -->
                        <ng-container *ngIf="!hasSubmenu(menu)">
                            <ng-container
                                *ngTemplateOutlet="MenuItem;context:{menu: menu, linkClassName: 'side-nav-link-ref'}">
                            </ng-container>
                        </ng-container>

                        <!-- menu item with child -->
                        <ng-container *ngIf="hasSubmenu(menu)">
                            <ng-container
                                *ngTemplateOutlet="MenuItemWithChildren;context:{menu: menu, linkClassName: 'side-nav-link-ref', subMenuClassNames: 'nav-second-level'}">
                            </ng-container>
                        </ng-container>
                    </ng-container>

                </ng-container>

            </ul>

            <div class="ms-2 sidebar-hr"></div>

            <div class="companyList">
                <div class="mt-1-1 cursor-pointer" style="height: 40px; overflow: hidden;" *ngFor="let item of companyList"
                    (click)="selectCompanyName(item.id,item.txtName,item.idUserOwner)">
                    <app-avatar  [url] = "item.avatar" [companyName] = "item.txtName"  [size]="40" alt="user-img" class="ms-2"></app-avatar>

                    <span class="user-profile bold-600 ms-1">
                        {{item.txtName.length>10?item.txtName.substring(0,10):item.txtName}}
                    </span>
                </div>

            </div>
            <!-- User box -->
            <div class="user-box">
                <div class="ms-2 sidebar-hr"></div>
                <div id="sidebar-menu1">
                    <ul id="side-menu1">

                        <li [ngClass]="{'menuitem-active': activeMenuItems.includes('setting')}">
                            <a class="side-nav-link-ref" [ngClass]="{'active': activeMenuItems.includes('setting')}"
                                data-menu-key="setting" routerLink="/apps/company">
                                <i class="fe-settings"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div style="height: 40px; overflow: hidden;">
                    <app-avatar [url] = "userAvatar" [firstName] = "firstName" [lastName] = "lastName" [size]="40" alt="user-img" class="ms-2"></app-avatar>
                    <span class="user-profile bold-600 ms-1">
                        Profile
                    </span>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->



        <div class="clearfix"></div>

    </ngx-simplebar>


</div>

<!-- Reusable Templates -->
<ng-template #MenuItemWithChildren let-menu="menu" let-linkClassName="linkClassName"
    let-subMenuClassNames="subMenuClassNames">
    <li [ngClass]="{'menuitem-active': activeMenuItems.includes(menu.key)}">
        <a href="javascript: void(0)" [class]="linkClassName" (click)="toggleMenuItem(menu,collapse)"
            [attr.aria-expanded]="!menu.collapsed" [attr.data-menu-key]="menu.key">
            <i [class]="menu.icon" *ngIf="menu.icon"></i>
            <span class="badge bg-{{menu.badge.variant}} float-end" *ngIf="menu.badge">{{menu.badge.text}}</span>
            <span>{{ menu.label }}</span>
            <span class="fe-plus-square menu-arrow" *ngIf="!menu.badge"></span>
        </a>

        <div #collapse="ngbCollapse" [(ngbCollapse)]="menu.collapsed">
            <ul [class]="subMenuClassNames">
                <ng-container *ngFor="let child of menu.children">
                    <ng-container *ngIf="hasSubmenu(child)">
                        <ng-container
                            *ngTemplateOutlet="MenuItemWithChildren;context:{menu: child, linkClassName: 'side-nav-link-ref', subMenuClassNames: 'nav-second-level'}">
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="!hasSubmenu(child)">
                        <ng-container
                            *ngTemplateOutlet="MenuItem;context:{menu: child, linkClassName: 'side-nav-link-ref'}">
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ul>
        </div>
    </li>
</ng-template>

<ng-template #MenuItem let-menu="menu" let-linkClassName="linkClassName">
    <li [ngClass]="{'menuitem-active': activeMenuItems.includes(menu.key)}">
        <ng-container *ngTemplateOutlet="MenuItemLink;context:{menu: menu, className: linkClassName}">
        </ng-container>
    </li>
</ng-template>

<ng-template #MenuItemLink let-menu="menu" let-className="className">
    <a [routerLink]="menu.url" [class]="className" [ngClass]="{'active': activeMenuItems.includes(menu.key)}"
        [attr.data-menu-key]="menu.key">
        <i [class]="menu.icon" *ngIf="menu.icon"></i>
        <span class="badge bg-{{menu.badge.variant}}  rounded-pill float-end"
            *ngIf="menu.badge">{{menu.badge.text}}</span>
        <span>{{ menu.label }}</span>
    </a>
</ng-template>