<div class="card mb-0">
    <div class="card-body padding-16-24">
        <div class="row">
            <div class="col-md-10 subtitle-2-600-24 text-black">
                Set color & icon
            </div>
            <div class="col-md-2 text-black line-24 text-end">
                <i class="fe-x cursor-pointer"  (click) = "close()"></i>
            </div>
        </div>

        <div class="row mt-3-1">
            <div class="col-md-12 Subtitle-1 text-start">
                Choose Color
            </div>
        </div>

        <div class="row mt-2-1">
            <div class="col-md-12 d-flex justify-content-between">
                <div class="colorItem" [ngClass]="{'colorItemActive': selectColor == '#EA001E'}"
                    (click)="selectColor = '#EA001E'" style="background-color: #EA001E;">
                </div>
                <div class="colorItem" [ngClass]="{'colorItemActive': selectColor == '#EAC608'}"
                    (click)="selectColor = '#EAC608'" style="background-color: #EAC608;">
                </div>
                <div class="colorItem" [ngClass]="{'colorItemActive': selectColor == '#41B658'}"
                    (click)="selectColor = '#41B658'" style="background-color: #41B658;">
                </div>
                <div class="colorItem" [ngClass]="{'colorItemActive': selectColor == '#2E844A'}"
                    (click)="selectColor = '#2E844A'" style="background-color: #2E844A;">
                </div>
                <div class="colorItem" [ngClass]="{'colorItemActive': selectColor == '#73B2FF'}"
                    (click)="selectColor = '#73B2FF'" style="background-color: #73B2FF;">
                </div>
            </div>
        </div>
        <div class="row mt-1-1">
            <div class="col-md-12 d-flex justify-content-between">
                <div class="colorItem" [ngClass]="{'colorItemActive': selectColor == '#2B52DD'}"
                    (click)="selectColor = '#2B52DD'" style="background-color: #2B52DD;">
                </div>
                <div class="colorItem" [ngClass]="{'colorItemActive': selectColor == '#354F72'}"
                    (click)="selectColor = '#354F72'" style="background-color: #354F72;">
                </div>
                <div class="colorItem" [ngClass]="{'colorItemActive': selectColor == '#9CA3AF'}"
                    (click)="selectColor = '#9CA3AF'" style="background-color: #9CA3AF;">
                </div>
                <div class="colorItem" [ngClass]="{'colorItemActive': selectColor == '#7838CC'}"
                    (click)="selectColor = '#7838CC'" style="background-color: #7838CC;">
                </div>
                <div class="colorItem" [ngClass]="{'colorItemActive': selectColor == '#FE8F7D'}"
                    (click)="selectColor = '#FE8F7D'" style="background-color: #FE8F7D;">
                </div>
            </div>
        </div>
        <div class="row mt-3-1">
            <div class="col-md-12 Subtitle-1 text-start">
                Choose Icon
            </div>
        </div>
        <div class="row mt-2-1">
            <div class="col-md-12 d-flex justify-content-between">
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-bell-off'}"
                    (click)="selectIcon = 'fe-bell-off'">
                    <i class="fe-bell-off font-24"></i>
                </div>
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-bell'}"
                    (click)="selectIcon = 'fe-bell'">
                    <i class="fe-bell font-24"></i>
                </div>
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-bluetooth'}"
                    (click)="selectIcon = 'fe-bluetooth'">
                    <i class="fe-bluetooth font-24"></i>
                </div>

                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-bold'}"
                    (click)="selectIcon = 'fe-bold'">
                    <i class="fe-bold font-24"></i>
                </div>
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-book-open'}"
                    (click)="selectIcon = 'fe-book-open'">
                    <i class="fe-book-open font-24"></i>
                </div>
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-book'}"
                    (click)="selectIcon = 'fe-book'">
                    <i class="fe-book font-24"></i>
                </div>
            </div>
        </div>
        <div class="row mt-1-1">
            <div class="col-md-12 d-flex justify-content-between">
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-grid'}"
                    (click)="selectIcon = 'fe-grid'">
                    <i class="fe-grid font-24"></i>
                </div>
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-target'}"
                    (click)="selectIcon = 'fe-target'">
                    <i class="fe-target font-24"></i>
                </div>
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-gift'}"
                    (click)="selectIcon = 'fe-gift'">
                    <i class="fe-gift font-24"></i>
                </div>

                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-database'}"
                    (click)="selectIcon = 'fe-database'">
                    <i class="fe-database font-24"></i>
                </div>
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-zap'}"
                    (click)="selectIcon = 'fe-zap'">
                    <i class="fe-zap font-24"></i>
                </div>
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-wifi'}"
                    (click)="selectIcon = 'fe-wifi'">
                    <i class="fe-wifi font-24"></i>
                </div>
            </div>
        </div>
        <div class="row mt-1-1">
            <div class="col-md-12 d-flex justify-content-between">
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-umbrella'}"
                    (click)="selectIcon = 'fe-umbrella'">
                    <i class="fe-umbrella font-24"></i>
                </div>
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-sun'}"
                    (click)="selectIcon = 'fe-sun'">
                    <i class="fe-sun font-24"></i>
                </div>
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-speaker'}"
                    (click)="selectIcon = 'fe-speaker'">
                    <i class="fe-speaker font-24"></i>
                </div>

                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-pie-chart'}"
                    (click)="selectIcon = 'fe-pie-chart'">
                    <i class="fe-pie-chart font-24"></i>
                </div>
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'fe-life-buoy'}"
                    (click)="selectIcon = 'fe-life-buoy'">
                    <i class="fe-life-buoy font-24"></i>
                </div>
                <div class="iconItem" [ngClass]="{'iconItemActive': selectIcon == 'payaxis-light'}"
                    (click)="selectIcon = 'payaxis-light'">
                    <i class="payaxis-light font-24 bold-600"></i>
                </div>
            </div>
        </div>
        <div class="row mt-3-1">
            <div class="col-md-12 text-center">
                <button class="btn btn-link" style="width: 109px;" (click) = "close()">Cancel</button>
                <button class="btn btn-primary" style="width: 109px;" (click) = "save()">Save</button>
            </div>
        </div>
    </div>
</div>
