.costcodeItem {
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    border: 1px solid #E1E6EF;
}

.categoryTitle {
    color: #215EA9;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
}
