<div class="row">
    <div class="col-md-3 headline-28 text-black" style="padding-top: 4px;">
        Invoice Inbox
    </div>
    <div class="col-md-9 text-end">
        <div class="d-inline-block  ms-2-1">
            <button class="btn btn-outline-primary btn-height-40" (click)="uploadInvoices()"><i class="fe-upload me-1-1"></i>Upload Invoce</button>
        </div>
        <button class="btn btn-primary btn-height-40 ms-2-1" (click)="uploadInvoices()">New Invoice</button>
    </div>
</div>

<div class="row mt-2-1">
    <div class="col-md-8">
        <span class="subtitle-2-600-24 text-black">{{invoiceList.length}} {{invoiceList.length > 1 ? 'Invoices' : 'Invoice'}}</span>
        
        <div class="d-inline-block dropdown ms-1-1" ngbDropdown>
            <a class="dropdown-outline btn-height-40" href="javascript:void(0)" ngbDropdownToggle>
                Status
                <b *ngIf="filterList.length>0 && filterList.length < 5">{{filterList.length}} selected</b>
                <b *ngIf="filterList.length == 0||filterList.length == 5">All</b>
                <i class="fe-chevron-down font-16 ms-1-1"></i>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu style="padding: 8px 0;">
                <div ngbDropdownItem *ngFor="let status of objectKeys(this.groupByStatusCount)" (click)="filterVendorList(status)"  style="padding: 8px 16px;border-radius: 0px;">
                    <div class="form-check text-center c-p">
                        <input type="checkbox" class="form-check-input" id="invoiceDropdownCheck_{{status}}"
                               [checked]="filterList.includes(status)" style="margin-top: 4px;">
                        <img class="mx-3-1" src="/assets/images/status-icons/{{status}}.png"
                             style="height: 24px;" />
                        <label class="text-end subtitle-2-400-12" for="invoiceDropdownCheck_{{status}}">
                            {{this.groupByStatusCount[status].length}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div class="col-md-4 text-end">
        <div class="d-inline-block">
            <input class="form-control form-search" type="search" placeholder="Search here..." [(ngModel)]="keywords" style="padding-top: 10px;padding-bottom: 10px;" />
        </div>
        <!-- end search-->
    </div>
</div>
<div class="row mt-2-1">
    <div class="col-md-12">
        <table class="advanced-table invoiceTable">
            <thead>
            <tr>
                <th class="row_select"><input class="form-check" type="checkbox" /></th>
                <th class="sortable"
                    [ngClass]="{'sorting_asc':sortColumn == 'invoicedDate' && direction == 'asc','sorting_desc':sortColumn == 'invoicedDate' && direction == 'desc'}"
                    (click)="onSort('invoicedDate')">Invoice Date</th>
                <th class="sortable"
                    [ngClass]="{'sorting_asc':sortColumn == 'status' && direction == 'asc','sorting_desc':sortColumn == 'status' && direction == 'desc'}"
                    (click)="onSort('status')">Status</th>
                <th class="sortable"
                    [ngClass]="{'sorting_asc':sortColumn == 'invoiceNumber' && direction == 'asc','sorting_desc':sortColumn == 'invoiceNumber' && direction == 'desc'}"
                    (click)="onSort('invoiceNumber')">Invoice #</th>
                <th class="sortable"
                    [ngClass]="{'sorting_asc':sortColumn == 'vendorName' && direction == 'asc','sorting_desc':sortColumn == 'vendorName' && direction == 'desc'}"
                    (click)="onSort('vendorName')">Vendor</th>
                <th class="sortable"
                    [ngClass]="{'sorting_asc':sortColumn == 'costCodeName' && direction == 'asc','sorting_desc':sortColumn == 'costCodeName' && direction == 'desc'}"
                    (click)="onSort('costCodeName')">Cost Code</th>
                <th class="sortable"
                    [ngClass]="{'sorting_asc':sortColumn == 'indvoicedueDate' && direction == 'asc','sorting_desc':sortColumn == 'indvoicedueDate' && direction == 'desc'}"
                    (click)="onSort('indvoicedueDate')">Due Date</th>
                <th class="sortable"
                    [ngClass]="{'sorting_asc':sortColumn == 'projectName' && direction == 'asc','sorting_desc':sortColumn == 'projectName' && direction == 'desc'}"
                    (click)="onSort('projectName')">Project</th>
                <th class="sortable"
                    [ngClass]="{'sorting_asc':sortColumn == 'amount' && direction == 'asc','sorting_desc':sortColumn == 'amount' && direction == 'desc'}"
                    (click)="onSort('amount')">Amount</th>
                <th class="sortable"
                    [ngClass]="{'sorting_asc':sortColumn == 'orderNumber' && direction == 'asc','sorting_desc':sortColumn == 'orderNumber' && direction == 'desc'}"
                    (click)="onSort('orderNumber')">Order #</th>
                <th></th>
            </tr>
            </thead>
            <tbody *ngIf="!loading">
            <tr *ngFor="let item of invoiceList | callback:filterTable; let i = index">
                <td><input class="form-check" type="checkbox" /></td>
                <td>{{item.invoicedDate | date: 'M/dd/yy'}}</td>
                <td>
                    <img src="assets/images/status-icons/{{item.status.toLowerCase()}}.png">
                </td>
                <td>{{item.invoiceNumber}}</td>
                <td>{{item.vendorName}}</td>
                <td>{{item.costCodeName}}</td>
                <td>{{item.indvoicedueDate | date: 'M/dd/yy'}}</td>
                <td>{{item.projectName}}</td>
                <td class="text-end">{{item.amount | currency}}</td>
                <td class="text-primary">{{item.orderNumber}}</td>
                <td style="height: 41px;padding-top: 11px;">
                    <span (click)="openMappingAttachments(item)" class="text-primary btn-text-12 c-p">
                        <i class="fe-edit-1"></i> Edit
                    </span>
                    
                    
                    <div class="d-inline-block dropdown ms-1-1" ngbDropdown>
                        <div ngbDropdownToggle>
                            <i class="fe-more-vertical- ms-2-1 c-p"></i>
                        </div>
                        <div class="dropdown-menu" ngbDropdownMenu style="padding:0;">
                            <div ngbDropdownItem class="subtitle-2-500" style="padding: 12px;border-radius: 0px;">
                                <i class="fe-folder me-1-1"></i> Move to another Order
                            </div>
                            <div *ngIf="item.status == 'Active'" ngbDropdownItem class="text-red c-p subtitle-2-500" (click)="invoiceArchive(item.id, item.revision)" style="padding: 12px;border-radius: 0px;">
                                <i class="fe-archive me-1-1"></i> Archive
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody *ngIf="loading" class="bg-white">
            <tr>
                <td colspan="11">
                    <div style="position: relative; height: 400px;">
                        <app-ui-preloader [display]="loading"></app-ui-preloader>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody *ngIf="invoiceList.length==0 && !loading" class="bg-white">
            <tr *ngIf="!loading && invoiceList.length==0"  style="position: relative; height: 400px;">
                <td colspan="11" class="text-center">
                    <div class="Paragraph-1 text-typeblackdeactivated bold-600  mt-40 ">No Invoice added yet</div>
                    <div class="Paragraph-2 text-typeblackdeactivated mt-1-1">Create new invoice in a few clicks
                    </div>
                    <div class="mt-1-1"> <button class="btn btn-primary ms-2-1"><i
                            class="fe-plus-square me-1-1"></i>New Invoice</button></div>
                </td>
            </tr>
            </tbody>
            <tfoot style="height: 16px;">
            <tr>
                <td colspan="11">&nbsp;</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>


<!--uploadInvoice-->
<ng-template #uploadInvoice let-modal>
    <app-upload-attachment [isInvoice]="true" [modalRef]="uploadInvoiceRef"></app-upload-attachment>
</ng-template>

<!--mappingAttachments-->
<ng-template #mappingAttachments let-modal>
    <app-mapping-attachments class="p-4-1" [initialInvoice]="mappingAttachementsParams" [modalRef]="mappingAttachmentsRef" style="width: 100%;"></app-mapping-attachments>
</ng-template>
