/* You can add global styles to this file, and also import other style files */
.otherLogin {
    display: flex;
    flex: 1;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

.lineorline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #20202080;

}

.lineorline:after,
.lineorline:before {
    background: #E5E7EB;
    content: "";
    height: 1px;
    width: 50%;
}

.lineorline:before {
    margin-right: 24px;
}

.lineorline:after {
    margin-left: 24px;
}

.passwordIcon {
    position: absolute;
    font-size: 1rem;
    right: 1rem;
    top: 40px;
    cursor: pointer;
}

.auth-button {
    position: fixed;
    bottom: 24px;
    width: 481px;
}

.swal2-close {
    width: 1rem !important;
    height: 1rem !important;
    font-size: 1rem !important;
    color: #202020 !important;
}

.swal2-close:active,
.swal2-close:focus {
    outline: none !important;
    box-shadow: none !important;
}

.swal2-html-container {
    margin: 1rem !important;
}

.swal2-alert-title {
    color: #202020;
    text-align: center;
    font-size: 21.33px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.swal2-alert-content {
    color: #202020;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 16px;
}

.swal2-alert-link {
    color: #2B52DD;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.28px;
    margin-top: 40px;
    text-align: center;
    cursor: pointer;
}

.digicode-input {
    width: 48px !important;
    height: 48px !important;
    margin: 8px;
    text-align: center;
    font-size: 30px !important;
    font-weight: 600 !important;
    padding: 0px !important;
}

.success-icon {
    width: 32px;
    height: 32px;
    background-color: #3BA755;
    border-radius: 32px;
    color: #ffffff;
    font-size: 16px;
    padding: 8px;
    display: inline-block;
    line-height: 16px;
}

.notstart-icon {
    width: 32px;
    height: 32px;
    border: 2px solid #9CA3AF;
    border-radius: 32px;
    color: #202020;
    font-size: 16px;
    display: inline-block;
    line-height: 25px;
    text-align: center;
}

.upload-icon {
    width: 56px;
    height: 56px;
    background-color: #E5E7EB;
    border-radius: 56px;
    padding: 16px;
    color: #202020CC;
    cursor: pointer;
}

.upload-text {
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--ct-link-color)
}

.cursor-pointer {
    cursor: pointer;
}

.emailItem {
    background-color: #E1E6EF;
    border-radius: 4px;
    padding: 2px 8px;
}

.swal2-styled.swal2-cancel {
    background-color: #ffffff !important;
    color: #2B52DD !important;

    &:hover {
        background-color: #ffffff !important;
        color: #2B52DD !important;
    }
}

.swal2-styled.swal2-confirm {
    border-radius: 8px !important;
}

.swal2-actions {
    justify-content: right !important;
    flex-direction: row-reverse;
    width: 100% !important;

}


.modal-backdrop {
    background-color: rgba(0, 0, 0) !important;
}

.modal-backdrop.show {
    opacity: 0.25 !important;
}

i {
    font-size: 16px;
    vertical-align: middle;
}

.modal-x {
    width: 36px;
    height: 36px;
    position: fixed;
    top: 8px;
    left: -44px;
    z-index: 91;
    background: #FFFFFFD9;
    border-radius: 8px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}