/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'icomoon';
  src: url('/assets/fonts/icomoon.eot?byt6a4');
  src: url('/assets/fonts/icomoon.eot?byt6a4#iefix') format('embedded-opentype'),
  url('/assets/fonts/icomoon.ttf?byt6a4') format('truetype'),
  url('/assets/fonts/icomoon.woff?byt6a4') format('woff'),
  url('/assets/fonts/icomoon.svg?byt6a4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="payaxis-"],
[class*=" payaxis-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.payaxis-invoice:before {
  content: "\e900";
}

.payaxis-light:before {
  content: "\e901";
}

.payaxis-pin:before {
  content: "\e902";
}

.payaxis-unpin:before {
  content: "\e903";
}

.otherLogin {
  display: flex;
  flex: 1;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #E5E7EB;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.lineorline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #20202080;

}

.lineorline:after,
.lineorline:before {
  background: #E5E7EB;
  content: "";
  height: 1px;
  width: 50%;
}

.lineorline:before {
  margin-right: 24px;
}

.lineorline:after {
  margin-left: 24px;
}

.passwordIcon {
  position: absolute;
  font-size: 1rem;
  right: 1rem;
  top: 40px;
  cursor: pointer;
}

.auth-button {
  position: fixed;
  bottom: 24px;
  width: 481px;
}

.swal2-close {
  width: 1rem !important;
  height: 1rem !important;
  font-size: 1rem !important;
  color: #202020 !important;
}

.swal2-close:active,
.swal2-close:focus {
  outline: none !important;
  box-shadow: none !important;
}

.swal2-html-container {
  margin: 1rem !important;
}

.swal2-alert-title {
  color: #202020;
  text-align: center;
  font-size: 21.33px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.swal2-alert-content {
  color: #202020;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 16px;
}

.swal2-alert-link {
  color: #2B52DD;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.28px;
  margin-top: 40px;
  text-align: center;
  cursor: pointer;
}

.digicode-input {
  width: 48px !important;
  height: 48px !important;
  margin: 8px;
  text-align: center;
  font-size: 30px !important;
  font-weight: 600 !important;
  padding: 0px !important;
}

.success-icon {
  width: 32px;
  height: 32px;
  background-color: #3BA755;
  border-radius: 32px;
  color: #ffffff;
  font-size: 16px;
  padding: 8px;
  display: inline-block;
  line-height: 16px;
}

.notstart-icon {
  width: 32px;
  height: 32px;
  border: 2px solid #9CA3AF;
  border-radius: 32px;
  color: #202020;
  font-size: 16px;
  display: inline-block;
  line-height: 25px;
  text-align: center;
}

.upload-icon {
  width: 56px;
  height: 56px;
  background-color: #E5E7EB;
  border-radius: 56px;
  padding: 16px;
  color: #202020CC;
  cursor: pointer;
}

.upload-text {
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--ct-link-color)
}

.cursor-pointer {
  cursor: pointer;
}

.emailItem {
  background-color: #E1E6EF;
  border-radius: 4px;
  padding: 2px 8px;
}

.swal2-styled.swal2-cancel {
  background-color: #ffffff !important;
  color: #2B52DD !important;

  &:hover {
    background-color: #ffffff !important;
    color: #2B52DD !important;
  }
}

.swal2-styled.swal2-confirm {
  border-radius: 8px !important;
}

.swal2-actions {
  justify-content: right !important;
  flex-direction: row-reverse;
  width: 100% !important;

}

.delete-alert-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-top: 24px;
}


.delete-cancel-button {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #2B52DD;
}


.modal-backdrop {
  background-color: rgba(0, 0, 0) !important;
}

.modal-backdrop.show {
  opacity: 0.25 !important;
}

i {
  font-size: 16px;
  vertical-align: middle;
}

.modal-x {
  width: 36px;
  height: 36px;
  position: fixed;
  top: 8px;
  left: -44px;
  z-index: 91;
  background: #FFFFFFD9;
  border-radius: 8px;
  text-align: center;
  line-height: 34px;
  cursor: pointer;

  .fe-x {
    line-height: 35px;
  }
}

.importContain {
  width: 236px;
  height: 120px;
  margin: 8px auto;
}

.importDiv {
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #F8F9FC;
  width: 110px;
  height: 120px;
  cursor: pointer;
}

.delete-modal-container {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #ffffff;

}
