<div id="payingBillModal" class="modal-body modal-form-control" ngbAutoFocus style="padding: 32px 24px 160px;">
    <div class="headline-24">Paying Bill</div>
    
    
    <div *ngIf="step < 3 || (step === 3 && vendor === undefined)" class="my-3-1">
        <div class="headline-24-400">{{progressTitles[step][0]}}</div>
        <div class="search-text mt-1-1">{{progressTitles[step][1]}}</div>
        <ngb-progressbar [value]="progressTitles[step][2]" class="progress-md mt-1-1"></ngb-progressbar>
    </div>
    
    
    <div *ngIf="step == 1">
        <div class="card mt-3-1" *ngFor="let item of paymentList">
            <div class="card-body p-2-1">
                <div class="row">
                    <div class="col-12 Subtitle-1 text-start">{{item.vendorName}}</div>
                </div>
                <div class="row" [ngClass]="i==0 ? 'mt-2-1' : 'mt-4-1'" *ngFor="let subItem of item.paymentOrderids; let i=index;">
                    <div class="col-6">
                        <div class="Subtitle-2 font-12">{{subItem.number == 0 ? '  ****' : '#' + subItem.number}}</div>
                        <div class="search-text">
                            Due {{subItem.dueDate | date: 'MMM d, y'}}</div>
                    </div>
                    <div class="col-6">
                        <input id="projectBudget"
                               class="form-control Subtitle-1"
                               type="text"
                               [(ngModel)]="subItem.currentAmount.value"
                               (keydown)="amountKeyDown($event, subItem)"
                               prefix="$"
                               mask="separator.2"
                               thousandSeparator=","
                               allowNegativeNumbers="false"
                               i18n-placeholder placeholder="0.00"
                               style="text-align: right;padding: 6px 16px;"
                        />
                        <div class="subtitle-2-400-12 text-end mt-0-1"
                             [class.txtRed]="subItem.currentAmount.redColor">
                            Remaining {{subItem.currentAmount.balance | currency}}
                        </div>
                    </div>
                    
                    <div *ngIf="subItem.bill" class="card mt-1-1" style="background-color: #F8F9FC;margin-bottom: 0;">
                        <div class="card-body" style="padding: 0.5rem 0.25rem;">
                            <div class="row">
                                <div class="col-12 mb-1-1">
                                    <div class="Subtitle-2 font-12">Bill Info</div>
                                </div>
                                <div class="col-6">
                                    <div class="Subtitle-2 font-12">{{subItem.bill.billNumber == 0 ? '  ****' : '#' + subItem.bill.billNumber}}</div>
                                    <div class="search-text">
                                        Sent Date {{subItem.bill.sentDate | date: 'MMM d, y'}}</div>
                                </div>
                                <div class="col-6">
                                    <div class="Subtitle-2 font-12 text-end">Amount</div>
                                    <div class="search-text text-end">
                                        {{subItem.bill.amount | currency}}</div>
                                </div>
                                <div class="col-6 mt-1-1">
                                    <div class="Subtitle-2 font-12">Contact</div>
                                    <div class="search-text">
                                        {{subItem.bill.vendorName}}</div>
                                </div>
                                <div class="col-6 mt-1-1">
                                    <div class="flex-row-end-center">
                                        <div class="ms-1-1 text-end">
                                            {{subItem.bill.senderFirstname}}&nbsp;{{subItem.bill.senderLastname}}<br/>
                                            <span class="subtitle-2-400-12 text-typeblackdeactivated">{{subItem.bill.senderEmail}}</span>
                                        </div>
                                        <div>
                                            <app-avatar [bgColor]="'bg-info'" color="text-white"
                                                        [url]="subItem.bill.senderAvatar"
                                                        [firstName]="subItem.bill.senderFirstname"
                                                        [lastName]="subItem.bill.senderLastname" [size]="32"
                                                        alt="user-img" class="ms-2"></app-avatar>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--                    <div class="col-6 mt-2-1 search-text" style="color: #4B5563;-->
                                <!--">-->
                                <!--                        Sent by Check from Chase 4556-->
                                <!--                    </div>-->
                                <!--                    <div class="col-6 mt-2-1 text-end" style="color: #2B52DD;">-->
                                <!--                        <i class="fe-edit me-1-1 font-16"></i>-->
                                <!--                        <span class="btn-text-12">Edit Payment Method</span>-->
                                <!--                    </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2-1">
                    <div class="col-12">
                        <label class="form-label" style="margin-bottom: 0;" i18n>Memo</label>
                        <span class="float-end text-optional mt-0-1">Optional</span>
                        <textarea class="form-control" type="text" id="memo" required i18n-placeholder rows="3"
                                  placeholder="max length 250" [(ngModel)]="item.payMemo"
                                  maxlength="250"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="step==2" class="card mt-3-1">
        <div class="card-body p-2-1">
            <div class="d-flex justify-content-between mb-1-1">
                <button class="btn btn-outline-primary ms-2-1" (click)="navigateToMonth('prev')"
                        style="width: 40px;height: 40px;padding: 6px;">
                    <i class="fe-chevron-left font-24 text-primary"></i>
                </button>
                <div class="Subtitle-1 p-1-1">{{(blueDate.year + '-' + blueDate.month + '-' + blueDate.day) | date: 'MMM d, y'}}</div>
                <button class="btn btn-outline-primary me-2-1" (click)="navigateToMonth('next')"
                        style="width: 40px;height: 40px;padding: 6px;">
                    <i class="fe-chevron-right font-24 text-primary"></i>
                </button>
            </div>
            <div id="paymentRangeDate">
                <ngb-datepicker #dp
                                (dateSelect)="onDateSelection($event)"
                                (navigate)="getDate($event)"
                                [displayMonths]="1"
                                [dayTemplate]="paymentRangeDate"
                                [outsideDays]="outsideDays">
                </ngb-datepicker>
                
                <ng-template #paymentRangeDate let-date let-currentMonth="currentMonth">
                    <div class="{{isCurrentMonth(date, currentMonth)}}"
                         [class.range]="isRange(date)"
                         [class.focused]="false">
                        <img *ngIf="dateEqual(date)" class="due"
                             src="assets/images/status-icons/due-red.png">
                        <div class="selected-dot"></div>
                        <span class="Subtitle-1-400" [class.blue]="date.equals(blueDate)">
                                    {{ date.day }}
                                </span>
                    </div>
                </ng-template>
            </div>
            
            <div class="search-text mt-2-1" style="color: #4B5563;">
                Estimate payment delivery
            </div>
            <div class="Subtitle-1 text-start">
                {{getDeliveryDateRange()}}
            </div>
            <div class="search-text" style="color: #202020CC;">
                Check will be sent out on the {{blueDate.day}}th
            </div>
        </div>
    </div>
    <div *ngIf="step==3" class="mt-2-1">
        <div *ngIf="vendor == undefined" class="row">
            <div class="col col-md-5">
                <div *ngFor="let item of objectValues(paymentList); let i=index;" class="flex-row-center mb-2-1"
                     (click)="selectVendor(item.idVendor, i)">
                    <div class="card cursor-pointer" [ngClass]="step3ActiveIndex==i ?'step3Active':'step3Inactive'"
                         style="width: calc(100% - 22px);margin-bottom: 0!important;">
                        <div class="card-body padding-16">
                            <div class="Subtitle-1 text-start">{{item.vendorName}}</div>
                            <div class="search-text text-optional pb-1-1">{{item.vendorAddress}}</div>
                            <div *ngFor="let subItem of item.paymentOrderids" class="mt-1-1">
                                <div class="flex-row-between-center search-text" style="color: #4B5563;">
                                    <div>
                                        {{subItem.number == 0 ? '  ****' : '#' + subItem.number}}
                                        <div *ngIf="subItem.status==='Overdue'"
                                             class="d-inline-block badge {{globalFunc.toCamelCase(subItem.status.toLowerCase())}}Tag subtitle-2-600 text-optional text-center ms-1-1">{{subItem.status}}
                                        </div>
                                    </div>
                                    <span
                                            class="subtitle-2-500 float-end"
                                            style="line-height: 16px;">{{subItem.currentAmount.value | currency}}</span>
                                </div>
                            </div>
                            <div *ngIf="item.paymentOrderids.length > 1"
                                 class="flex-row-between-center search-text mt-1-1 pt-1-1"
                                 style="color: #4B5563;border-top:1px solid #E5E7EB;">
                                Total<span class="Subtitle-1">{{getTotalAmount(item) | currency}}</span></div>
                        </div>
                    </div>
                    <div *ngIf="step3ActiveIndex==i">
                        <i class="fe-chevron-right ms-1-1 font-24"></i>
                    </div>
                </div>
            </div>
            <div class="col col-md-7">
                <div class="mb-2-1 p-2-1" style="border-radius: 16px;background-color: #fff;">
                    <div class="flex-row-between-center">
                        <div class="flex-row-between-center">
                            <div class="me-1-1"
                                 style="width: 24px;height: 24px;background-color: #202020;border-radius: 4px;padding: 3px;">
                                <img src="/assets/images/bill.png">
                            </div>
                            <div>
                                <div class="Subtitle-1 text-start">Check
                                    for {{paymentList[step3ActiveIndex].paymentOrderids.length}}
                                    Bills
                                </div>
                                <div class="btn-text-12 text-optional text-start">Check will be sent out on
                                    the {{blueDate.day}}th
                                </div>
                            </div>
                        </div>
                        <!--                        <button class="btn btn-outline-primary btn-height-40">-->
                        <!--                            <i class="fe-edit me-1-1 text-primary"></i> Edit-->
                        <!--                        </button>-->
                    </div>
                    <div class="mt-3-1">
                        <span class="search-text" style="color: #4B5563;">Vendor</span>
                        <span class="subtitle-2-500 float-end"
                              style="line-height: 1rem;">{{paymentList[step3ActiveIndex].vendorName}}</span>
                    </div>
                    <div class="mt-1-1">
                        <span class="search-text" style="color: #4B5563;">Estimate payment delivery</span>
                        <span class="subtitle-2-500 float-end"
                              style="line-height: 1rem;">{{getDeliveryDateRange()}}</span>
                    </div>
                    <div class="mt-1-1">
                        <span class="search-text" style="color: #4B5563;">Memo</span>
                        <span class="subtitle-2-500 float-end"
                              style="line-height: 1rem;">{{paymentList[step3ActiveIndex].payMemo}}</span>
                    </div>
                    <div *ngIf="paymentList[step3ActiveIndex].paymentOrderids.length > 1"
                         class="search-text flex-row-between-end mt-1-1 pt-1-1"
                         style="color: #4B5563;border-top:1px solid #E5E7EB;">
                        Total amount due<span class="headline-28"
                                              style="font-weight: 500;">{{getTotalAmount(paymentList[step3ActiveIndex]) | currency}}</span>
                    </div>
                    
                    <div class="mt-3-1">
                        <div class="mt-2-1 p-2-1"
                             *ngFor="let subItem of paymentList[step3ActiveIndex].paymentOrderids; let i=index;"
                             style="border-radius: 8px;background-color: #F8F9FC;">
                            <div class="Subtitle-1 text-start pb-1-1"
                                 style="border-bottom: 1px solid #E5E7EB;">
                                {{subItem.number}}
                                <div *ngIf="subItem.status==='Overdue'"
                                     class="d-inline-block badge {{globalFunc.toCamelCase(subItem.status.toLowerCase())}}Tag subtitle-2-600 text-optional text-center ms-1-1">{{subItem.status}}
                                </div>
                            </div>
                            
                            <div class="mt-1-1">
                                <span class="search-text" style="color: #4B5563;">Due Date</span>
                                <span class="subtitle-2-500 float-end"
                                      [ngClass]="{'text-red': subItem.status == 'Overdue'}"
                                      style="line-height: 1rem;">{{subItem.dueDate | date: 'MM/dd/yy'}}</span>
                            </div>
                            <div class="mt-1-1">
                                                <span class="search-text"
                                                      style="color: #4B5563;">Remaining balance</span>
                                <span class="subtitle-2-500 float-end"
                                      [ngClass]="{'text-red': subItem.status == 'Overdue'}"
                                      style="line-height: 1rem;">{{subItem.currentAmount.balance | currency}}</span>
                            </div>
                            
                            <ngb-progressbar type="success" [value]="calcProgressPercentage(subItem)"
                                             class="progress-sm mt-1-1"></ngb-progressbar>
                            
                            <div class="flex-row-between-center search-text mt-1-1"
                                 style="color: #4B5563;">
                                Amount due
                                <div class="flex-row-center Subtitle-1">
                                    <button *ngIf="subItem.currentAmount.balance==0"
                                            class="btn btn-outline-success btn-text-12 me-1-1"
                                            style="height: 16px;padding:0px 6px;border-radius: 4px;">
                                        Paid in full
                                    </button>
                                    {{subItem.currentAmount.value}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div *ngIf="vendor != undefined" class="card mt-3-1">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-row">
                        <div class="mt-1-1"
                             style="width: 24px; height: 24px;border-radius: 4px;background-color: #202020;padding: 3px;">
                            <img src="assets/images/bill.png">
                        </div>
                        <div class="ms-1-1">
                            <div class="Subtitle-1 text-start">Check for 1 Bill</div>
                            <div class="search-text" style="color: #202020CC;">Check will be sent out on
                                the {{blueDate.day}}th
                            </div>
                        </div>
                    </div>
                    <div class="text-end cursor-pointer" style="padding-right: 12px;color: #2B52DD;">
                        <i class="fe-edit me-1-1 font-16"></i>
                        <span class="btn-text-12">Edit</span>
                    </div>
                </div>
                <div class="mt-2-1" style="border: 1px solid #E1E6EF;border-radius: 8px;">
                    <div class="p-2-1">
                        <div class="d-flex flex-row justify-content-between">
                            <div>
                                <div class="Subtitle-1 text-start">
                                    {{vendor.vendorName}}</div>
                                <div class="label-tips text-start" style="color: #202020cc;">
                                    <span *ngIf="vendor.txtAddress">{{vendor.txtAddress}},</span>
                                    <span *ngIf="vendor.txtCity">{{vendor.txtCity}},</span>
                                    <span *ngIf="vendor.txtState">{{vendor.txtState}},</span>
                                    {{vendor.txtZipcode}}
                                </div>
                            </div>
                            <div class="text-end">
                                <div class="d-inline-block plumbingTag subtitle-2-600 text-blackprimary-op-50 text-center"
                                     style="width: 72px;padding: 0;line-height:22px;">Plumbing
                                </div>
                            </div>
                        </div>
                        <hr class="mt-2-1 mb-1-1" style="border-top: 1px solid #E1E6EF;">
                        <!--                    <div *ngIf="payment.account == ''" class="font-16 text-warning">-->
                        <!--                        <i class="fe-alert-circle font-24"></i>-->
                        <!--                        No payment method available, please go to Vendors and add a payment method for the vendor.</div>-->
                        <!--                    <div class="d-flex flex-row justify-content-between mb-1-1">-->
                        <!--                        <div class="search-text" style="color: #4B5563;">Vendor default payment method</div>-->
                        <!--                        <div class="Subtitle-2 text-end font-12">{{payment.payType.length > 0 ? payment.payType : '****'}}</div>-->
                        <!--                    </div>-->
                        <!--                    <div class="d-flex flex-row justify-content-between mb-1-1">-->
                        <!--                        <div class="search-text" style="color: #4B5563;">Payment method</div>-->
                        <!--                        <div class="Subtitle-2 text-end font-12">{{payment.account.length > 0 ? payment.account : '****'}}</div>-->
                        <!--                    </div>-->
                        <div class="d-flex flex-row justify-content-between mb-1-1">
                            <div class="search-text" style="color: #4B5563;">Estimate payment delivery</div>
                            <div class="Subtitle-2 text-end font-12">{{getDeliveryDateRange()}}</div>
                        </div>
                        <div class="d-flex flex-row justify-content-between mb-1-1">
                            <div class="search-text" style="flex:1;color: #4B5563;">Memo</div>
                            <div class="Subtitle-2 text-end font-12" style="flex:1;">{{paymentList[0].payMemo}}</div>
                        </div>
                        <hr class="my-1-1" style="border-top: 1px solid #E1E6EF;">
                        <div class="d-flex flex-row justify-content-between mb-1-1">
                            <div class="Subtitle-1" style="color: #4B5563;">
                                #{{paymentList[0].paymentOrderids[0].number}}</div>
                            <div class="text-end">
                                <div class="d-inline-block badge {{globalFunc.toCamelCase(paymentList[0].paymentOrderids[0].status.toLowerCase())}}Tag subtitle-2-600 text-blackprimary-op-50 text-center"
                                     style="width: 40px;padding: 0;line-height:22px;">{{paymentList[0].paymentOrderids[0].status}}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <div class="search-text" style="color: #4B5563;">Due date</div>
                            <div class="Subtitle-2 font-12">{{paymentList[0].paymentOrderids[0].dueDate | date: 'M/d/yy'}}</div>
                        </div>
                    </div>
                    <div class="mt-1-1 p-2-1" style="background-color: #F8F9FC;">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="search-text" style="color: #4B5563;">Remaining balance</div>
                            <div class="Subtitle-2 font-12">{{paymentList[0].paymentOrderids[0].currentAmount.balance}}</div>
                        </div>
                        <ngb-progressbar
                                [value]="paymentList[0].paymentOrderids[0].currentAmount.value/payment[0].remainingAmount*100"
                                type="success"
                                class="progress-md mt-1-1"></ngb-progressbar>
                        <div class="d-flex flex-row justify-content-between mt-1-1">
                            <div class="d-flex search-text align-items-end" style="color: #4B5563;">Total Amount due
                            </div>
                            <div class=""
                                 style="font-size: 38px;font-weight: 700;line-height: 40px;letter-spacing: 0.25px;text-align: right;">
                                ${{paymentList[0].paymentOrderids[0].currentAmount.value}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="step === 4" class="d-flex flex-column justify-content-center align-items-center"
         style="height: 80vh;color: #202020CC;">
        <img src="assets/images/check-mark.png"/>
        <div class="headline-24 mt-3-1">Payment Sent!</div>
        <div class="Subtitle-1-400 mt-3-1 px-2-1" style="padding: 0 70px;">Congrats! Payment has been sent. Budget amount will be updated.
        </div>
    </div>
    
    <div class="d-grid" style="width: calc(100% - 48px);position: fixed;bottom: 24px;right: 24px;z-index: 10;">
        <button *ngIf="step != 4"class="btn mb-1-1 {{ step === 3 ? 'btn-success' : 'btn-primary'}}" (click)="nextStep('continue')"
                style="height: 44px;border: none;">
            {{btnOK}}
        </button>
        <button class="btn btn-outline-primary" (click)="nextStep('back')" style="height: 44px;">
            <i *ngIf="step === 2 || step === 3" class="mdi mdi-arrow-left"></i>
            {{btnCancel}}
        </button>
    </div>
</div>

<div class="modal-x" (click)="modalRef.dismiss()">
    <i class="fe-x"></i>
</div>
