<!-- Topbar Start -->
<div class="navbar-custom">
    <div [class]="containerClass">
       

        <!-- LOGO -->
        <div class="logo-box" style="display: flex;">
            <div class=" ms-2 mt-2" style="width: 42px; height: 42px; background-color: #73B2FF; border-radius: 42px; display: inline-block;">
            </div>
            <div>
            <img class="ms-1-1 adminIcon mt-3" src="/assets/images/logo.png" style="height: 20px;" />
        </div>
        </div>

        <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
            <li *ngIf="layoutType==='vertical'">
                <button class="button-menu-mobile disable-btn waves-effect open-left"
                    (click)="toggleMobileMenu($event)">
                    <i class="fe-menu"></i>
                </button>
            </li>

            <li *ngIf="layoutType==='horizontal'">
                <!-- Mobile menu toggle (Horizontal Layout)-->
                <a class="navbar-toggle nav-link horizontal-toggle" (click)="toggleMobileMenu($event)">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </li>

            <li *ngIf="layoutType==='vertical'">
                <h4 class="page-title-main">{{pageTitle}}</h4>
            </li>

        </ul>

        <div class="clearfix"></div>
    </div>
</div>
<!-- end Topbar -->