<div class="row mt-2-1">
    <div class="col-md-4">
        <div class="d-inline-block headline">
            <span *ngIf="costcodelist.length == 0">No</span><span
                *ngIf="costcodelist.length > 0">{{costcodelist.length}}</span> Cost Codes
        </div>
        <div class="dropdown d-inline-block ms-2-1" ngbDropdown #roleDrop="ngbDropdown">
            <a class="dropdown-outline" href="javascript:void(0)" ngbDropdownToggle>
                Category&nbsp;
                <b>{{categoryFilter}}</b>
                <i class="fe-chevron-down font-16 ms-1-1"></i>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
                <div ngbDropdownItem>
                    <div class="form-check" (click)="changeCategoryFilter('All')">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck"
                            [checked]="categoryFilter=='All'">
                        <label class="form-check-label ms-1-1" for="dropdownCheck">
                            ALL
                        </label>
                    </div>
                </div>
                <div ngbDropdownItem *ngFor="let item of costCodeCategoryList">
                    <div class="form-check" (click)="changeCategoryFilter(item.txtName)">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck{{item.txtName}}"
                            [checked]="categoryFilter == item.txtName">
                        <label class="form-check-label ms-1-1" for="dropdownCheck{{item.txtName}}">
                            {{item.txtName}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 text-end">
        <div class="d-inline-block form-check form-switch line-24  me-2-1" *ngIf="costcodelist.length>0 && !loading">
            <input type="checkbox" id="customSwitch1" class="form-check-input me-1-1" [(ngModel)]="showArchived" />
            <label for="customSwitch1" class="form-check-label align-middle">Show Archived</label>
        </div>
        <div class="d-inline-block">
            <input class="form-control form-search" type="search" placeholder="Search here" [(ngModel)]="keywords" />
        </div>
        <div class="d-inline-block">

            <div ngbDropdown class="d-inline-block  ms-2-1">
                <button class="btn btn-outline-primary" ngbDropdownToggle><i class="fe-upload me-1-1"></i>Import<i
                        class="fe-chevron-down ms-1-1"></i></button>

                <input id="csvupload" type="file" (change)="importCostCodeFromCSV($event)" accept=".csv"
                    class="d-none" />
                <div ngbDropdownMenu style="width: 255px; ">
                    <div class="line-32 bold-600 cursor-pointer" ngbDropdownItem>Import from QuickBooks <img
                            class="float-end mt-1" src="/assets/images/icon/qb.png" /></div>
                    <div class="line-32 bold-600 cursor-pointer" ngbDropdownItem
                        onclick="document.getElementById('csvupload').click()">Import from CSV <img
                            class="float-end mt-1" src="/assets/images/icon/csv.png" /></div>
                </div>
            </div>

            <div ngbDropdown class="d-inline-block  ms-2-1">
                <button class="btn btn-outline-primary" ngbDropdownToggle><i class="fe-download me-1-1"></i>Export<i
                        class="fe-chevron-down ms-1-1"></i></button>

                <div ngbDropdownMenu style="width: 255px;">
                    <div class="line-32 bold-600 cursor-pointer" ngbDropdownItem>Export to QuickBooks <img
                            class="float-end mt-1" src="/assets/images/icon/qb.png" /></div>
                    <div class="line-32 bold-600 cursor-pointer" ngbDropdownItem>Export to CSV <img
                            class="float-end mt-1" src="/assets/images/icon/csv.png" /></div>
                    <div class="line-32 bold-600 cursor-pointer" ngbDropdownItem>Export CSV Template <img
                            class="float-end mt-1" src="/assets/images/icon/csv.png" /></div>
                </div>
            </div>

            <button class="btn btn-primary ms-2-1" style="margin-right: 2px;" (click)="openAddModal('Create')"><i
                    class="fe-plus-square me-1-1"></i>New
                Cost Code</button>
        </div>
    </div>
</div>
<div class="row mt-2-1">
    <div class="col-md-12">
        <table class="advanced-table">
            <thead>
                <tr>
                    <th class="row_select"><input class="form-check" type="checkbox" /></th>
                    <th style="width: 120px;" class="sortable"
                        [ngClass]="{'sorting_asc':sortColumn == 'category' && direction == 'asc','sorting_desc':sortColumn == 'category' && direction == 'desc'}"
                        (click)="onSort('category')">
                        Category
                    </th>
                    <th>
                        <span class="text-info ms-1-1" (click)="openCategoryEditModal()"><i class="fe-edit-1"></i> Edit
                            Categories</span>
                    </th>
                    <th class="sortable"
                        [ngClass]="{'sorting_asc':sortColumn == 'txtName' && direction == 'asc','sorting_desc':sortColumn == 'txtName' && direction == 'desc'}"
                        (click)="onSort('txtName')">Name</th>
                    <th class="sortable"
                        [ngClass]="{'sorting_asc':sortColumn == 'txtNotes' && direction == 'asc','sorting_desc':sortColumn == 'txtNotes' && direction == 'desc'}"
                        (click)="onSort('txtNotes')">Description</th>
                    <th class="sortable"
                        [ngClass]="{'sorting_asc':sortColumn == 'costCode' && direction == 'asc','sorting_desc':sortColumn == 'costCode' && direction == 'desc'}"
                        (click)="onSort('costCode')">Code</th>
                    <th>&nbsp;</th>
                    <th class="sortable"
                        [ngClass]="{'sorting_asc':sortColumn == 'Assigned' && direction == 'asc','sorting_desc':sortColumn == 'Assigned' && direction == 'desc'}"
                        (click)="onSort('Assigned')">Assigned Vendors</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" *ngFor="let item of costcodelist | callback: filterTable; let i = index">
                    <td><input class="form-check" type="checkbox" /></td>
                    <td colspan="2">
                        {{item.category}}
                    </td>
                    <td>
                        {{item.txtName}}
                    </td>
                    <td>
                        {{item.txtNotes}}
                    </td>
                    <td> {{item.costCode}}
                    </td>
                    <td> {{item.costCode}}
                    </td>
                    <td class="text-end pe-3">
                        <div *ngIf="!item.active" class="d-inline-block ArchivedTag">
                            Archived
                        </div>
                        <div *ngIf="item.active" style="width: 66px; display: inline-block;">

                        </div>
                        <i class="fe-edit-1 ms-3" (click)="updateCostCode(item)"></i>&nbsp;
                        <i *ngIf="item.active" class="fe-trash-2 cursor-pointer"
                            (click)="confirmDeleteCostCode(i,item.txtName,$event)"></i>
                        <i *ngIf="!item.active" class="fe-refresh-ccw cursor-pointer"
                            (click)="activeCostCode(item)"></i>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="costcodelist.length == 0" class="bg-white">
                <tr *ngIf="loading">
                    <td colspan="7">
                        <div style="position: relative; height: 400px;">
                            <app-ui-preloader [display]="loading"></app-ui-preloader>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!loading">
                    <td colspan="7" class="text-center">
                        <div class="Paragraph-1 text-typeblackdeactivated bold-600  mt-40 ">No Cost Codes added yet
                        </div>
                        <div class="Paragraph-2 text-typeblackdeactivated mt-1-1">Create new cost code in a few clicks
                        </div>
                        <div class="mt-1-1"> <button class="btn btn-primary ms-2-1" (click)="openAddModal('Create')"><i
                                    class="fe-plus-square me-1-1"></i>New Cost Code</button></div>

                        <div class="Paragraph-2 text-typeblackdeactivated mt-40 ">or import items from the file</div>

                        <div class="d-flex justify-content-around importContain mb-3">
                            <div class="importDiv">
                                <img class="mt-2-1" src="/assets/images/icon/qb.png" />
                                <div class="text-primary bold-600 mt-2-1">Import from QuickBooks</div>
                            </div>
                            <div class="importDiv">
                                <img class="mt-2-1" src="/assets/images/icon/csv.png" />
                                <div class="text-primary bold-600 mt-2-1">Import from CSV</div>
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<ng-template #deletecostcode let-modal>
    <div class="delete-modal-container">
        <input type="text" style="display: none;" />
        <div class="row">
            <div class="col-md-10">
                <div class="headline-24 text-start">Deleting Cost Code</div>
            </div>
            <div class="col-md-2 text-end text-black">
                <i class="fe-x cursor-pointer bold-600" (click)="modal.dismiss()"></i>
            </div>
        </div>
        <div class="delete-alert-content text-start">
            {{deleteCostcodeMessage}}
        </div>
        <div class="d-flex justify-content-end mt-3">
            <div class="delete-cancel-button mt-0 line-40 cursor-pointer" (click)="modal.dismiss()">
                Cancel
            </div>
            <div>
                <button class="btn btn-primary ms-3" (click)="deleteCostCode()">Confirm</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #addcostcode let-modal>
    <app-add-costcode [type]="costcodeButtonText" [data]="modalData" [modalRef]="addmodalref"></app-add-costcode>
</ng-template>