<div class="row">
    <div class="col-xl-6">

        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Badge Positioned</h4>
                <p class="sub-header">
                    Use the <code>.rounded-pill</code> modifier class to make badges more rounded.
                </p>

                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-primary position-relative">
                            Inbox
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary position-relative">
                            Profile
                            <span
                                class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                <span class="visually-hidden">New alerts</span>
                            </span>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-success mt-4">
                            Notifications <span class="badge bg-light text-dark ms-1">4</span>
                        </button>
<div class="mt-2">
    <div class="number-rounded ms-2">
        3
    </div>

    <div class="number-rounded ms-2">
        4
    </div>

    <div class="number-rounded ms-2">
        5
    </div>
</div>
                        
                    </div>
                </div>
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div>
</div>
